<h3 class="black-text">About Our Community</h3>
<div>  
    <h6>What is Layer5?</h6>
    <p class="indent">
      While small, the Layer5 community represents the largest collection of service mesh projects 
      and their maintainers in the world.

      We build projects to provide learning environments, deployment
       and operational best practices, performance benchmarks, create documentation, share networking opportunities, and more. 
      Our shared commitment to the open source spirit pushes Layer5 projects forward. New members are always welcome.
    </p>
    <div id="layer5-intro" style="padding-left:1em; float:center;  overflow: hidden;" >
      <iframe width="100%" height="220.5" src="https://www.youtube.com/embed/0yN5T5LB9ps" 
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen></iframe>
    </div>
    <h6>Open Source Projects</h6>
    <p class="indent">
        Layer5 projects are open source software. Anyone can download, use, work on, and share it with others.
        It's built on principles like collaboration, globalism, and innovation. 
        Layer5 projects are distributed under the terms of Apache v2.
      </p>
      <p class="indent">
            We believe that all contributors should expect and be part of a safe and friendly environment for 
            constructive contribution. We can more effectively and successfully compare and challenge different ideas 
            to find the best solutions for advancement, while building the size, diversity, and strength of our community.
      </p>
    <div id="gsoc-2019" class="card-content" style="position:relative;float:center;vertical-align: bottom;" >
        <h3 style="text-align:center;color:aliceblue;">
            <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;width:auto;" 
              class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
                href="http://slack.layer5.io">Join the Community</a></h3>
    </div>      
</div>