<a name="meshmate"></a><h3 class="black-text">Our Community Members</h3>
<div>
  <h6>Jump in! The community is warm</h6>
  With members across the world, the Layer5 community is diverse. Layer5 community members are individuals who have shown consistent commitment to advancing Layer5 open source initiatives.

  <div width="100%" style="justify-content:center; text-align: center;">
    <h3 style="text-align: center; color: aliceblue;display:inline-flex;
    ">
      <a
        style="
          font-size: 0.65em;
          width: auto;
        "
        href="/community/members"
        >See our community members</a>
    </h3>
  </div>
</div>
