<meta name="viewport" content="width=device-width, initial-scale=1">
<div align="center"><h3 class="black-text">Layer5 Meetings</h3></div>

<div style="overflow-x:auto;">
<table id="table101">
<tr>
  <th>Group</th>
  <th>Slack Channel</th>
  <th>Meeting Minutes</th> 
  <th>Meeting Link</th>
  <th>Meeting Recordings</th>
</tr>
<tr>
  <td><b><font color = #00b39f>Layer5 Community Meeting</font></b></td>
  <td><a href = "https://layer5io.slack.com/archives/CDM0ACDM5">#general</a></td>
  <td><a href="https://bit.ly/2It7IA4">Minutes</a></td>
  <td><a href="https://meet.layer5.io/community">Zoom Link</a></td>
  <td><a href = "https://www.youtube.com/playlist?list=PL3A-A6hPO2IMPPqVjuzgqNU5xwnFFn3n0">Youtube</a></td>
</tr>
<tr>
  <td><b><font color = #00b39f>Websites Meeting</font></b></td>
  <td><a href = "https://layer5io.slack.com/archives/C015QJKUMPU">#websites</a></td>
  <td><a href = "https://bit.ly/2XK4eQV"> Minutes</a></td>
  <td><a href = "https://meet.layer5.io/websites">Zoom Link</a></td>
  <td><a href = "https://www.youtube.com/watch?v=Zba0b0ZojOI&list=PL3A-A6hPO2IO1ZuLj3cbOTdi-hlkF4Lqu">Youtube</a></td>
</tr>
<tr>
  <td><b><font color = #00b39f>Meshery Development Meeting</font></b></td>
  <td><a href = "https://layer5io.slack.com/archives/CFGG6U10E">#meshery</a></td>
  <td><a href = "https://bit.ly/31OGQTk">Minutes</a></td>
  <td><a href = "https://meet.layer5.io/meshery">Zoom Link</a></td>
  <td><a href = "https://www.youtube.com/watch?v=SJctAfZ52d8&list=PL3A-A6hPO2INr4oEIorJqC8N0FtxnYj0a">Youtube</a></td>
</tr>
<tr>
  <td><b><font color = #00b39f>MeshMap Meeting</font></td></td>
  <td><a href = "https://layer5io.slack.com/archives/C011VPREG2Z">#meshery-ci</a></td>
  <td><a href = "https://bit.ly/3aXOaAs ">Minutes</a></td>
  <td><a href = "https://meet.layer5.io/meshmap">Zoom Link</a></td>
  <td><a href = "https://www.youtube.com/watch?v=ds9D2KgZKxo&list=PL3A-A6hPO2IM7rYiKxG4l3eQNc6X3IUex">Youtube</a></td>
</tr>
<tr>
  <td><b><font color = #00b39f>Newcomers' Meeting</font></b></td>
  <td><a href = "https://layer5io.slack.com/archives/C019426UBNY">#newcomers</a></td>
  <td><a href = "https://bit.ly/353Aa7D">Minutes</a></td>
  <td><a href = "https://meet.layer5.io/newcomers">Zoom Link</a></td>
  <td><a href = "https://www.youtube.com/watch?v=E1juH6Rjovo&list=PL3A-A6hPO2INVEknQ4R-VwDMUT9yM_FSm">Youtube</a></td>
</tr>
<tr>
  <td><b><font color = #606060>CNCF - SMI Community Meeting</font></b></td>
  <td><a href = "https://layer5io.slack.com/archives/C010H0HE2E6">#smi</a></td>
  <td><a href ="https://docs.google.com/document/d/1NTBaJf6LhUBlF8_lfvBBt_MbyPvT-6CZNg6Ckpm_yCo/edit">Minutes</a></td>
  <td><a href = "https://zoom.us/my/cncfsmiproject"> Zoom Link </a></td>
  <td>N/A</td>
</tr>
<tr>
  <td><b><font color = #606060>CNCF - SIG Network Meeting</font></b></td>
  <td><a href = "https://app.slack.com/client/T08PSQ7BQ/CMG237Z5Z">#sig-network</a></td>
  <td><a href = "https://docs.google.com/document/d/18hYemFKK_PC_KbT_TDBUgb0rknOuIhikkRxer4_bv4Q/edit# ">Minutes</a></td>
  <td><a href = "https://zoom.us/my/cncfsignetwork">Zoom Link</a></td>
  <td>N/A</td>
</tr>
</table>
<br />
</div>