<h3 class="center">Largest collection of
  service mesh projects and their maintainers in the world</h3>
<div>
  <!-- <h5 class="black-text">What is Layer5?</h5> -->
  <p class="indent">
    We build projects
    to provide learning environments, deployment and operational best practices,
    performance benchmarks, create documentation, share networking
    opportunities, and more. Our shared commitment to the open source spirit
    pushes Layer5 projects forward. New members are always welcome.
    <img
      src="/assets/images/datacenter-crash.svg"
      width="60%"
      align="left"
    />
    </p>
  <h6>Open Source Projects</h6>
  <p class="indent">
    Layer5 projects are open source software. Anyone can download, use, work on,
    and share it with others. It's built on principles like collaboration,
    globalism, and innovation. Layer5 projects are distributed under the terms
    of Apache v2.
  </p>
  <div width="100%" style="justify-content:center; text-align: center;">
    <h3 style="text-align: center; color: aliceblue;display:inline-flex;
    ">
      <a
        style="
          font-size: 0.65em;
          padding-bottom: 40px;
          padding-top: 10px;
          width: auto;
        "
        href="https://docs.google.com/document/d/1brtiJhdzal_O6NBZU_JQXiBff2InNtmgL_G1JgAiZtk/edit?usp=sharing"
        >Repository Overview</a>
    </h3>&nbsp;&nbsp;
    <h3 style="text-align: center; color: aliceblue;display:inline-flex;">
      <a
        style="
          font-size: 0.65em;
          padding-bottom: 40px;
          padding-top: 10px;
          width: auto;
        "
        class="waves-effect waves-light btn l5-dark-grey-text darken-2 l5-dark-yellow z-depth-2"
        href="http://slack.layer5.io"
        >Join the Community</a>
        </h3>
  </div>
</div>
