<h3 class="black-text">Our Community Members</h3>
<img
src="/assets/images/programs/Layer5-MeshMates.png"
width="40%" align="right" style="margin:5px;"
/>
<div>
  <h6>Jump in! The community is warm</h6>
  The Layer5 community is diverse with members from around the globe, who have shown consistent commitment in
  advancing our open source initiatives.
  <p class="indent">
    We believe that every contributor deserves a safe and friendly environment, enabling them to effectively compare different ideas and find the best solutions for advancement, while building the size, diversity, and strength of the community.
    </p>    
  <div width="100%" style="justify-content:center; text-align: left;">
    <h3 style="text-align: center; color: aliceblue;display:inline-flex;
    ">
      <a
        style="
          font-size: 0.60em;
          width: auto;
        "
        href="/community/members"
        >See our community members</a>
    </h3>
  </div>
</div>

<!-- MeshMates -->
<div>
  <h3>Layer5 MeshMates</h3>

  <h6>An onboarding and mentoring program</h6>
  <p class="indent">
    The Layer5 community is growing at a tremendous rate. We value our connections and that is what makes us unique. Whether it is your first Layer5 meeting or your tenth contribution, we want to make sure that you are supported and equipped to take advantage of all of that the Layer5 community has to offer. 
    <br />In the Layer5 mentor program, we will match you up with a <font color:  aliceblue>MeshMate</font> to support and guide you along the way.
  </p>

  <div width="100%" style="justify-content:center; text-align: left;">
    <h3 style="text-align: center; color: aliceblue;display:inline-flex;
    ">
      <a
        style="
          font-size: 0.60em;
          width: auto;
        "
        href="/community/meshmates"
        >Layer5 MeshMate Program</a>
    </h3>
  </div>
</div>
