<h3 class="black-text">Come Work with Us</h3>
If you’re a smart, curious person who can make contributions in and out of your areas of expertise, why not start now?
<div id="layer5-intro" style="position:relative; float:right; padding-left:1em; overflow: hidden;" >
  <iframe width="392" height="220.5" src="https://www.youtube.com/embed/0yN5T5LB9ps" 
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen></iframe>
</div>

<div>  
    <h6>What is Layer5?</h6>
    <p class="indent">
      While small, the Layer5 community represents the largest collection of service mesh projects 
      and their maintainers in the world. We build projects to provide learning environments, deployment
       and operational best practices, performance benchmarks, create documentation, share networking opportunities, and more. 
      Our shared commitment to the open source spirit pushes Layer5 projects forward. New members are always welcome.
    </p>

    <h6>Open Source Projects?</h6>
    <p class="indent">
        Layer5 projects are open source software. Anyone can download, use, work on, and share it with others.
        It's built on principles like collaboration, globalism, and innovation. 
        Layer5 projects are distributed under the terms of Apache v2.
      </p>
      <p class="indent">
            We believe that all contributors should expect and be part of a safe and friendly environment for 
            constructive contribution. We can more effectively and successfully compare and challenge different ideas 
            to find the best solutions for advancement, while building the size, diversity, and strength of our community.
      </p>
    <!-- <div id="gsoc-2019" class="card-content" style="position:relative;float:center;vertical-align: bottom;" >
        <h3 style="text-align:center;color:aliceblue;">
            <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;width:auto;" 
              class="waves-effect waves-dark btn white-text darken-2 l5-light-green z-depth-4"
                href="/internships">See Available Opportunities</a></h3>
    </div>       -->
</div>
<div style="z-index:20;">
  <h3 class="black-text">Available Opportunities</h3>
  See our <a href="/careers">careers</a> page for more about Layer5.
      <div>  
          <ul>
              <ol><b>Internships</b></ol>
              <ol> The key component of these projects is our community of contributors. Some contributors intern under the Google Summer of Code program, while others intern unpaid directly with Layer5. Irrespective, your contributions will affect people you've never met as the Layer5 projects are being broadly referenced and used in organizations large and small. The Layer5 community includes software engineers, researchers, students, artists, system administrators, operators and web designers -- all of whom will be happy to help you get started.
              </ol>
          </ul>
          <ul><ol> We believe that all contributors should expect and be part of a safe and friendly environment for constructive contribution. We can more effectively and successfully compare and challenge different ideas to find the best solutions for advancement, while building the size, diversity, and strength of our community.
           </ol>
       </ul>
      </div>
      <p>
      <h5 class="black-text">Participating Partners</h5>
       <ul>
         <ol><b>UT Austin Coding Boot Camp</b> - <a href="/assets/careers/internships/UT%20Austin%20Boot%20Camp%20-%20Meshery%20Flyer.pdf">Internship Flyer</a></ol>
         <ol><b>UEM Computer Science and Engineering</b> - <a href="/assets/careers/internships/UEM%20Jaipur%20-%20Meshery%20Flyer.pdf">Internship Flyer</a></ol>
         <ol><b>Google Summer of Code</b> - <a href="/gsoc/2020">Information</a></ol>
      </ul>
       </p>
  
   <!-- Internships 2019 -->
        <div style="flex-grow: .25;"></div>
        <div id="gsoc-2019" class="card-content" style="position:relative;float:center;vertical-align: bottom;" >
            <h3 style="text-align:center;color:aliceblue;">
                <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;width:300px;" 
                  class="waves-effect waves-dark btn white-text darken-2 l5-light-green z-depth-4"
                   href="mailto:jobs@layer5.io">Join Today</a> </h3>
        </div>
        <!-- <div id="gsoc-2019" class="card-content" style="position:relative;float:center;vertical-align: bottom;" >
            <h3 style="text-align:center;color:aliceblue;">
                <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;width:300px;" 
                  class="waves-effect waves-dark btn white-text darken-2 l5-light-green z-depth-4"
                   href="https://summerofcode.withgoogle.com/get-started/">Join Today</a> </h3>
        </div> -->
        
  </div>
  