<div style="z-index:20;">
<h3 class="black-text">Layer5 Partners Program</h3>
    
<div class="card-content" style="position:relative; float:right; width:40%; vertical-align: bottom;" >
  <h3 style="text-align:center;color:aliceblue;">
      <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;width:auto;" 
        class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
         href="mailto:community@layer5.io">Become a Partner</a></h3>
</div>      

    <p>Layer5 is dedicated to partnering with leading educational institutions, technology vendors, solution providers and 
      industry experts to drive the adoption of cloud native technologies focused on the evolution of how developers write modern applications,
      how operators run infrastructure and how product owners manage service offerings.         
    </p>        
    <p>Layer5, the service mesh community, established the Layer5 Partner Program 
      to develop an ecosystem to advance higher learning of cloud native networking and to enable service providers
        to accelerate customers’ digital transformations, helping them move into the new era of DevOps and cloud native applications.</p>
</div>

{% for partner in site.data.partners %}
{% if partner.visibility != "hide" %}
<div class="row" style="position: relative;overflow: auto;" itemprop="articleBody">
  {% capture parter_desc %}
  <div class="col s12 m8">
      <h3 style="color:#111111;text-align: justify;">{{partner.name}}</h3>
      <div style="margin-left:10px; padding-right:1em;">
        {{partner.desc}}
        <br />
        <div style="width: 100%; text-align: center; font-weight: bold;">
        More about our partner: 
        <a href="{{partner.link}}">{{partner.link}}</a>
        </div>
    </div>
  </div>
  {% endcapture %}
  {% capture parter_image %}
  <div class="col s12 m4">
    <div style="text-align:center; vertical-align:middle; position:relative;float:right;">
      <a href="{{partner.img}}">
        <img src="{{partner.img}}" width="100%"
          alt="{{partner.name}}"></a>
      </div> 
  </div>
  {% endcapture %}

  {% assign cont = forloop.index | modulo: 2 %}
    {% if cont == 0 %}
      {{ parter_desc }}
      {{ parter_image }}
    {% else %}
      {{ parter_image }}
      {{ parter_desc }}
    {% endif %}

</div>

  {% endif %}

  {% endfor %}
