<div style="z-index:20;">
<h2 class="black-text">Layer5 Partners Program</h2>
   
<div class="card-content" style="position:relative; 
  float:right; width:40%; vertical-align: bottom;" >
  <h3 style="text-align:center;color:aliceblue;">
      <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;width:auto;" 
        class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
         href="mailto:community@layer5.io">Become a Partner</a></h3>
</div>      
    <p>Layer5 is dedicated to partnering with leading educational institutions, technology vendors, solution providers and 
      industry experts to drive the adoption of cloud native technologies focused on the evolution of how developers write modern applications,
      how operators run infrastructure and how product owners manage service offerings.         
    </p>        
    <p>Layer5, the service mesh community, established the Layer5 Partner Program 
      to develop an ecosystem to advance higher learning of cloud native networking and to enable service providers
        to accelerate customers’ digital transformations, helping them move into the new era of DevOps and cloud native applications.</p>
</div>
<h3>Education Partners</h3>
{% for partner in site.data.partners %}
{% if partner.visibility != "hide" and partner.type == "education" %}
<div class="row">
  {% capture parter_desc %}
  <div class="col m8" style="position:relative;">
      <h4 style="color:#111111;">{{partner.name}}</h4>
      <div style="">
        {{partner.desc}}
      </div>
    </div>

  {% endcapture %}
  {% capture parter_image %}
  <div class="col m4" style="position:relative;text-align: center;">
    <img src="{{partner.img}}" style="{{partner.style}}" alt="{{partner.name}}">
    <p style="text-align: center;font-weight: bold;">
      <a href="{{partner.link}}">More about our partner</a>. 
    </p>
  </div>
  {% endcapture %}

  {% assign cont = forloop.index | modulo: 2 %}
    {% if cont == 0 %}
      {{ parter_desc }}
      {{ parter_image }}
    {% else %}
      {{ parter_image }}
      {{ parter_desc }}
    {% endif %}

  </div>

  {% endif %}

  {% endfor %}
  <h3>Technology Partners</h3>
{% for partner in site.data.partners %}
{% if partner.visibility != "hide" and partner.type == "technology" %}
<div class="row">
  {% capture parter_desc %}
  <div class="col m8" style="position:relative;">
      <h4 style="color:#111111;">{{partner.name}}</h4>
      <div style="">
        {{partner.desc}}
      </div>
    </div>

  {% endcapture %}
  {% capture parter_image %}
  <div class="col m4" style="position:relative;text-align: center;">
    <img src="{{partner.img}}" style="{{partner.style}}" alt="{{partner.name}}">
    <p style="text-align: center;font-weight: bold;">
      <a href="{{partner.link}}">More about our partner</a>. 
    </p>
  </div>
  {% endcapture %}

  {% assign cont = forloop.index | modulo: 2 %}
    {% if cont == 0 %}
      {{ parter_desc }}
      {{ parter_image }}
    {% else %}
      {{ parter_image }}
      {{ parter_desc }}
    {% endif %}

  </div>

  {% endif %}

  {% endfor %}