<div class="center apply">
    <img src="/assets/images/about/jobs_black.svg" style="vertical-align:bottom;width:3vw;display:inline;" />
    <h5 class="black-text center" style="display:inline;">How to Apply</h5>
    <p class="center">Submit your resume and a short cover letter to: 
        <a href="mailto:jobs@layer5.io">jobs@layer5.io</a></a></p>
</div>
    
<div style="flex-grow: .25;">&nbsp;</div>

<div class="row" style="padding:10px;">
    <a id="home" class="waves-effect waves-light btn l5-dark-grey-text darken-2 l5-dark-yellow z-depth-2" href="{{site.baseurl}}/careers">
        <i style="vertical-align:bottom" class="material-icons">arrow_back</i> Back to Open Positions</a>
     </div>
</div>