<div class="row" style="padding: 10px;">
  <a
    id="home"
    class="waves-effect waves-light btn l5-dark-grey-text darken-2 l5-dark-yellow z-depth-2"
    href="{{site.baseurl}}/careers"
    ><i style="vertical-align: bottom;" class="material-icons">arrow_back</i>
    Back to Open Positions</a
  >
</div>
<div
  style="
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  "
>
  <div class="l5-dark-green-bg center" style="height: 15vh; margin: 5px;">
    <h3 class="white-text" style="padding: 25px;">{{ page.title | escape }}</h3>
  </div>
  <img
    src="/assets/images/layer5/layer5-tag-linkedin.png"
    style="margin: 5px; height: 15vh;"
  />
</div>
