{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": false,
        "minify": false,
        "transpileTemplateLiterals": false,
        "pure": true
      }
    ],
    "@babel/plugin-proposal-optional-chaining"
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
