@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftBlack.otf') format('opentype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftBold.otf') format('opentype');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftBlackItalic.otf') format('opentype');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftExtraBold.otf') format('opentype');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftHeavy.otf') format('opentype');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftHeavyItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftLight.otf') format('opentype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftLightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftMedium.otf') format('opentype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftMediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftRegular.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftRegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftSemiBold.otf') format('opentype');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftSemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftThin.otf') format('opentype');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftUltraLight.otf') format('opentype');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    src: url('./static/fonts/qanelas-soft/QanelasSoftUltraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
