---
layout: default
lang: en
image:
  path: /assets/images/layer5/5-dark-bg.png
---
<head>
  <style>
    html {
      overflow:   scroll;
    }
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
   </style>
   
</head>
<body>
<div class="container no-pad-top">
    <div id="ecosystem" class="section scrollspy">
      <h3 style="text-align:center;color:aliceblue;">The Service Mesh Community</h3>
      {% include ecosystem.html %}
      <div style="flex-grow: .25;">&nbsp;</div>
      
    </div>
  </div>
  {% include customers.html %}

<div style="display: flex;align-items: center;justify-content: center;">
 
    <div style="align-self: flex-start;"></div>
        <div style="width: 600px;">
            {% include newsletter-signup-form.html %}
        </div>
    
    <div style="align-self: flex-end;">

 
</div>

  </div>

              <!-- GSOC 2020 
 
              <div id="gsoc-2020" class="card-content" style="position:relative;" >
                <h5 style="text-align:center;color:aliceblue;">
                  <a style="font-size:.9em;padding-top:5px;padding-bottom:45px;
                    min-width:240px;max-width:300px; width:100%" 
                    class="waves-effect waves-dark btn white-text darken-2 l5-light-blue
         z-depth-4"
                         href="/gsoc/2020"><img style="height:inherit;vertical-align: middle;" 
                         src="/assets/images/buttons/gsoc.svg" />
                         <span style="position: relative;bottom:-5px;padding-left:.3em;">Google SoC</span></a> </h5>
              </div>
              <h5 style="text-align:center;color:aliceblue;font-size:1.25em;">
                  Layer5 community participation in Google Summer of Code 2020.</h5>-->
</body>
  