---
layout: default
title:  "Service Mesh Landscape"
description: "Comparison of service meshes, API gateways, microservices libraries, and service proxies, answering what's the difference between Istio and Envoy?"
image: /assets/landscape/landscape.gif
author:
  twitter: layer5
lang: en
---
<!-- <div class="container" style="z-index:1;">
  <div class="row 4">
    <div class="col s3">
      <div class="sidebar-nav">

        {% include partials/sidebar.html %}

      </div>
    </div>
  </div>
</div> -->

<div class="container" style="z-index:1;">
    <div class="col s10">
      
      <div id="contact" class="section scrollspy" style="width:100%;">
        <div class="row">
          <a style="position:relative;float:left;" id="home" class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4" href="{{site.baseurl}}/#blog">
            <i class="material-icons">home</i></a>
          <!-- <div style="position:relative;float:right;">{% include partials/hori-social.html %}</div> -->
      </div>
      <h1 style="text-align:center;color:aliceblue;padding-top:0px;margin-top:0px;">Service Mesh Landscape</h1>
    </div>
      <div class="section scrollspy" style="width:100%;">        
        {% include service-meshes.html %}
      </div>

      <div class="row" style="padding:10px;">
        <a id="home" class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4" href="{{site.baseurl}}/#home"><i class="material-icons">arrow_back</i></a>
      </div>
    </div>
  </div>

