---
layout: default
title:  "Meshery - the multi-service mesh manager"
description: "Lifecycle and performance management for Istio, Linkerd, Envoy, App Mesh, Consul Connect, Network Service Mesh, Citrix CPX, VMware NSX-M, Octarine, Maesh and Kuma. 
Service mesh comparison and performance benchmarking applications across different service meshes and compare"
author: Lee Calcote
twitter: layer5
lang: en


redirect_from:
  - /Meshery
---
<!-- <meta name="twitter:image" content="https://layer5.io/assets/images/meshery/meshery-logo-dark-text.png" /> -->
<meta property="og:image" content="/assets/favicons/layer5-community-linkedin-center.png" /> <!-- 180x110 Image for Linkedin -->

<meta property="og:image:width" content="1500" />

<meta property="og:image:height" content="500" />

<meta property="og:image" content="image-600x315.jpg " /> <!-- 600x315 Image for Facebook -->

<meta property="og:image:width" content="600" />

<meta property="og:image:height" content="314" />
<div class="container" style="position:relative;z-index: 1;">
    <div class="col s10">
    <div style="text-align:center;padding:0;margin:0;">
      <img src="/assets/images/meshery/meshery-logo-shadow-light-white-text-side.svg" width="50%" />
    </div>
        <!-- <h1 style="text-align:center;color:aliceblue;">Meshery</h1> -->
        {% include meshery.html %}
    </div>
  </div>
  {% include newsletter-signup.html %}
