{% assign COLOR = include.COLOR %}
{% assign RCOLOR = include.RCOLOR %}
{% assign LCOLOR = include.LCOLOR %}

<!-- Promote thematic coloration -->
{% if include.COLOR contains 'blue' %}
    {% assign COLOR = 'var(--main-light-blue)' %}
{% elsif include.COLOR contains 'grey' %}
    {% assign COLOR = 'var(--main-dark-grey)' %}    
{% elsif include.COLOR contains 'red' %}
    {% assign COLOR = 'rgb(139, 39, 39)' %}
{% endif %}

{% if include.RVALUE %}
<!-- Dual-valued arrow -->
<div
    class="spectrum-arrow spectrum-dual"
    style="--lcolor: {{LCOLOR}}; --rcolor: {{RCOLOR}}"
>
    <span style="float: left">{{include.LVALUE}}</span>
    <span style="float: right">{{include.RVALUE}}</span>
</div>
{% else %}
<!-- Single-valued arrow -->
<div
    class="spectrum-arrow"
    style="--spectrum-color: {{COLOR}}"
>
    {{ include.NAME }}
</div>
{% endif %}