<div class="row spectrum-card-centered">
    {% for meshes in site.data.landscape.meshes %}
        {% if meshes[include.KEY] contains include.VALUE %}
        <div class="col s6 m4 l3">
            <div class="card-content center-align">
                <div class="spectrum-card-content card grey lighten-3">
                    <div class="spectrum-card-image card blue-grey darken-1">
                        <a href="{{meshes.link}}">
                            <div class="card-image tooltip" style="padding: 5px">
                                <img src="../assets/images/landscape/{{meshes.name}}.png" alt="{{meshes.name}}" style="padding-top: 1em">
                                <span class="tooltiptext">{{meshes.desc}}</span>
                            </div>
                        </a>
                    </div>
                    {{meshes.desc}}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>