<div class="spectrum-grid" >
  {% assign meshes = site.data.landscape.meshes | where: include.KEY, "Yes" %}
  {% for mesh in meshes%}
<div class="spectrum-grid-cell" style="margin-left: auto; margin-right: auto;--col: {{ mesh[include.orderKey]}}">
    <div class="spectrum-card-image card blue-grey darken-1" style="height: 80px; width: 80px;">
      <a href="{{mesh.link}}" style="height: 100%; width: 100%; display: inline-block">
        <div class="card-image tooltip" style="position:relative; width: 100%; padding: 20px; height: 100%;">
          <img src="../assets/images/landscape/{{mesh.name}}.png" alt="{{mesh.name}}"
            style="width: 70%; max-height: 70%; object-fit: contain; position: absolute; top: 0; bottom: 0; margin: auto;" />
          <span class="tooltiptext">{{mesh.desc}}</span>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>