<div class="row spectrum-card-centered flex">
  {% for meshes in site.data.landscape.meshes %} {% if meshes[include.KEY]
  contains include.VALUE %}

  <div class="col s6 m4 l2" style="margin-right: auto;">
    <div class="card-content center-align">
      <div class="spectrum-card-image card blue-grey darken-1" style="height: 180px;">
        <a href="{{meshes.link}}" style="height: 100%; width: 100%; display: inline-block">
          <div class="card-image tooltip" style="position:relative; width: 100%; padding: 20px; height: 100%;">
            <img src="../assets/images/landscape/{{meshes.name}}.png" alt="{{meshes.name}}"
              style="width: 70%; max-height: 70%; object-fit: contain; position: absolute; top: 0; bottom: 0; margin: auto;" />
            <span class="tooltiptext">{{meshes.desc}}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>