<!-- Comparative Spectrum Arrow -->
{% include partials/spectrum/arrow.html
    LVALUE = include.LVALUE
    RVALUE = include.RVALUE
    RCOLOR = include.RCOLOR
    LCOLOR = include.LCOLOR
%}

<div class="row card-content comparison spectrum-grid valign-wrapper">
{% for mesh in site.data.landscape.meshes %}
    {% if mesh[include.KEY] %}
    <div class="card tooltip center-align spectrum-grid-cell" style="--col: {{mesh[include.KEY]}}">
        <a href="{{mesh.link}}">
            <div class="card-image" style="padding: 5px">
                <img src="../assets/images/landscape/{{mesh.name}}.png" alt="{{mesh.name}}">
                <span class="tooltiptext">{{mesh.desc}}</span>
            </div>
        </a>
    </div>
    {% endif %}
{% endfor %}
</div>
