<table class="spectrum-table" style="color:var(--main-bg-color)">
    <thead style="background-color: #a6b7be; word-wrap: none">
        <tr>
            <th>Project</th>
            {% for mesh in site.data.landscape.meshes %}
                {% for PROJECT in include.PROJECTS %}
                    {% assign name = mesh.name | downcase %}
                    {% if name contains PROJECT %}
                    <th>
                        <a href="{{mesh.link}}">
                            <div class="card-image tooltip">
                                <img src="../assets/images/landscape/{{mesh.name}}.png" alt="{{mesh.name}}"/>
                                <span class="tooltiptext">{{mesh.desc}}</span>
                            </div>
                        </a>
                    </th>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for KEY in include.KEYS %}
        <tr style="border: 1px dashed #a6b7be">
            <td>{{KEY}}</td>
            {% for mesh in site.data.landscape.meshes %}
                {% for PROJECT in include.PROJECTS %}
                    {% assign name = mesh.name | downcase %}
                    {% assign value = mesh[KEY] | downcase %}
                    {% if name contains PROJECT %}
                        {% if include.GREAT contains value %}
                        <td style="--alpha: 1">
                        {% elsif include.GOOD contains value %}
                        <td style="--alpha: 0.5">
                        {% elsif include.BAD contains value %}
                        <td style="--alpha: 0">
                        {% else %}
                        <td style="--alpha: 0.2">
                        {% endif %}
                            {{mesh[KEY]}}
                        </td>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>