<h3 class="center">Welcome Newcomers!</h3>

<p>
    Whether you are a first-time contributor or an open-source veteran, you are welcome to contribute to and actively
    engage in the development of projects at Layer5.
</p>
<p>
    Here are some instructions to get you started and if you haven't yet, join the Slack channel to collaborate with the
    community.
</p>

<h4>How to contribute?</h4>

<p>
    The following set of steps outlines the process by which you can openly engage, learn, and participate in the broad
    set of open source projects at Layer5. If at any time you get stuck, please seek help in the #first-timers channel
    in the Layer5 (joining instructions below). Our MeshMates and community members are here to help!
</p>

<h3>Finding an issue to work on</h3>

<ol>
    <li>Browse the list of <a href="https://github.com/layer5io" target="_blank">Layer5 org</a> issues bearing the “<a
            href="https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+label%3A%22good+first+issue%22+"
            target="_blank">good first issue</a>” label, “<a
            href="https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+label%3A%22first+timers+only%22+"
            target="_blank">first timers only</a>” or the
        “<a href="https://github.com/issues?utf8=✓&q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+label%3A%22help+wanted%22+"
            target="_blank">help wanted</a>” label.</li>
    <li>Alternatively, find an area of interest by reviewing/browsing the <a
            href="https://drive.google.com/a/layer5.io/open?id=1brtiJhdzal_O6NBZU_JQXiBff2InNtmgL_G1JgAiZtk"
            target="_blank">Layer5
            Repository Overview</a> document.</li>
    <li>After identifying the issue you wish to work on, check whether it has been assigned or not by taking a look at
        the assignee section on the issue. If it hasn't been, signal your interest by commenting on the issue so that it
        can be assigned to you.
    </li>

</ol>

<h3>Working on your issue</h3>

<p>Once an issue has been assigned to you, it’s time to get started! 👩🏿‍💻</p>

<ol start="4">
    <li>Be sure to <a href="https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#signing-off-on-commits-developer-certificate-of-origin" target="_blank">sign-off on your commits</a>.</li>
</ol>