<div id="home" class="scrollspy">
 <div style="background-color: #FFF;height: 100px;" >
   <div class="section container">
      <div style="display: inline; float:right; padding-left:5%; ">  
          {% include partials/hori-social.html %} 
      </div>
      <div style="display: inline;">
      <a href="/">
        <img class="hide-on-med-and-down" 
          src="/assets/images/layer5/layer5-tag-community-white-bg.png" height="90px" align="left" />
        <img class="show-on-med-and-down" 
          src="/assets/images/layer5/layer5-white-bg-small.png"  height="40px" align="left" />
      </a>
    </div>
  </div>
 </div> 
 <!-- upper brow -->
 <img style="position:relative; top:0px; width:100%; z-index:0; pointer-events:none;" 
  src="/assets/images/homepage_header_waves_bottom.svg" />
</div>


