  <div id="home" class="section scrollspy">
    <div class="container" >
      <div >            
        <div style="display: inline; float:right; padding-left:5%; padding-bottom:5%;">  {% include partials/hori-social.html %} </div>
        <div style="display: inline;">
        <a href="/">
          <img class="hide-on-med-and-down" src="/assets/images/layer5/layer5-tag-community-white-small.png" height="110px" align="left"  
            style="padding-right:20px;" />
          <img class="show-on-med-and-down" src="/assets/images/layer5/layer5-tag-community-white.png"  height="60px" align="left" 
            style="padding-right:20px;" />
            
        </a>
          <!-- <h1 class="site-title" style="font-family: 'Open Sans', 'Gill Sans', Helvetica, sans-serif;
          color: #ffff !important; text-shadow: 1px 2px #000000;  text-align: left;">
            {{ site.name }}</h1>
          <h2 class="site-tagline" 
            class="light text-lighten-2"><i>{{ site.description }}</i></h2> -->
      </div>
    </div>
    <!-- <div class="parallax"><img src="{{site.parallax_image_one}}" alt="Layer 5 Service Mesh"></div> -->
  </div>
</div>
<div style="clear: both;"></div>