  <div id="home" class="section scrollspy">
    <div class="container" >
      <div >            
        <div style="display: inline; float:right; padding-left:5%; padding-bottom:5%;">  {% include partials/hori-social.html %} </div>
        <div style="display: inline;">
        <a href="/">
          <img class="hide-on-med-and-down" src="/assets/images/cube.png" align="left" height="170px" 
            style="padding-right:20px;" />
          <img class="show-on-med-and-down" src="/assets/images/cube-sh-small.png" align="left" 
            style="padding-right:20px;" />
        </a>
  
          <h1 class="site-title" style="font-family: 'Open Sans', 'Gill Sans', Helvetica, sans-serif;
          color: #ffff !important; text-shadow: 1px 2px #000000;  text-align: left;">
            {{site.name}}</h1>
          <h2 class="site-tagline" style="color:#cfd8dc; text-align: left;" 
            class="light text-lighten-2">{{ site.description }}</h2>
      </div>
    </div>
    <!-- <div class="parallax"><img src="{{site.parallax_image_one}}" alt="Layer 5 Service Mesh"></div> -->
  </div>
</div>