<div class="row">
  {% for book in site.books %}
  
  {% if book.visibility != "hide" %}

  <div class="col s12 m4">
    <div class="card" style="z-index: 1;">
      <div class="card-image">
        <a href="{{ book.url | relative_url }}"><img src="{{book.image}}"></a>
      <a id="{{book.url}}" class="btn-floating halfway-fab waves-effect z-depth-4 l5-light-blue waves-dark darken-3" 
        href="{{ book.url | relative_url }}"><i class="material-icons">more_horiz</i></a>
      </div>
      <div class="card-content">
        <h4>{{book.title}}</h4>{{book.brief}}
      </div>
    </div>
  </div>
  
  {% endif %}

  {% endfor %}
</div>