<h3 class="black-text">About</h3>
<div>  
    <h6>Community First</h6>
    <p class="indent">
      The Layer5 community represents the largest collection of service mesh projects 
      and their maintainers in the world.
    </p>
    <h6>Open Source First</h6>
    <p class="indent"></p>
      We build projects to provide learning environments, deployment
       and operational best practices, performance benchmarks, create documentation, share networking opportunities, and more. 
      Our shared commitment to the open source spirit pushes Layer5 projects forward. 
    </p>
</div>
<div class="col s12" style="display: flex; 
height: auto; flex-direction: column; flex-flow: column; vertical-align: middle; 
text-align:center; position: relative; ">
    <h3 style="text-align:left;color:aliceblue;">
        <a href="http://slack.layer5.io" class="black-text">Collaborate</a></h3>
    <p><a href="http://slack.layer5.io" class="black-text">Join the community</a> and collaborate on our projects.</p>
    {% include partials/vert-social.html %}
     <!-- include newsletter-signup-form.html heading-class="black-text" -->
</div>
