<div class="card medium">
  <!-- <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="assets/images/contact4.png">
  </div> -->
  <div class="card-content">
    <span class="card-title activator" style="text-align:right;"><a class="btn-floating waves-effect waves-light red pulse"><i class="large material-icons">arrow_drop_up</i></a></span>
    <div class="row" style="text-align:center">
        <a class="waves-effect waves-light btn grey darken-1" target="_blank" href="{{site.github}}"><i class="material-icons right">code</i>Github</a>
        <a class="waves-effect waves-light btn green darken-2" target="_blank" href="{{site.medium}}"><i class="material-icons right">library_books</i>Medium</a>
    </div>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Contact Form<i size="large" class="material-icons right">close</i></span>
    <form class="col s12" action="https://formspree.io/{{site.email}}" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input class="validate" id="icon_prefix" type="text" name="name">
          <label for="icon_prefix">Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input class="validate" id="email" type="email" name="_replyto">
          <label for="email" data-error="Please enter a valid Email Address" data-success="Verified!">Email</label>
        </div>
      </div>
      <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">message</i>
         <textarea id="icon_prefix2" class="materialize-textarea" name="message"></textarea>
         <label for="icon_prefix2">Message</label>
       </div>
     </div>
      <button class="btn waves-effect grey waves-dark darken-3 white-text z-depth-4" type="submit" name="action">Submit
         <i class="material-icons right">send</i>
       </button>
    </form>

  </div>
</div>
