<div class="row" style="display: flex; align-items: center;
justify-content: center;
height: auto; flex-direction: row; flex-flow: row;">
<div class="col s12 m4">
  <div class="card">
    <a href="/careers" class="waves-effect z-depth-0 
       waves-light darken-3" style="background-color:{{ site.layer5.gray }}; width: 100%;" >
      <div class="card-image">  
        <img class="light-shadow" src="/assets/images/about/jobs_white.svg" style="max-width:90%; max-height: 150px; 
        width: auto; height: auto; text-align: center; padding:5%; 
        margin-left: auto; margin-right: auto;" />
        <!-- <span class="card-title"><a style="color:white">{{ book.title | escape }}</a></span> -->
        <a id="careers" class="btn-floating halfway-fab waves-effect z-depth-4 
        l5-light-blue
 waves-dark darken-3"
        href="/careers">
        <i class="material-icons">more_horiz</i></a>
      </div>
      <div class="card-content center">
        <h5 class="black-text">Careers</h5>
        <span class="l5-dark-grey-text">I'm interested in career opportunities at Layer5.</span>
      </div>
    </a>
  </div>
</div>
<div class="col s12 m4">
  <div class="card">
    <a href="mailto:support@layer5.io" class="waves-effect z-depth-0
      waves-light darken-3" style="background-color:{{ site.layer5.gray }}; width: 100%;" >
      <div class="card-image">  
        <img class="light-shadow" src="/assets/images/about/support_white.svg" style="max-width:90%; max-height: 150px; 
        width: auto; height: auto; text-align: center; padding:5%; 
        margin-left: auto; margin-right: auto;" />
        <!-- <span class="card-title"><a style="color:white">{{ book.title | escape }}</a></span> -->
        <a id="partner" class="btn-floating halfway-fab waves-effect z-depth-4 
        l5-light-blue
 waves-dark darken-3"
        href="mailto:support@layer5.io">
        <i class="material-icons">more_horiz</i></a>
      </div>
      <div class="card-content center">
        <h5 class="black-text">Support</h5>
        <span class="l5-dark-grey-text">I need assistance with my cloud native infrastructure.</span>
      </div>
    </a>
  </div>
</div>
<div class="col s12 m4">
  <div class="card">
    <a href="/partners" class="waves-effect z-depth-0
      waves-light darken-3" style="background-color:{{ site.layer5.gray }}; width: 100%;" >
      <div class="card-image">  
        <img class="light-shadow" src="/assets/images/about/partner_white.svg" style="max-width:90%; max-height: 150px; 
        width: auto; height: auto; text-align: center; padding:5%; 
        margin-left: auto; margin-right: auto;" />
        <!-- <span class="card-title"><a style="color:white">{{ book.title | escape }}</a></span> -->
        <a id="/partner" class="btn-floating halfway-fab waves-effect z-depth-4 
        l5-light-blue
 waves-dark darken-3"
        href="/partners">
        <i class="material-icons">more_horiz</i></a>
      </div>
      <div class="card-content center">
        <h5 class="black-text">Partnership</h5>
        <span class="l5-dark-grey-text">I would like to establish a partnership with Layer5.</span>
      </div>
    </a>
  </div>
</div>
</div>
<div class="row" style="display: flex; align-items: center;
justify-content: center;
height: auto; flex-direction: row; flex-flow: row;">
<div class="col s12">
  <div class="card">
    <a href="/about" class="waves-effect z-depth-0
      waves-light darken-3" style="background-color:{{ site.layer5.gray }}; width: 100%;" >
      <div class="card-image">  
        <img class="light-shadow" src="/assets/images/about/contact_white.svg" style="max-width:90%; max-height: 150px; 
        width: auto; height: auto; text-align: center; padding:5%; 
        margin-left: auto; margin-right: auto;" />
        <!-- <span class="card-title"><a style="color:white">{{ book.title | escape }}</a></span> -->
        <a id="about" class="btn-floating halfway-fab waves-effect z-depth-4 
        l5-light-blue
 waves-dark darken-3"
        href="/about">
        <i class="material-icons">more_horiz</i></a>
      </div>
      <div class="card-content center">
        <h5 class="black-text">Contact</h5>
        <span class="l5-dark-grey-text">I have a general question or inquiry.</span>
      </div>
    </a>
  </div>
</div>
</div>
