<div style="height:13vh;background-color:rgba(60,73,79,1); padding-top:.5%;padding-bottom:.5%;margin-bottom:3%;">
    <div style="margin-bottom: 2%;"><h5 class="center" style="color:aliceblue;">Trusted by the World’s Top Companies</h5></div>
    <div class="row" style="padding-bottom:20px;margin:0%;" >
        <div class="col m3">&nbsp;</div>
            {% for partner in site.data.partners %}
                {% if partner.visibility != "hide" and partner.gallery == "yes" %}
                    <div class="col m2" style=" text-align: center;
                    line-height: 6vh; height:6vh; margin-left:2px;  padding-bottom: 10px; margin-right:2px">
                        <img src="{{partner.gallery_img}}" style="{{partner.gallery_style}}" 
                        alt="{{partner.name}}">
                    </div>
                {% endif %}
            {% endfor %}
    <div class="col m3">&nbsp;</div>
    </div>
</div>