<!-- 
<div class="container" style="display:block;overflow:auto;clear:both;">  
    <div class="row" style="float:left;position:relative;">
      <h5 style="text-align:center;color:aliceblue;font-size:1.25em;">Characterizing and contrasting service meshes and related technologies.</h5>
  
        <div class="col s10" style="text-align:center;">
          <div id="landscape" class="card-content" style="position:relative;float:center;">        
              <h5 style="text-align:center;color:aliceblue;">
                <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;" class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
                href="/landscape">Service Mesh Landscape</a> </h5></div>
          <div style="position:relative;float:center;" >
            <h5 style="text-align:center;color:aliceblue;">
                <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;" class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
                href="https://github.com/layer5io/meshery">Meshery Playground</a> </h5>
          </div>
        </div>
  </div>
  </div>
 -->
<div class="row" style="vertical-align: middle;float:center;height:fit-content;" >

  <div class="col s12 m6 " style="display: flex; 
    height: auto; flex-direction: column; flex-flow: column; vertical-align: middle; position: relative; ">
    
    <div style="flex-grow: .25;"></div>

        <!-- Meshery -->
        <div style="flex-grow: .25;"></div>
            
        <div id="meshery" class="card-content" style="position:relative;" >
          <h5 style="text-align:center;color:aliceblue;">
              <a style="font-size:.9em;padding-top:5px;padding-bottom:45px;
                min-width:240px;max-width:300px; width:100%" 
                class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
                href="/meshery"><img style="height:inherit;vertical-align: middle;" 
                src="/assets/images/meshery/meshery-logo-white.svg" />
                <span style="position: relative;bottom:-5px;padding-left:.3em;">Meshery</span></a> </h5>
        </div>
        <h5 style="text-align:center;color:aliceblue;font-size:1.25em;">
            Meshery is a multi-service mesh management plane for performance benchmarking and lifecycle management of service meshes.</h5>

    <!-- Landscape -->
        <div id="landscape" class="card-content" style="position:relative;">        
            <h5 style="text-align:center;color:aliceblue;">
              <a style="font-size:.9em;padding-top:5px;padding-bottom:45px;
              min-width:240px;max-width:300px; width:100%;" 
                 class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
                 href="/landscape"><img style="height:inherit;vertical-align: middle;" src="assets/images/buttons/landscape.svg" /> 
                 <span style="position: relative;bottom:-5px;padding-left:.3em;">Landscape</span></a> </h5>
        </div>              
        <h5 style="text-align:center;color:aliceblue;font-size:1.25em;">
            The service mesh landscape characterizes and contrasts service meshes and related technologies.</h5>

      <!-- Service Mesh Performance Specification -->
      <div style="flex-grow: .25;"></div>
      <div id="smps" class="card-content" style="position:relative;" >
        <h5 style="text-align:center;color:aliceblue;">
          <a style="font-size:.9em;padding-top:5px;padding-bottom:45px;
            min-width:240px;max-width:300px; width:100%" 
            class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
                 href="https://github.com/layer5io/service-mesh-performance-specification">
                 <img style="height:65%;vertical-align: middle;" 
                 src="/assets/images/buttons/smps.svg" />
                 <span style="position: relative;bottom:-4px;padding-left:.3em;">Performance
                  <!-- <i class="material-icons white-text">trending_up</i> -->
                  </span></a> </h5> 
      </div>
      <h5 style="text-align:center;color:aliceblue;font-size:1.25em;">
        A common format for describing and capturing service mesh performance.</h5>
          
      <!-- GSOC 2019 -->
      <div style="flex-grow: .25;">&nbsp;</div>
      <div style="flex-grow: .25;">&nbsp;</div>
      <div style="flex-grow: .25;">&nbsp;</div>
      <div id="gsoc-2019" class="card-content" style="position:relative;" >
        <h5 style="text-align:center;color:aliceblue;">
          <a style="font-size:.9em;padding-top:5px;padding-bottom:45px;
            min-width:240px;max-width:300px; width:100%" 
            class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
                 href="/gsoc/2019"><img style="height:inherit;vertical-align: middle;" 
                 src="/assets/images/buttons/gsoc.svg" />
                 <span style="position: relative;bottom:-5px;padding-left:.3em;">Google SoC</span></a> </h5>
      </div>
      <h5 style="text-align:center;color:aliceblue;font-size:1.25em;">
          Layer5 community participation in Google Summer of Code 2019.</h5>
    </div>
    <div class="col s6 m3">
      <div class="card" style="z-index: 1;">
        <div class="card-image">
          <a href="/books/istio-up-and-running"><img src="/assets/images/istio-up-and-running_medium.png"></a>
        <a id="/books/istio-up-and-running" class="btn-floating halfway-fab waves-effect z-depth-4 l5-light-blue waves-dark darken-3" 
          href="/books/istio-up-and-running"><i class="material-icons">more_horiz</i></a>
        </div>
        <div class="card-content">
          A must-read for anyone looking to get started with a Istio.
        </div>
      </div>

    </div>
    <div class="col s6 m3">
      <div class="card" style="z-index: 1;">
        <div class="card-image">
          <a href="https://www.forrester.com/webinar/Plan+A+Service+Mesh+For+Your+Microservices+Future/-/E-WEB29705"><img src="/assets/images/news/layer5-meshery-forrester/forrester-report.png"></a>
        <a id="https://www.forrester.com/webinar/Plan+A+Service+Mesh+For+Your+Microservices+Future/-/E-WEB29705" class="btn-floating halfway-fab waves-effect z-depth-4 l5-light-blue waves-dark darken-3" 
          href="https://www.forrester.com/webinar/Plan+A+Service+Mesh+For+Your+Microservices+Future/-/E-WEB29705"><img src="/assets/images/buttons/external-link_white.svg" 
          style="position:absolute; max-width:100%;  max-height: 20px; width: auto;
          height: auto; text-align: center; top: 10px;
          margin-left: auto;
          margin-right: auto;" /></a>
        </div>
        <div class="card-content">
          Forrester: Layer5 and Meshery Help Developers Focus On The Business
        </div>
      </div>
      </div>
  <!-- <div class="col s12 m6" style="margin-top:1em;">
      
      <div class="card"  style="height:90%; vertical-align: middle; padding-top:10px; z-index: 1;">
        <div class="card-image" style="vertical-align:bottom;">
          <a href="/blog/a-standard-interface-for-service-meshes">
          <img src="/assets/images/posts/2019-05-21-a-standard-interface-for-service-meshes/smi-logo.png" 
            style="max-width:40%; text-align: center;
            margin-left: auto;
            margin-right: auto;"></a>
        <a id="/blog/a-standard-interface-for-service-meshes" 
          class="btn-floating halfway-fab waves-effect z-depth-4 l5-light-blue waves-dark darken-3"
          href="/blog/a-standard-interface-for-service-meshes"><i class="material-icons">more_horiz</i></a>
        </div>
        <div class="card-content">
            <h4 style="font-weight:300"> A Standard Interface for Service Meshes</h4>
            by Lee Calcote
        </div>  
      </div>   -->
          
      <!-- <div id="meshery" class="card-content" style="position:relative;float:center;" >

      <a class="twitter-timeline" data-width="420" data-height="500px"
      data-theme="light" data-link-color="#62ACCD" href="https://twitter.com/layer5"
      data-chrome="nofooter noborders noscrollbar">Tweets by layer5</a> 
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div> -->
  </div>

