<div style="flex-grow: 0.25;">&nbsp;</div>
<div style="flex-grow: 0.25;">&nbsp;</div><!-- 
<div class="container" style="display:block;overflow:auto;clear:both;">  
    <div class="row" style="float:left;position:relative;">
      <h5 style="text-align:center;color:aliceblue;font-size:1.25em;">Characterizing and contrasting service meshes and related technologies.</h5>
  
        <div class="col s10" style="text-align:center;">
          <div id="landscape" class="card-content" style="position:relative;float:center;">        
              <h5 style="text-align:center;color:aliceblue;">
                <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;" class="waves-effect waves-dark btn white-text darken-2 l5-dark-yellow
 z-depth-4"
                href="/landscape">Service Mesh Landscape</a> </h5></div>
          <div style="position:relative;float:center;" >
            <h5 style="text-align:center;color:aliceblue;">
                <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;" class="waves-effect waves-dark btn white-text darken-2 l5-dark-yellow
 z-depth-4"
                href="https://github.com/layer5io/meshery">Meshery Playground</a> </h5>
          </div>
        </div>
  </div>
  </div>
 -->
<div class="row" style="vertical-align: middle; float: center; height: fit-content;">
  <div class="col s12 m6" style="
      display: flex;
      height: auto;
      flex-direction: column;
      flex-flow: column;
      vertical-align: middle;
      position: relative;
      margin-bottom: 90px;
    "
  >
    <div style="flex-grow: 0.25;">&nbsp;</div>

    <!-- Meshery -->
    <div style="flex-grow: 0.25;">&nbsp;</div>

    <div id="meshery" class="card-content" style="position: relative;">
      <h5 style="text-align: center; color: aliceblue;">
        <a
        style="
            font-size: 0.9em;
            padding-top: 5px;
            padding-bottom: 45px;
            min-width: 240px;
            max-width: 300px;
            width: 100%;
          "
          class="waves-effect waves-light btn l5-dark-grey-text darken-2 l5-dark-yellow z-depth-2"
          href="/meshery"
          ><img
            style="height: inherit; vertical-align: middle;"
            src="/assets/images/meshery/meshery-logo-white.svg"
          />
          <span style="position: relative; bottom: -5px; padding-left: 0.3em;"
            >Meshery</span
          ></a
        >
      </h5>
    </div>
    <h5 style="text-align: center; color: aliceblue; font-size: 1.25em;">
      Operate your service mesh with confidence
    </h5>
    <div style="flex-grow: 0.25;">&nbsp;</div>
    <div style="flex-grow: 0.25;">&nbsp;</div>
    <!-- Landscape -->
    <div id="landscape" class="card-content" style="position: relative;">
      <h5 style="text-align: center; color: aliceblue;">
        <a style="
            font-size: 0.9em;
            padding-top: 5px;
            padding-bottom: 45px;
            min-width: 240px;
            max-width: 300px;
            width: 100%;
          "
          class="waves-effect waves-light btn l5-dark-grey-text darken-2 l5-dark-yellow z-depth-2"
          href="/landscape"
          ><img
            style="height: inherit; vertical-align: middle;"
            src="assets/images/buttons/landscape.svg"
          />
          <span style="position: relative; bottom: -5px; padding-left: 0.3em;"
            >Landscape</span
          ></a
        >
      </h5>
    </div>
    <h5 style="text-align: center; color: aliceblue; font-size: 1.25em;">
      Which service mesh best-fit is for you?
    </h5>
    <div style="flex-grow: 0.25;">&nbsp;</div>
    <!-- Service Mesh Performance Specification -->
    <div style="flex-grow: 0.25;">&nbsp;</div>
    <div id="smp" class="card-content" style="position: relative;">
      <h5 style="text-align: center; color: aliceblue;">
        <a style="
            font-size: 0.9em;
            padding-top: 5px;
            padding-bottom: 45px;
            min-width: 240px;
            max-width: 300px;
            width: 100%;
          "
          class="waves-effect waves-light btn l5-dark-grey-text darken-2 l5-dark-yellow z-depth-2"
          href="/performance"
        >
          <img
            style="height: inherit; vertical-align: middle;"
            src="/assets/projects/smp/stacked/smp-white.svg"
          />
          <span style="position: relative; bottom: -4px; padding-left: 0.3em;"
            >Performance
            <!-- <i class="material-icons white-text">trending_up</i> -->
          </span></a>
      </h5>
    </div>
    <h5 style="text-align: center; color: aliceblue; font-size: 1.25em;">
      Measure your service mesh performance using the SMP standard
    </h5>
  </div>

  <div class="col s6 m3">
    <h5 class="center">
      <a class="white-text" href="/books">Learn Istio and other meshes</a>
    </h5>
    <div class="card" style="z-index: 1;">
      <div class="card-image">
        <a href="/books/istio-up-and-running"
          ><img src="/assets/images/istio-up-and-running_medium.png"
        /></a>
        <a
          id="/books/istio-up-and-running"
          class="btn-floating halfway-fab waves-effect z-depth-2 l5-dark-grey waves-light darken-3"
          href="/books/istio-up-and-running"
          ><i class="material-icons">more_horiz</i></a
        >
      </div>
      <div class="card-content">
        A must-read for anyone looking to get started with Istio.
      </div>
    </div>
    <h6 class="center">
      <a class="white-text" href="/workshops">Self-study service mesh workshops</a>
    </h6>
  </div>
  <div class="col s6 m3">
    <h5 class="center">
      <a class="white-text" href="/workshops">Meshery in our multi-mesh world</a>
    </h5>
    <div class="card" style="z-index: 1;">
      <div class="card-image">
        <a
          href="https://www.forrester.com/webinar/Plan+A+Service+Mesh+For+Your+Microservices+Future/-/E-WEB29705"
          ><img
            src="/assets/images/news/layer5-meshery-forrester/forrester-report.png"
        /></a>
        <a
          id="https://www.forrester.com/webinar/Plan+A+Service+Mesh+For+Your+Microservices+Future/-/E-WEB29705"
          class="btn-floating halfway-fab waves-effect z-depth-2 l5-dark-grey waves-light darken-3"
          href="https://www.forrester.com/webinar/Plan+A+Service+Mesh+For+Your+Microservices+Future/-/E-WEB29705"
          target="_blank"><img src="/assets/images/buttons/external-link_white.svg" style="
              position: absolute;
              max-width: 100%;
              max-height: 20px;
              width: auto;
              height: auto;
              text-align: center;
              top: 10px;
              margin-left: auto;
              margin-right: auto;
            " /></a>
      </div>
      <div class="card-content" style="padding-bottom: 25px;">
        Forrester: Layer5 Help Developers Focus On The Business
      </div>
    </div>
    <h6 class="center">
      <a class="white-text" href="/news">More about how Layer5 are service mesh leaders</a>
    </h6>
  </div>
</div>
