<!-- 
<div class="container" style="display:block;overflow:auto;clear:both;">  
    <div class="row" style="float:left;position:relative;">
      <h5 style="text-align:center;color:aliceblue;font-size:1.25em;">Characterizing and contrasting service meshes and related technologies.</h5>
  
        <div class="col s10" style="text-align:center;">
          <div id="landscape" class="card-content" style="position:relative;float:center;">        
              <h5 style="text-align:center;color:aliceblue;">
                <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;" class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
                href="/landscape">Service Mesh Landscape</a> </h5></div>
          <div style="position:relative;float:center;" >
            <h5 style="text-align:center;color:aliceblue;">
                <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;" class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
                href="https://github.com/layer5io/meshery">Meshery Playground</a> </h5>
          </div>
        </div>
  
    <div style="float:left;position:relative;" class="row" >    
      <a class="twitter-timeline" data-width="220" data-height="500px" 
      data-theme="dark" data-link-color="#62ACCD" href="https://twitter.com/layer5?ref_src=twsrc%5Etfw">Tweets by layer5</a> 
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  </div>
 -->
<div class="row" >

  <div class="col s12 m6 " style="display: flex; height: 500px; flex-direction: column;padding-right:40px;">
    <!-- Landscape -->
    <div style="flex-grow: .25;"></div>


        <div id="landscape" class="card-content" style="position:relative;float:center;">        
            <h5 style="text-align:center;color:aliceblue;">
              <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;" class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
              href="/landscape">Service Mesh Landscape</a> </h5>
        </div>
        <h5 style="text-align:center;color:aliceblue;font-size:1.25em;">
            The service mesh landscape characterizes and contrasts service meshes and related technologies.</h5>
    <!-- Meshery -->
    <div style="flex-grow: .25;"></div>
            
      <div id="meshery" class="card-content" style="position:relative;float:center;vertical-align: bottom;" >
        <h5 style="text-align:center;color:aliceblue;">
            <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;" class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
            href="https://github.com/layer5io/meshery">Meshery Playground</a> </h5>
      </div>
      <h5 style="text-align:center;color:aliceblue;font-size:1.25em;">
          Meshery is a playground for testing performance and experimenting with functionality of various service meshes.</h5>    
  </div>

  <div class="col s12 m6" style="padding-left:40px;">
      <div id="meshery" class="card-content" style="position:relative;float:center;" >

        <a class="twitter-timeline" data-width="420" data-height="500px" 
      data-theme="light" data-link-color="#62ACCD" href="https://twitter.com/layer5?ref_src=twsrc%5Etfw">Tweets by layer5</a> 
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
  </div>
</div>
