<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/stellarnav.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/materialize.min.js"></script>

<script src="{{site.baseurl}}/assets/js/init.js"></script>
{% include lightbox.html %}
</body>

<footer class="page-footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col l3 ">
          <span class="white-text" style="font-weight: bold;font-size:1.3em;">Resources</span>
          <ul>
            <li><a class="white-text" href="/landscape">Service Mesh Comparison</a></li>
            <li><a class="white-text" href="/landscape#tools">Service Mesh Tools</a></li>
            <li><a class="white-text" href="/books/">Service Mesh Books</a></li>
            <li><a class="white-text" href="/workshops/">Service Mesh Workshops</a></li>
          </ul>
        </div>
 

        <div class="col l3">
          <span class="white-text" style="font-weight: bold;font-size:1.3em;">Community</span>
          <ul>
            <li><a class="white-text" href="/blog">Blog</a></li>
            <li><a class="white-text" href="/partners">Partners</a></li>
            <li><a class="white-text " href="/careers/internships">Internships</a></li>
          </ul>
          <ul>
            <li><a class="white-text" href="/company/news">News</a></li>
            <li><a class="white-text" href="/careers">Careers</a></li>
            <li><a class="white-text" href="/brand">Brand</a></li>
          </ul>
        </div>

        <div class="col l3" >
          <span class="white-text" style="font-weight: bold;font-size:1.3em;">Projects</span>
          <ul>
              <li><a class="white-text" href="/meshery">Meshery</a></li>
              <li><a class="white-text" href="/landscape">Service Mesh Landscape</a></li>
              <li><a class="white-text" href="/blog/a-standard-interface-for-service-meshes">Service Mesh Interface</a></li>
              <li><a class="white-text" href="https://github.com/layer5io/service-mesh-performance-specification">Service Mesh Performance Specification</a></li>
          </ul>
        </div>
        <div class="col l3">
            <div class="white-text" style="font-weight: bold;font-size:1.3em;">Get Involved!</div>
            {% include partials/vert-social.html %}
          </div>       
      </div>

    </div>
    <div class="footer-copyright white-text text-lighten-1">
      <div class="row">
        <div class="col">
          <i class="material-icons white-text" style="padding-right:1px;vertical-align: middle;font-size: .9em;">copyright</i> 2020
          Layer5, Inc. All rights reserved. 
        </div>
        <div class="col">
          <a href="https://meshery.layer5.io/privacy-policy.html" class="white-text none" style="vertical-align: middle; ">Privacy</a>
          |
          <a href="https://meshery.layer5.io/terms-of-service.html" class="white-text none" style="vertical-align: middle; ">Terms</a>
        </div>
      </div>
    </div>

  </footer>
  {% if site.tag_manager_id and jekyll.environment == 'production' %}
  <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{site.tag_manager_id}}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endif %}     

</html>



