




<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/materialize.min.js"></script>
<script src="{{site.baseurl}}/assets/js/init.js"></script>
</body>

<footer class="page-footer">
    <div class="container" style="text-align: top;">
      <div class="row">
        <div class="col l4 offset-l2 s6" >
          <span class="white-text" style="font-weight: bold;font-size:1.3em;">Resources</span>
          <ul>
            <li><a class="white-text" href="/service-meshes">Service Mesh Comparison</a></li>
            <li><a class="white-text" href="/service-meshes#tools">Service Mesh Tools</a></li>
            <li><a class="white-text" href="/#blog">Service Mesh Books</a></li>
            <li><a class="white-text" href="/#workshop">Service Mesh Workshop</a></li>
          </ul>
        </div>


        <div class="col l4 offset-l2 s6" >
          <span class="white-text" style="font-weight: bold;font-size:1.3em;">Contact</span>
          <ul>
            <li><a class="white-text" href="mailto:community@layer5.io">Email</a></li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
          </ul>
        </div>
     
      </div>
      </div>
    <div class="footer-copyright" style="color:lightgrey;vertical-align: middle; padding-left: 30px;background-color: var(--main-bg-color);">
      <i class="material-icons" style="padding-right:5px;">copyright</i><p style="vertical-align: bottom;">2018 Copyright 
        <a class="waves-effect waves-light grey-text text-lighten-1" 
        href="http://calcotestudios.com">Layer5 Authors</a> | All rights reserved</p>
    </div>
  
  </footer>
</html>



<!-- <footer class="page-footer">
    <div class="footer-copyright" style="padding-left: 30px">
      <i class="material-icons" style="padding-right:5px">copyright</i><p>2018 Copyright 
        <a class="waves-effect waves-light lighten-1 " style="font-weight:bold;color:#FFFFFF;"
        href="http://calcotestudios.com">{{ site.name }}</a> | All rights reserved</p>
    </div>
  </footer> -->