<!-- particles.js container -->
<div id="particles-js"></div>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/materialize.min.js"></script>
<script src="{{site.baseurl}}/assets/js/init.js"></script>
</body>

<footer class="page-footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col l4 offset-l2 s6">
          <span class="white-text" style="font-weight: bold;font-size:1.3em;">Resources</span>
          <ul>
            <li><a class="white-text" href="/landscape">Service Mesh Comparison</a></li>
            <li><a class="white-text" href="/landscape#tools">Service Mesh Tools</a></li>
            <li><a class="white-text" href="/#blog">Service Mesh Books</a></li>
            <li><a class="white-text" href="/#workshop">Service Mesh Workshop</a></li>
          </ul>
        </div>


        <div class="col l4 offset-l2 s6" >
          <span class="white-text" style="font-weight: bold;font-size:1.3em;">Contact</span>
          {% include hori-social.html %}
          <a class="white-text" href="/subscribe">Subscribe to mailing list</a>
        </div>
        
      
     
      </div>
    </div>
    <div class="footer-copyright grey-text text-lighten-1">
      <div class="row">
        <div class="col l4">
          <i class="material-icons grey-text" style="padding-right:2px;vertical-align: middle;">copyright</i>2018 Copyright
          <a class="waves-effect waves-light grey-text text-lighten-2" style="vertical-align: middle;"
          href="https://github.com/leecalcote/layer5/graphs/contributors">Layer5 Authors</a>
        </div>
        <div class="col l4">
          <a class="waves-effect waves-light grey-text text-lighten-2" style="vertical-align: middle;">
          All rights reserved  </a>
        </div>
        <div class="col l4">
            design by 
          <a class="waves-effect waves-light grey-text text-lighten-2" style="vertical-align: middle;"
          href="https://calcotestudios.com">Calcote Studios</a>
        </div>
      </div>
    </div>




  </footer>
  <!-- scripts -->
<script src="/assets/js/particles/particles.js"></script>
<script src="/assets/js/particles/app.js"></script>
<!-- <button onclick="positionParticles()">Footer</button> -->
</html>



<!-- <footer class="page-footer">
    <div class="footer-copyright" style="padding-left: 30px">
      <i class="material-icons" style="padding-right:5px">copyright</i><p>2018 Copyright 
        <a class="waves-effect waves-light lighten-1 " style="font-weight:bold;color:#FFFFFF;"
        href="http://calcotestudios.com">{{ site.name }}</a> | All rights reserved</p>
    </div>
  </footer> -->