<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/materialize.min.js"></script>
<script src="{{site.baseurl}}/assets/js/init.js"></script>
</body>

<footer class="page-footer">
    <div class="container" style="">
      <div class="row">
        <div class="col l4 offset-l2 s6">
          <span class="white-text" style="font-weight: bold;font-size:1.3em;">Resources</span>
          <ul>
            <li><a class="white-text" href="/service-meshes">Service Mesh Comparison</a></li>
            <li><a class="white-text" href="/service-meshes#tools">Service Mesh Tools</a></li>
            <li><a class="white-text" href="/#blog">Service Mesh Books</a></li>
            <li><a class="white-text" href="/#workshop">Service Mesh Workshop</a></li>
          </ul>
        </div>


        <div class="col l4 offset-l2 s6" >
          <span class="white-text" style="font-weight: bold;font-size:1.3em;">Contact</span>
          <ul>
            <a class="white-text" href="mailto:community@layer5.io">
              <img width="40px" src="/assets/images/email.svg" /></a>
            <a href="https://layer5io.slack.com/">
              <img width="40px" height="40px" src="/assets/images/slack.svg" /></a>
              <a href="https://twitter.com/layer5">
                <img width="40px" height="40px" src="/assets/images/twitter.svg" /></a>
          </ul>
        </div>
        
      
     
      </div>
    </div>
    <div class="footer-copyright grey-text text-lighten-1 row l12">
      <div class="col l4">
        <i class="material-icons grey-text" style="padding-right:2px;vertical-align: middle;">copyright</i>2018 Copyright
        <a class="waves-effect waves-light grey-text text-lighten-2" style="vertical-align: middle;"
        href="https://github.com/leecalcote/layer5/graphs/contributors">Layer5 Authors</a>
      </div>
      <div class="col l4">
         All rights reserved  
      </div>
      <div class="col l4">
          design by 
        <a class="waves-effect waves-light grey-text text-lighten-2" style="vertical-align: middle;"
        href="https://calcotestudios.com">Calcote Studios</a>
      </div>
    </div>
  
  </footer>
</html>



<!-- <footer class="page-footer">
    <div class="footer-copyright" style="padding-left: 30px">
      <i class="material-icons" style="padding-right:5px">copyright</i><p>2018 Copyright 
        <a class="waves-effect waves-light lighten-1 " style="font-weight:bold;color:#FFFFFF;"
        href="http://calcotestudios.com">{{ site.name }}</a> | All rights reserved</p>
    </div>
  </footer> -->