  <div style="position: relative;">
        <ul>
          <a class="white-text" href="mailto:community@layer5.io">
            <img class="small-on-med-and-down"width="40px" src="/assets/images/email.svg" /></a>
          <a href="{{site.slack}}">
            <img class="small-on-med-and-down"width="40px" src="/assets/images/slack.svg" /></a>
          <a href="{{site.twitter}}">
            <img class="small-on-med-and-down"width="40px" src="/assets/images/twitter.svg" /></a>
          <a href="{{site.github}}">
            <img class="small-on-med-and-down"width="40px" src="/assets/images/github.svg" /></a>
          <a href="{{site.docker}}">
            <img class="small-on-med-and-down devicon-docker-plain" width="40px" src="/assets/images/docker.svg" /></a></li>
        </ul>
      </div>