<div class="col l4">
    <!----------multi language support----------->
    {% if include.text == "white" %}
    <p class="white-text" style="font-weight: bold;font-size:1.3em;">Language</p>
    {% else %}
    <p class="black-text" style="font-weight: bold;font-size:1.3em;">Language</p>
    {% endif %}
    
    <div style="margin-top:-50px;margin-left:25px;">

      <a href="#" onclick="doGTranslate('en|en');return false;" title="English" class="gflag nturl" style="background-position:-200px -0px;-webkit-filter: grayscale(90%);filter: grayscale(90%);"></br><img src="/assets/images/flags/en.svg" alt="English" border="1" /></a>
      <a href="#" onclick="doGTranslate('en|fr');return false;" title="French" class="gflag nturl" style="background-position:-200px -100px;-webkit-filter: grayscale(90%);filter: grayscale(90%);"><img src="/assets/images/flags/fre.svg" alt="French" border="1" /></a>
      <a href="#" onclick="doGTranslate('en|de');return false;" title="German" class="gflag nturl" style="background-position:-300px -100px;-webkit-filter: grayscale(90%);filter: grayscale(90%);"><img src="/assets/images/flags/de.svg" alt="German" border="1" /></a>
      <a href="#" onclick="doGTranslate('en|it');return false;" title="Italian" class="gflag nturl" style="background-position:-600px -100px;-webkit-filter: grayscale(90%);filter: grayscale(90%);"><img src="/assets/images/flags/it.svg" alt="Italian" border="1" /></a>
      <a href="#" onclick="doGTranslate('en|pt');return false;" title="Portuguese" class="gflag nturl" style="background-position:-300px -200px;-webkit-filter: grayscale(90%);filter: grayscale(90%);"><img src="/assets/images/flags/pt.svg" alt="Portuguese" border="1" /></a>
      <a href="#" onclick="doGTranslate('en|ru');return false;" title="Russian" class="gflag nturl" style="background-position:-500px -200px;-webkit-filter: grayscale(90%);filter: grayscale(90%);"><img src="/assets/images/flags/ru.svg" alt="Russian" border="1" /></a>
      <a href="#" onclick="doGTranslate('en|es');return false;" title="Spanish" class="gflag nturl" style="background-position:-600px -200px;-webkit-filter: grayscale(90%);filter: grayscale(90%);"><img src="/assets/images/flags/es.svg" alt="Spanish" border="1" /></a>
      <a href="#" onclick="doGTranslate('en|ta');return false;" title="Tamil" class="gflag nturl" style="background-position:-600px -200px;-webkit-filter: grayscale(90%);filter: grayscale(90%);"><img src="/assets/images/flags/ind.svg" alt="Tamil" border="1" /></a>
      <a href="#" onclick="doGTranslate('en|zh-CN');return false;" title="Chinese" class="gflag nturl" style="background-position:-600px -200px;-webkit-filter: grayscale(90%);filter: grayscale(90%);"><img src="/assets/images/flags/zh.svg" alt="Chinese" border="1" /></a>
      <a href="#" onclick="doGTranslate('en|ja');return false;" title="Japanese" class="gflag nturl" style="background-position:-600px -200px;-webkit-filter: grayscale(90%);filter: grayscale(90%);"><img src="/assets/images/flags/ja.svg" alt="Japanese" border="1" /></a>
      <style type="text/css">

      a.gflag {vertical-align:middle;font-size:23px;padding:1px 0;background-repeat:no-repeat;}
      a.gflag img {border:1; height: 18px;}

      #goog-gt-tt {display:none !important;}
      .goog-te-banner-frame {display:none !important;}
      .goog-te-menu-value:hover {text-decoration:none !important;}
      body {top:0 !important;}
      #google_translate_element2 {display:none!important;}
      @media (min-width: 601px) {
        a.gflag img {height: 23px}
      }

      </style>

      <br /><div id="google_translate_element2"></div>
      <script type="text/javascript">
      function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage: 'en',autoDisplay: false}, 'google_translate_element2');}
      </script><script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


      <script type="text/javascript">
      /* <![CDATA[ */
      eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
      /* ]]> */
      </script>
    </div>
  </div> 
