<h2 style="color:#fff;font-size:2vw;text-align:center;padding-top:0px;margin-top:0px;"><i>
    the multi-service mesh management plane</i></h2>
    <!-- <h3 style="text-align:center;color:aliceblue;">
      <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;" class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
         href="https://github.com/layer5io/meshery/blob/master/README.md#running-meshery">Download</a> </h3> -->
<!-- <h4 style="color:aliceblue;">Features</h4> -->
<div class="row">
    <div id="meshery" class="card-content row">
        <div class="col s12 m12">
          <h5 style="text-align:center;color:aliceblue;">
          <a style="font-size:.9em;padding-bottom:40px;padding-top:10px;width:300px;" 
            class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
            href="#getting-started">Run Meshery</a> 
          </h5>
        </div>
        <!-- <div class="col s12 m6">
          <h5 style="text-align:center;color:aliceblue;">
              <a style="font-size:.9em;padding-bottom:40px;padding-top:10px;width:300px;" 
                class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
                href="#smi">Service Mesh Interface</a> </h5>
        </div> -->
    </div>
  <div class="col s12 m6">
    <div class="card" style="z-index: 1;">
     <!--  <div class="card-image">
        <a href="{{ post.url | relative_url }}"><img src="{{post.image}}"></a>
        <span class="card-title"><a style="color:white">{{ post.title | escape }}</a></span>
      <a id="{{post.url}}" class="btn-floating halfway-fab waves-effect z-depth-4 l5-light-blue waves-dark darken-3" href="{{ post.url | relative_url }}"><i class="material-icons">more_horiz</i></a>
      </div> -->
      <div class="card-content" style="margin-bottom: 0px;">
        <h4 style="text-align:center;">Performance Benchmark</h4>
        <p style="text-align:center;"><span style="color: gray; text-transform: uppercase;">
        <i style="padding-left: 10px; padding-right: 10px;">What overhead does being on the service mesh incur?</i><br /><br /></p>
        <p>Benchmark the performance of your application across different service meshes and compare their overhead.
        </p>
      </div>
    </div>
      <!-- show number of total performance tests run by Meshery users -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script>
          $(document).ready(function() {
              $.get("https://meshery.layer5.io/result/total", function(data, status) {
                  var testresults = JSON.parse(data);
                  document.getElementById("testresults").innerHTML = "&nbsp;"+testresults.total_runs+"&nbsp;&nbsp;";
              });
          });
      </script>
      <div class="card" style="z-index: 1;">
        <div class="performance">
          <span class="testresults" id="testresults"></span>
          performance tests run!
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card" style="z-index: 1;">
     <!-- <div class="card-image">
        <a href="{{ post.url | relative_url }}"><img src="{{post.image}}"></a>
         <span class="card-title"><a style="color:white">{{ post.title | escape }}</a></span> 
      <a id="{{post.url}}" class="btn-floating halfway-fab waves-effect z-depth-4 l5-light-blue waves-dark darken-3" href="{{ post.url | relative_url }}"><i class="material-icons">more_horiz</i></a>
      </div>-->
      <div class="card-content">
        <h4 style="text-align:center;">Multi-Mesh Manager</h4>
        <p style="text-align:center;">
          <span style="color: gray; text-transform: uppercase;">
            <i>Which service mesh should I use and how do I get started?</i>
            <br /><br /></p>
        <p>Learn about the functionality of different service meshes
          and visually manipulate mesh configuration.<br />
          </p>
      </div>
    </div>
    <!-- add a link to the Meshery docs site -->      
      <div class="card" style="z-index: 1;">
        <div class="performance">
          See the <a href = "https://meshery.layer5.io/docs">Meshery documentation</a>.
      </div>
    </div>
  </div>
</div>

<div class="post-content row" style="position: relative;overflow: auto;" itemprop="articleBody">
  <!-- <div style="margin-left: 0 auto; display: flex;text-align: center; justify-content: center; "> -->
      <div class="col s12 m3" style="text-align: center;position:relative;float:left;">
          <a href="/assets/images/meshery/meshery_chart_2.png">
            <img src="/assets/images/meshery/meshery_chart_2.png" width="100%" 
            alt="Meshery screenshot"  style="box-shadow: .5px .5px 2px 2px gray;"
          title="Service Mesh Playground"  />benchmark comparison</a>
       </div>

       <div class="col s12 m3" style="text-align: center;position:relative;float:left;">
        <a href="/assets/images/meshery/meshery_chart_3.png">
          <img src="/assets/images/meshery/meshery_chart_3.png" width="100%"
            alt="Meshery screenshot" style=" box-shadow: .5px .5px 2px 2px gray; 
              margin-right:20px; display: inline;"
            title="Service Mesh Playground" />multiple benchmark comparison</a>
        </div> 

    <div class="col s12 m6">
      <h3 style="color:#111111;text-align: center;">Benchmark, Configure, Adopt</h3>
      <p style="line-height:2em;text-align: center;">       
        <ul style="line-height: 1.5em;height: auto;text-align: center;">
          <li style="">- Compare apples-to-apples performance across service meshes.</li>
          <li style="">- Track your service mesh performance from release to release.</li>
          <li style="">- Understand behavioral differences between service meshes.</li>
          <li style="">- Track your application performance from version to version.</li>
        </ul>
      </p>
   </div>


  <!-- </div> -->
</div>

  <div class="post-content row" style="position: relative;overflow: auto;" itemprop="articleBody">
      <div class="col s12 m6">
          <h3 style="color:#111111;text-align: center;">Multi-Mesh Management</h3>
          <p style="margin-left:10px; padding-right:1em;">
            Service mesh adapters provision, configure, and manage their respective service meshes. 
            <ol>
              <li><a href="https://github.com/layer5io/meshery-istio">Meshery adapter for Istio</a> (stable)</li>
              <li><a href="https://github.com/layer5io/meshery-linkerd">Meshery adapter for Linkerd</a> (stable)</li>
              <li><a href="https://github.com/layer5io/meshery-consul">Meshery adapter for Consul</a> (stable)</li>
              <li><a href="https://github.com/layer5io/meshery-octarine">Meshery adapter for Octarine</a> (stable)</li>
              <li><a href="https://github.com/layer5io/meshery-nsm">Meshery adapter for Network Service Mesh</a> (stable)</li> 
              <li><a href="https://github.com/layer5io/meshery-cpx">Meshery adapter for Citrix CPX</a> (beta)</li>
                <li><a href="https://github.com/layer5io/meshery-maesh">Meshery adapter for Maesh</a> (alpha)</li>
              <li><a href="https://github.com/layer5io/meshery-app-mesh">Meshery adapter for App Mesh</a> (alpha)</li>
              <li><a href="https://github.com/layer5io/meshery-kuma">Meshery adapter for Kuma</a> (alpha)</li>
          </ol>
          </p>
      </div>
      <div class="col s12 m6">
        <!-- <ul>
          <li style="list-style-type: circle;">the user interface to authenticate users.</li>
          <li style="list-style-type: circle;">accepts and maintains the Kubernetes cluster config and context.</li>
          <li style="list-style-type: circle;">enables users to generate load against their applications.</li>
          <li style="list-style-type: circle;">collects the results of the performance tests from its load generator and stores in the cloud for historical viewing.</li>
          <li style="list-style-type: circle;">interfaces with the service mesh adapters dynamically and enables users to play with service mesh.</li>
        </ul> -->
        <div style="text-align:center; vertical-align:middle; position:relative;float:right;">
          <a href="https://raw.githubusercontent.com/layer5io/meshery/master/ui/static/img/dashboard-screenshot.png">
            <img src="https://raw.githubusercontent.com/layer5io/meshery/master/ui/static/img/dashboard-screenshot.png" width="100%"
              alt="Meshery service mesh adapters screenshot"></a>
          </div> 
      </div>
</div>

<a name="smi"></a>
<div class="post-content row">

  <div class="row s12 m12">
    <a href="/blog/a-standard-interface-for-service-meshes">
      <img src="/assets/images/posts/2019-05-21-a-standard-interface-for-service-meshes/smi-logo.png" style="padding-left:10px; max-width: 125px;
    height: auto;" align="right"></a>    <a href="http://smi-spec.io" target="_blank">Service Mesh Interface (SMI)</a> 
    is a specification for service meshes that run on Kubernetes. SMI defines a common standard that can be implemented by
     a variety of service mesh projects and vendors. SMI’s aim for consistent APIs facilitates Meshery’s same goals, 
     allowing for users and tools to flourish. As SMI was unveiled at KubeCon + CloudNativeCon Europe 2019, so did Meshery’s compatibility. 
     
     <p style="text-align:center;">
      <a href="/blog/a-standard-interface-for-service-meshes">Layer5 is pleased to partner with Microsoft in support of SMI</a>!</p>
  </div> 
  
    
  

</div>
<a name="architecture"></a>
    <h3 style="color:aliceblue;">Architecture</h3>
<div class="post-content row">
  <img src="/assets/images/meshery/meshery-architecture.svg" />
    <!-- <div class="iframe-container">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSj6eYr6AgZ4mBgOL_Gv9T4WyLBFkPv49asNtdw1_Gn_xCsk37QRhOjdBRB-3Jp1ehneFmm2dpgFie-/embed?start=false&loop=false&delayms=3000" 
              class="meshery-arch" frameborder="0" height="445px" width="739px" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"
              allowtransparency="true"></iframe>
      </div>  -->
</div>

<a name="demo"></a>
<h3 style="color:aliceblue;">See Meshery at</h3>
<div class="post-content row" style="position: relative;overflow: auto;" itemprop="articleBody">
  <div class="row col m8"  style="min-width:440px;">
    <iframe width="100%" src="https://www.youtube.com/embed/CFj1O_uyhhs" frameborder="0" 
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="min-height: 315px;"></iframe>
  </div>
  <div class="row col m4" style=" min-width: 220px; ">
    <ul>
      <li style="list-style-type: circle;"><a href="https://www.meetup.com/Cloud-Native-Austin/events/267784090/">Cloud Native Austin 2020</a></li>
      <li style="list-style-type: circle;"><a href="https://networkservicemesh.io/events/nsmcon2019/">Network Service Mesh Con 2019</a></li>
      <li style="list-style-type: circle;"><a href="https://www.lakeside-hackfest.com/speakers/#lee-calcote">Lakeside HackFest 2019</a></li>
      <li style="list-style-type: circle;"><a href="https://servicemeshday.com/schedule/">Service Mesh Day 2019</a></li>
      <li style="list-style-type: circle;"> <a href="https://innotechsanantonio2019.sched.com/event/Lmlb/the-enterprise-path-to-service-mesh-architectures?iframe=no&w=100%&sidebar=yes&bg=no">Innotech San Antonio 2019</a></li>
      <li style="list-style-type: circle;"> <a href="https://tmt.knect365.com/container-world/speakers/lee-calcote">Container World 2019</a></li>
      <li style="list-style-type: circle;"> <a href="https://dockercon19.smarteventscloud.com/connect/sessionDetail.ww?SESSION_ID=309149&tclass=popup#.XJxH-TOcbjI.twitter">DockerCon 2019</a></li>
      <li style="list-style-type: circle;"> <a href="https://kccnceu19.sched.com/event/MPf7/service-meshes-at-what-cost-lee-calcote-layer5-girish-ranganathan-solarwinds?iframe=no&w=100%&sidebar=yes&bg=no">KubeCon EU 2019</a></li>
    </ul>
  </div>
</div>
  <a name="getting-started"></a><h3 style="color:aliceblue;">Run Meshery</h3>
  <div class="post-content row" itemprop="articleBody">

      <h3 style="color:#111111;">Step 1: Install and start</h3></br>


      <h4>Bash user</h4>
      <p>Install on <a href="https://meshery.layer5.io/docs/installation#quick-start">Mac or Linux</a> using Docker, install Meshery on your local machine by running the following:</p>
      <div id="start" class="highlight highlight-source-shell">
      <div style="width:auto; height:auto; padding:0px; position:relative;">
            <pre><code>
 $ curl -L https://git.io/meshery | sudo bash -    
        </code></pre>
            <!-- copy to clipboard -->
            <a class="btn waves-effect waves-dark white-text darken-2 l5-light-blue z-depth-4"
              style="position: absolute; top: 0px; right: 0px; border: 0;"
              data-clipboard-target="#start"
              data-clipboard-text="curl -L https://git.io/meshery | sudo bash -  ">
              <img src="/assets/images/buttons/clippy.svg" width="18px" height="18px" style="vertical-align: middle;" />
            </a>
        </div> 
      </div>
      <h4>Brew user</h4>
      <p>Install on <a href="https://meshery.layer5.io/docs/installation#quick-start">Mac or Linux</a> using Homebrew:</p>        

      <div id="start-brew" class="highlight highlight-source-shell">
          <div style="width:auto; height:auto; padding:0px; position:relative;">
            <pre><code></br> $ brew tap layer5io/tap</br> $ brew install mesheryctl</br> $ mesheryctl start
            </code></pre>
            <!-- copy to clipboard -->
            <a class="btn waves-effect waves-dark white-text darken-2 l5-light-blue z-depth-4"
              style="position: absolute; top: 0px; right: 0px; border: 0;"
              data-clipboard-target="#start-brew"
              data-clipboard-text="brew tap layer5io/tap
              brew install mesheryctl
              mesheryctl start">
              <img src="/assets/images/buttons/clippy.svg" width="18px" height="18px" style="vertical-align: middle;" />
            </a>
        </div>
      </div>
      
      <div class="toggle">
        <h4>Kubernetes user</h4>
        <label for="k8s-instructions">To install on Kubernetes, <a>click here</a></label> 
        or see Meshery documentation to <a href="https://meshery.layer5.io/docs/installation#using-docker-on-windows">install on Windows</a>.
        <input type="checkbox" checked name="one" id="k8s-instructions">
        <div class="hidediv">
          <div class="innerdiv">
            
      <p>Using Kubernetes, install Meshery on your cluster by cloning the Meshery repo:</p>
      <div class="highlight highlight-source-shell">
        


        <div style="width:auto; height:auto; padding:0px; position:relative;">
            <pre><code>
 $ git clone https://github.com/layer5io/meshery.git; cd meshery        
        </code></pre>
            <!-- copy to clipboard -->
            <a class="btn waves-effect waves-dark white-text darken-2 l5-light-blue z-depth-4"
              style="position: absolute; top: 0px; right: 0px; border: 0;"
              data-clipboard-target="#start"
              data-clipboard-text="git clone https://github.com/layer5io/meshery.git; cd meshery">
              <img src="/assets/images/buttons/clippy.svg" width="18px" height="18px" style="vertical-align: middle;" />
            </a>
        </div>




      </div>
    <p>Install Meshery on your cluster by running the following:</p>
    <div class="highlight highlight-source-shell">

<div style="width:auto; height:auto; padding:0px; position:relative;">
            <pre><code>
  $ kubectl create ns meshery
  $ kubectl -n meshery apply -f deployment_yamls/k8s

</code></pre>
            <!-- copy to clipboard -->
            <a class="btn waves-effect waves-dark white-text darken-2 l5-light-blue z-depth-4"
              style="position: absolute; top: 0px; right: 0px; border: 0;"
              data-clipboard-target="#start"
              data-clipboard-text="kubectl create ns meshery
              kubectl -n meshery apply -f deployment_yamls/k8s">
              <img src="/assets/images/buttons/clippy.svg" width="18px" height="18px" style="vertical-align: middle;" />
            </a>
        </div>

<!-- PROVIDE THE "ON THE MESH" VERSION IN FUTURE DOCUMENTATION
# additional step for running on Istio
$ kubectl -n meshery apply -f deployment_yamls/istio.yaml -->
    </div>
    <p>If you want to use a different namespace, please change the name of the namespace in the <code>ClusterRoleBinding</code> section appropriately. </p>
    
            </div>
          </div>
          


    <h4 style="color:#111111;">Step 2: Login</h4>
    <p>Access Meshery in your browser at <a href="http://localhost:9081">http://localhost:9081</a>.</p>
  
  <!-- <h3 style="color:#111111;">Step 3: Configure and Enjoy Meshery</h3>
  <p>- Configure Meshery with references to your deployed adapters, using "meshery-&lt;service-mesh-name&gt;:&lt;port&gt;" (e.g. <code>meshery-istio:10000</code> or <code>meshery-linkerd:10001</code>)
    in the <i>Mesh Adapter Location</i> field.</p> -->
  </div>
  </div>

<a name="contributing"></a><a name="community"></a>
<h3  style="color:aliceblue;">Community</h3>
<div class="post-content row" itemprop="articleBody" style="min-height: 155px; padding-right:149px; padding-bottom:0px;">
  <div>This project is community-built and welcomes collaboration!</div>

  <a href="https://github.com/layer5io/meshery">
    <img style="position: absolute; top: 0px; right: 0px; border: 0; width: 149px; height: 149px;
      padding-top: 0px;padding-right:0px;" 
      src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-grey@2x.png" 
      alt="Fork me on GitHub"></a>

  <div class="comm">
  <ul>
    <div class="tooltip">
    <li>
      <a href="https://docs.google.com/document/d/1c07UO9dS7_tFD-ClCWHIrEzRnzUJoFQ10EzfJTpS7FY/edit?usp=sharing" target="_blank">
        <img src="/assets/images/meshery/comments-regular.svg" alt="" 
          style="position: relative; z-index: 10; width: 45px; vertical-align: top; padding-top: 15px;">
      </a>
    </li>
    <span class="tooltiptext">Join the weekly community meeting on Friday from 10am to 11am Central.</span>
    </div>
    <div class="tooltip">
        <li>
          <a href="https://www.youtube.com/channel/UCFL1af7_wdnhHXL1InzaMvA" target="_blank">
            <img src="/assets/images/buttons/youtube_black.svg" alt="" 
              style="position: relative; z-index: 10; width: 45px; vertical-align: top; padding-top: 15px;">
          </a>
        </li>
        <span class="tooltiptext">Watch community meeting recordings.</span>
        </div>
    <div class="tooltip">
         <li>
         <a href="https://bit.ly/2SbrRhe" target="_blank">
          <img src="/assets/images/meshery/calendar-plus-regular.svg" alt="" 
            style="position: relative; z-index: 10; width: 35px; 
              vertical-align: top; padding-top: 15px;">
         </a>
         </li>
         <span class="tooltiptext">Subscribe to the community calender.</span>
         </div>
    <div class="tooltip">
         <li>
         <a href="https://drive.google.com/drive/u/4/folders/0ABH8aabN4WAKUk9PVA" target="_blank">
          <img src="/assets/images/meshery/google-drive-brands.svg" alt="" 
            style="position: relative; z-index: 10; width: 45px; vertical-align: top; 
              padding-top: 13px;">
         </a>
         </li>
         <span class="tooltiptext">Access the community drive</span>
         </div>  
   <div class="tooltip">
         <li>
         <a href="http://slack.layer5.io" target="_blank">
          <img src="/assets/images/buttons/slack_black_trans.svg" alt="" 
            style="position: relative; z-index: 10; width: 65px; height: 70px;">
         </a>
         </li>
         <span class="tooltiptext">Join the community on Slack</span>
         </div>      
  </ul>
  </div>

</div>
<a name="benchmark-spec"></a>
<h3 style="color:aliceblue;">Benchmark Specification</h3>
<div class="post-content row" itemprop="articleBody" style="min-height: 149px; padding-right:149px; padding-bottom:0px;">
    <a href="https://github.com/layer5io/service-mesh-benchmark-spec">
      <img style="position: absolute; top: 0px; right: 0px; border: 0; width: 149px; height: 149px;
        padding-top: 0px;padding-right:0px;" 
      src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-grey@2x.png"
      alt="Fork me on GitHub"></a>
  The <a href="https://github.com/layer5io/service-mesh-benchmark-spec">Benchmark Specification</a> is a 
  common format for describing and capturing performance benchmark tests and results. This specification is 
  currently being advanced through discussion in the Meshery project.</div>
  

<h3  style="color:aliceblue;">FAQ</h3>
<div class="post-content row" itemprop="articleBody">
    <p>       
      <ul>
        <li style="list-style-type: circle;"><b>Does Meshery manage service meshes?</b>
          <ul>
          <div style="line-height: .4em;">&nbsp;</div>
            <li style="list-style-type: square;">Yes, Meshery acts as a management plane to provision and manage the lifecycle of service meshes.</li>
          </ul>
        </li>
        <br />
        <li style="list-style-type: circle;"><b>Why do I need to authenticate my social account to use Meshery?</b>
          <ul>
            <div style="line-height: .4em;">&nbsp;</div>
            <li style="list-style-type: square;"><em>Create your account</em> - avoid having to reconfigure Meshery each time you deploy it. 
              When you use a social account to authenticate to Meshery, your environment configuration persists from session to session.
              <ul>
                  <li style="list-style-type: disc;">Meshery sources from Mixer Prometheus adapter and uses Prometheus node-exporter.</li>
              </ul>
            </li>
            <br />
            <li style="list-style-type: square;"><em>Rank your deployment</em> 
              - results of performance tests are anonymously collected using the 
              <a href="https://github.com/layer5io/service-mesh-benchmark-spec">Service Mesh Performance Benchmark</a>, so that 
              Meshery may provide the public service of ranking the speed of your deployment against that of the rest of the world's users.
              </ul>
            </li>
          </ul>
        <ul>
        <li style="list-style-type: circle;"><b>Why use Meshery?</b>
            <ul>
                <div style="line-height: .4em;">&nbsp;</div>
                <li style="list-style-type: square;"> Meshery is an open source, vendor neutral projects that facilitates testing across meshes.</li>
                <li style="list-style-type: square;"> Other performance benchmark tools are not packaged into a mesh testing utility, butare only a load-generators unto their own.</li>
            </ul>
          </li>

    </p>
</div>
