<h2 class="post-meta" style="color:#cfd8dc;font-size: 1.5em;text-align:center;"><i>
    a multi-service mesh performance benchmark and playground</i></h2>
    <!-- <h5 style="text-align:center;color:aliceblue;">
      <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;" class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
         href="https://github.com/layer5io/meshery/blob/master/README.md#running-meshery">Download</a> </h5> -->
<!-- <h4 style="color:aliceblue;">Features</h4> -->
<div class="row">
  <div class="col s12 m6">
    <div class="card" style="z-index: 1;">
     <!--  <div class="card-image">
        <a href="{{ post.url | relative_url }}"><img src="{{post.image}}"></a>
        <span class="card-title"><a style="color:white">{{ post.title | escape }}</a></span>
      <a id="{{post.url}}" class="btn-floating halfway-fab waves-effect z-depth-4 l5-light-blue waves-dark darken-3" href="{{ post.url | relative_url }}"><i class="material-icons">more_horiz</i></a>
      </div> -->
      <div class="card-content">
        <h4 style="text-align:center;">Performance Benchmark</h4>
        <p style="text-align:center;"><span style="color: gray; text-transform: uppercase;"><i>What overhead does being on the service mesh incur?</i><br /><br /></p>
        <p>Benchmark the performance of your application across different service meshes and compare their overhead.
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card" style="z-index: 1;">
     <!-- <div class="card-image">
        <a href="{{ post.url | relative_url }}"><img src="{{post.image}}"></a>
         <span class="card-title"><a style="color:white">{{ post.title | escape }}</a></span> 
      <a id="{{post.url}}" class="btn-floating halfway-fab waves-effect z-depth-4 l5-light-blue waves-dark darken-3" href="{{ post.url | relative_url }}"><i class="material-icons">more_horiz</i></a>
      </div>-->
      <div class="card-content">
        <h4 style="text-align:center;">Playground</h4>
        <p style="text-align:center;"><span style="color: gray; text-transform: uppercase;"><i>Which service mesh should I use and how do I get started?</i><br /><br /></p>
        <p>Learn about the functionality of different service meshes
          and visually manipulate mesh configuration.<br />
          </p>
      </div>
    </div>
  </div>
</div>
<div id="meshery" class="card-content" style="position:relative;float:center;">        
    <h5 style="text-align:center;color:aliceblue;">
      <a style="font-size:.7em;padding-bottom:40px;padding-top:10px;width:300px;" class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
      href="#getting-started">Run Meshery</a> </h5>
      <br />
</div>
<div class="post-content" style="position: relative;overflow: auto;" itemprop="articleBody">


    <div style="position:relative;float:right;clear: both; "><a href="/assets/images/meshery/meshery result comparison.png"><img src="/assets/images/meshery/meshery result comparison.png" width="400"
      alt="Meshery screenshot" style=" box-shadow: 2px 2px black; margin-left:10px; margin-bottom:10px;"
    title="Service Mesh Playground"  /><p style="text-align: center;">multi-comparison screenshot</a></p></div>
    <h5 style="color:#111111;">Adopt, Configure, Benchmark</h5>

    <ul style="line-height:2.5em;text-align: center;">
      <ol> - Compare performance in an apples-to-apples manner across service meshes.</ol>
      <ol> - Track your service mesh performance from release to release.</ol>
      <ol> - Understand behavioral differences between service meshes.</ol> 
      <ol> - Track your application performance from version to version.</ol>
      </ul>
  <h5 style="color:#111111;clear: both;">Architecture</h5>
  <p  style="margin-left:10px;">Meshery is comprised of the following components.</p>
  <div class="iframe-container">
  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRqJ2cFC9LSGVi1ReDjphzOfpWwINPg4__XyMZu85R8KNPnuHmnswEnHnTkY-8FQl-GrjuXpQ7WlCLE/embed?start=false&loop=false&delayms=3000" 
          class="meshery-arch" frameborder="0" height="445px" width="739px" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"
          allowtransparency="true"></iframe>
  </div> 
    <p><strong>Meshery provides:</strong></p>
    <div style="float:right;"><a href="/assets/images/meshery/meshery performance results.png"><img src="/assets/images/meshery/meshery performance results.png" width="380" 
      alt="Meshery screenshot"  style="box-shadow: 2px 2px black;"
    title="Service Mesh Playground"  /><p style="text-align: center;">single comparison screenshot</a></p></div>
    <div style="margin-left:20px;margin-right:5px;">
      <ul>
        <li style="list-style-type: circle;">the user interface to authenticate users.</li>
        <li style="list-style-type: circle;">accepts and maintains the Kubernetes cluster config and context.</li>
        <li style="list-style-type: circle;">enables users to generate load against their applications.</li>
        <li style="list-style-type: circle;">collects the results of the performance tests from its load generator (<a href="https://fortio.org">Fortio</a>) and stores in the cloud for historical viewing.</li>
        <li style="list-style-type: circle;">interfaces with the Meshery adapters dynamically and enables users to play with service mesh.</li>
      </ul>
    </div>
    <strong>Adapters provide:</strong>
      <p style="margin-left:10px; padding-right:1em;">
        Meshery adapters interface with specific service meshes to provision and apply the configuration. 
        Meshery and its adapters interface over gRPC. Adapters run gRPC servers and Meshery uses a gRPC client as and when an operation is requested through the user interface.
        Protocol buffer specifications for each adapter is kept in Meshery, so as centralize their definition.  
        </p>
        <p><b>Adapters (status):</b>
        <ol>
          <li><a href="https://github.com/layer5io/meshery-istio">Meshery adapter for Istio</a> (alpha)</li>
          <li><a href="https://github.com/layer5io/meshery-octarine">Meshery adapter for Octarine</a> (pre-alpha)</li>
          <li><a href="https://github.com/layer5io/meshery-linkerd">Meshery adapter for Linkerd</a> (pre-alpha)</li>
          <li><a href="https://github.com/layer5io/meshery-consul">Meshery adapter for Consul Connect</a> (pre-alpha)</li>
        </ol>
      </p>
</div>
</div>
  <a name="getting-started"></a><h4 style="color:aliceblue;">Run Meshery</h4>
  <div class="post-content" itemprop="articleBody">
      <p>Meshery can be deployed on your local machine or into an existing service mesh. </p>        
      <p>Start by cloning the Meshery repo:</p>
      <div class="highlight highlight-source-shell">
        <pre><code>
 $ git clone https://github.com/layer5io/meshery.git; cd meshery        
        </code></pre>
      </div>
      <h5 style="color:#111111;">Run Meshery on Docker:</h5>
      <p>Using the docker-compose.yaml file, Meshery services can be spun up quickly. To start Meshery, run:</p>
          <div class="highlight highlight-source-shell">
          <pre><code>
 $ docker-compose up -d
          </code></pre>
          <span><i>Use `-d` flag to background Meshery.</i></span>
        </div>
          
      <p>Access Meshery in your browser at <a href="http://localhost:9081">http://localhost:9081</a>. Configure Meshery with 
      references to your deployed adapters, using <i>meshery-&lt;service-mesh-name&gt;:10000</i> (e.g. <code>meshery-istio:10000</code>)
      in the <i>Mesh Adapter Location</i> field.</p>
  
      <h5 style="color:#111111;">Run Meshery on Kubernetes:</h5>
    <p>You can deploy Meshery to an existing Kubernetes cluster into the namespace 
      of your choice.</p>
    <div class="highlight highlight-source-shell">
<pre><code>
  $ kubectl create ns meshery
  $ kubectl -n meshery apply -f deployment_yamls/k8s

  # additional step for running on Istio
  $ kubectl -n meshery apply -f deployment_yamls/istio.yaml
</code>
</pre>
    </div>
    <p>If you want to use a different namespace, please change the name of the namespace in the <code>ClusterRoleBinding</code> section appropriately. </p>
    <p>Access Meshery in your browser at <a href="http://localhost:9081">http://localhost:9081</a>. Configure Meshery with 
      references to your deployed adapters, using <i>meshery-&lt;service-mesh-name&gt;:10000</i> (e.g. <code>meshery-istio:10000</code>)
      in the <i>Mesh Adapter Location</i> field.</p>
  </div>
<a name="contributing"></a><a name="community"></a>
<h4  style="color:aliceblue;">Community</h4>
<div class="post-content" itemprop="articleBody">
    <a href="https://github.com/layer5io/meshery">
      <img style="position: relative; float:right; top: -2em; right: -2em; border: 0; width: 149px; height: 149px;" 
      src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-grey@2x.png" 
      alt="Fork me on GitHub"></a>
This project is community-built and welcomes collaboration! 
<p>
  <ul>
    <li><em>Join</em> <a href="https://docs.google.com/document/d/1i6aa5OWTS7Ul1V2vJKVnJswlbBJi_CN5LhWs4xd85vw/edit#">weekly community meeting</a> on <a href="/assets/projects/meshery/Meshery-Community-Meeting.ics">Fridays from 2pm to 3pm Central</a>.</li>
    <ul>
        <li><em>Watch</em> community <a href="https://www.youtube.com/playlist?list=PL3A-A6hPO2IMPPqVjuzgqNU5xwnFFn3n0">meeting recordings</a>.</li>
    </ul>
    <li><em><strong>Access</strong></em> the <a href="https://drive.google.com/drive/folders/1cSSCn4428TFhyg5mCMZq-oDi-Gwrcqqt">community folder</a>.</li>
      <ul>
        <li><em>Comment</em> on the <a href="https://docs.google.com/document/d/1nV8TunLmVC8j5cBELT42YfEXYmhG3ZqFtHxeG3-w9t0/edit?usp=sharing">design document.</a></li>
      </ul>
    </ul>
</p>
</div>

<a name="benchmark-spec"></a>
<h4 style="color:aliceblue;">Benchmark Specification</h4>
<div class="post-content" itemprop="articleBody">
  The <a href="https://github.com/layer5io/service-mesh-benchmark-spec">Benchmark Specification</a> is a 
  common format for describing and capturing performance benchmark tests and results. This specification is 
  currently being advanced through discussion in the Meshery project.

</div>
  

<h4  style="color:aliceblue;">FAQ</h4>
<div class="post-content" itemprop="articleBody">
    <p>  <ul>
        <ol><b>Why create Meshery and not use regpatrol?</b></ol>
    <ol>- regpatrol is not open source or available in binary form to use.</ol>
          </ul>
          <ul>
          <ol><b>What are some differences between regpatrol and Meshery?</b></ol>
            <ol><em>Telemetry</em> - regpatrol sources telemetry from Mixer Prometheus adapter and uses IBM's proprietary node agent.</ol>
            <ol>- - Meshery sources from Mixer Prometheus adapter and uses Prometheus node-exporter.</ol>
            <ol><em>Traffic type</em> - regpatrol uses jmeter, which can parse responses and perform functional tests.</ol>
            <ol>- - Meshery is using fortio, which is for load-gen and perf-testing only. </ol>
        </ul>
        <ul>
            <ol><b>Why use Meshery?</b></ol>
            <ol> - because its an open source, vendor neutral projects that facilitates testing across meshes.</ol>
            <ol> - because fortio is not packaged into a mesh testing utility, but is only a load-generator unto its own.</ol>
            <ol> - because regpatrol is closed sourcej, binary is not released, scripted for one mesh, and is produced by a vendor of that mesh.</ol>
    </ul>
    </p>
</div>

<div class="row">
  <div class="col s12">
    <div id="contact" class="section scrollspy" style="width:100%;">
      <h3 style="text-align:center;color:aliceblue;">Mailing List</h3>
      {% include contact.html %}
    </div>
  </div>
</div>
