<div class="card medium" style="position:relative;z-index: 1;">
  <!-- <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="assets/images/contact4.png">
  </div> -->
  <!-- <div class="card-content">
    <span class="card-title activator" style="text-align:right;"><a class="btn-floating waves-effect waves-light red pulse"><i class="large material-icons">arrow_drop_up</i></a></span>
    <div class="row" style="text-align:center">
        <a class="waves-effect waves-light btn grey darken-1" target="_blank" href="{{site.github}}"><i class="material-icons right">code</i>Github</a>
        <a class="waves-effect waves-light btn green darken-2" target="_blank" href="{{site.medium}}"><i class="material-icons right">library_books</i>Medium</a>
    </div>
  </div> -->
  <!-- <div class="card-content">
    <span class="card-title grey-text text-darken-4">Stay up-to-date on service mesh-related content...<i size="large" class="material-icons right">close</i></span>
    <form class="col s12" action="https://formspree.io/{{site.email}}" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input class="validate" id="icon_prefix" type="text" name="name">
          <label for="icon_prefix">Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input class="validate" id="email" type="email" name="_replyto">
          <label for="email" data-error="Please enter a valid Email Address" data-success="Verified!">Email</label>
        </div>
      </div>
      <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">message</i>
         <textarea id="icon_prefix2" class="materialize-textarea" name="message"></textarea>
         <label for="icon_prefix2">Message</label>
       </div>
     </div>
      <button class="btn waves-effect orange waves-dark darken-3 white-text z-depth-4" type="submit" name="action">Submit
         <i class="material-icons right">send</i>
       </button>
    </form>

  </div>
</div> -->


<div class="card-content"><a id="subscribe"></a>
    <span class="card-title grey-text text-darken-4">Stay Meshy...</span>
    
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        #mc_embed_signup .button {width: 100%; margin:0px;background-color: rgba(255, 152, 0, 0.5); }
        #mc_embed_signup .button:hover{background-color: rgba(255, 152, 0, 0.7);}
        @media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}
    </style>

    <!-- <div id="mc_embed_signup"> -->
    <div id="mc_embed_signup">
    <form action="https://calcotestudios.us15.list-manage.com/subscribe/post?u=6b50be5aea3dfe1fd4c041d80&amp;id=6bb65defeb" 
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
      <div id="mc_embed_signup_scroll">
        <div style="white-space: nowrap;">
          <i class="material-icons material-icons--outline" style="font-size:32px;vertical-align: middle;color:var(--main-dark-grey);">account_box</i> 
          <input type="text" value="" placeholder="First Name"name="FNAME" class="email" id="mce-FNAME" style="width:45%;">
          <input type="text" value="" placeholder="Last Name" name="LNAME" class="email" id="mce-LNAME" style="width:45%;">
        </div>
        <div id="mce-responses" class="clear" style="white-space: nowrap;">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      
        <div style="white-space: nowrap; vertical-align: bottom; margin-top:5px;">
          <i class="material-icons prefix" style="font-size:32px;vertical-align: middle;color:var(--main-dark-grey);">mail</i> 
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required style="white-space: nowrap;display: inline-block; width:90%;">
          <!-- <span class="asterisk" style="white-space: nowrap;">*</span> -->
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_6b50be5aea3dfe1fd4c041d80_6bb65defeb" tabindex="-1" value=""></div>
        <div onclick="document.getElementById('mc-embedded-subscribe-form').submit();" id="mc_embed_signup" class="clear">
          
            <h4 style="text-align:center;color:aliceblue;">
              <input style="padding-bottom:40px;padding-top:10px;font-size:.7em;
                 min-width:240px;max-width:300px; width:100%"  
              class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4" 
              type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
        </div>
      </div>
    </form>
    </div>

    <!--End mc_embed_signup-->

</div>
</div>