<div class="row">

  {% for workshop in site.data.sessions.workshops %}

  <div class="col s12 m6">
      <div class="card medium sticky-action">
        <div class="card-image waves-effect waves-block waves-light" style="overflow: fill; {{workshop.style}}">
          <img class="activator" src="{{workshop.img}}" />
          <!-- <img class="activator" src="https://istio.io/img/istio-logo.svg" height="220px"> -->
        </div>
        <div class="card-action">
          <span class="card-title activator grey-text text-darken-4">{{workshop.name}}<i class="material-icons right">more_vert</i></span>
          <p>
            {% if workshop.eurl %}<a href="{{workshop.labs}}">LABS</a> {% endif %}
            {% if workshop.rurl %} | &nbsp;&nbsp;&nbsp;<a href="{{workshop.rurl}}">LAB RESOURCES</a> {% endif %}
            {% if workshop.slides %} | &nbsp;&nbsp;&nbsp;<a href="{{workshop.slides}}">SLIDES</a> {% endif %}
            {% if workshop.slides %} | &nbsp;&nbsp;&nbsp;<a href="{{workshop.slack}}">SLACK</a> {% endif %}
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
          <p><a href="{{workshop.eurl}}">Session:</a> {{workshop.desc}}</p>
        </div>
      </div>
    </div>

  {% endfor %}

</div>
