  <!-- GSOC 2020 -->

  <div id="gsoc-2020" class="card-content flex" style="flex-direction: row;justify-content:space-evenly;" >
  
    <h5 style="text-align: center; color: aliceblue;">
            <a
        style="
          font-size: 0.9em;
          padding-top: 5px;
          padding-bottom: 45px;
          min-width: 220px;
          max-width: 300px;
          width: 100%;"
        class="waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
        href="/programs/gsoc/2020">
        <img style="height: inherit; vertical-align: middle;"
          src="/assets/images/buttons/gsoc.svg" />
        <span style="position: relative; bottom: -3px;">GSoC 2020</span>
      </a>
</h5>
    <h5 style="text-align: center; color: aliceblue;display:inline-flexbox;">
      <a
          style="
          font-size: 0.9em;
          padding-top: 5px;
          padding-bottom: 45px;
          min-width: 220px;
          max-width: 300px;
          width: 100%;"
          class="waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
          href="/programs/gsod/2020">
        <img style="height: inherit; vertical-align: middle;"
             src="/assets/images/buttons/gsod.svg" />
        <span style="position: relative; bottom: -3px; ">GSoD 2020</span>
      </a>
    </h5>
    <h5 style="text-align: center; color: aliceblue;display:inline-flexbox;">
      <a
          style="
          font-size: 0.9em;
          padding-top: 5px;
          padding-bottom: 45px;
          min-width: 220px;
          max-width: 300px;
          width: 100%;"
          class="waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
          href="/programs/hacktoberfest">
        <img style="height: inherit; vertical-align: middle;"
             src="/assets/images/buttons/hacktoberfest.png" />
        <span style="position: relative; bottom: -3px; ">Hacktoberfest</span>
      </a>
    </h5>
    <h5 style="text-align: center; color: aliceblue;display:inline-flexbox;">
      <a
        style="
          font-size: 0.9em;
          padding: 5px 10px 45px;
          min-width: 220px;
          max-width: 300px;
          width: 100%;"
        class="waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
        href="/programs/communitybridge/2020">
        <img style="height: inherit; vertical-align: middle;"
          src="/assets/images/programs/CommunityBridge-circular-white.svg" />

        <span style="position: relative; bottom: -3px; ">CommunityBridge</span>

      </a>
    </h5>
      <h5 style="text-align: center; color: aliceblue; ">
        <a
        style="
          font-size: 0.9em;
          padding-top: 5px;
          padding-bottom: 45px;
          min-width: 220px;
          max-width: 300px;
          width: 100%;"
        class="waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
        href="/careers/internships"
        ><img style="height: inherit; vertical-align: middle; padding:3px;"
          src="/assets/images/layer5/5-white-80.svg" />
        <span style="position: relative; bottom: -3px; "
          >Layer5</span
        ></a>
    </h5>
  </div>
  <h5 style="text-align: center; color: aliceblue; font-size: 1.25em;">
    <img style="height: 4vh; vertical-align: middle;"
          src="/assets/images/about/jobs_white.svg" />
          Learn about Layer5's participation in various coding programs.
  </h5>
