<!--
<table class="responsive-table highlight" style="color:var(--main-bg-color);">
  <thead style="background-color: #a6b7be;color:black; text-align:center; word-wrap: none;">
          <tr>
    <th>Service Mesh</th>
    <th>Client Library</th>
    <th>API Gateway</th>
    <th>Service or Edge Proxy</th>
</tr>
</thead>

<tbody>
<tr>
    <td><a href="https://conduit.io" class="orange-text">Conduit (Linkerd 2.x)</a></td>
    <td><a href="https://www.hashicorp.com/blog/smart-networking-with-consul-and-service-meshes" class="orange-text">Consul Connect</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
  <td><a href="https://www.turbinelabs.io/product" class="orange-text">Houston</a></td>
  <td></td>
  <td></td>
</tr>
</tbody>
</table>
-->
         <ul>Service Mesh
          <li><a href="https://conduit.io" class="orange-text">Conduit (Linkerd 2.x)</a></li>
          <li><a href="https://www.hashicorp.com/blog/smart-networking-with-consul-and-service-meshes" class="orange-text">Consul Connect</a></li>
          <li><a href="https://www.turbinelabs.io/product" class="orange-text">Houston</a></li>
          <li><a href="https://istio.io" class="orange-text">Istio</a></li>
          <li><a href="https://linkerd.io" class="orange-text">Linkerd</a></li>
          <li><a href="https://github.com/alipay/sofa-mesh" class="orange-text">SOFAMesh</a></li>
          <li><a href="https://vamp.io" class="orange-text">Vamp</a></li>
          <li><a href="https://github.com/Netflix/zuul" class="orange-text">Zuul</a></li>
        </ul>
      </div>
      <div class="card-content" style="float: left;display: inline;background-color: white;">
        <ul>Client Library
          <li><a href="https://akka.io" class="orange-text">Akka</a></li>
          <li><a href="https://github.com/twitter/finagle/" class="orange-text">Finagle</a></li>
          <li><a href="https://www.github.com/Netflix/Hystrix" class="orange-text">Hysterix</a></li>
          <li><a href="https://github.com/Netflix/Ribbon" class="orange-text">Ribbon</a></li>
        </ul>
      </div>
      <div class="card-content" style="float: left;display: inline;background-color: white;">
        <ul>API Gateway
          <li><a href="https://getambassador.io" class="orange-text">Ambassador</a></li>
          <li><a href="https://github.com/heptio/contour" class="orange-text">Contour</a></li>
          <li><a href="https://github.com/kong/kong" class="orange-text">Kong</a></li>
          <li><a href="http://openresty.org" class="orange-text">OpenResty</a></li>
        </ul>
      </div>
      <div class="card-content" style="float: left;display: inline;background-color: white;">
        <ul>Service or Edge Proxy
          <li><a href="https://www.envoyproxy.io" class="orange-text">Envoy</a></li>
          <li><a href="https://github.com/nginxinc/nginmesh" class="orange-text">nginMesh</a></li>
        </ul>
      </div>
