<div class="row">
  <div class="col s12"><h5 style="color:aliceblue;">Categories</h5>
    <div class="card col s12" style="background-color: white;">
      <div class="card-content " style="float: left;display: inline; background-color: white;">
          <style> ul {font-weight:bold;} li {font-weight: normal;list-style-type:circle}</style>
          <ul>Service Mesh
          <li>Conduit</li>
          <li><a href="https://www.hashicorp.com/blog/smart-networking-with-consul-and-service-meshes">Consul Connect</a></li>
          <li>Houston</li>
          <li>Istio</li>
          <li>Linkerd</li>
          <li>Zuul</li>
          <li>Vamp</li>
        </ul>
      </div>
      <div class="card-content" style="float: left;display: inline;background-color: white;">
        <ul>Client Libraries
          <li>Finagle</li>
          <li>Hysterix</li>
          <li>Ribbon</li>
        </ul>
      </div>
      <div class="card-content" style="float: left;display: inline;background-color: white;">
        <ul>API Gateway
          <li><a href="https://akka.io">Akka</a></li>
        </ul>
      </div>
      <div class="card-content" style="float: left;display: inline;background-color: white;">
        <ul>Service or Edge Proxy
          <li>Envoy</li>
          <li>nginMesh</li>
        </ul>
      </div>
      </div><span style="color:aliceblue;">Found a discrepancy, missing or out-dated information? Please <a href="https://github.com/leecalcote/layer5/issues">submit an issue</a>.</span>
      </div>
    </div>


      <!-- {% for skill in site.skills %}
          <i class="devicon-{{skill.name}}-plain {{site.colored}}" style="font-size:{{site.icon_size}}px;" title="{{skill.name}}"></i>
      {% endfor %} -->

<div class="row">
  <div class="col s12"><h5 style="color:aliceblue;">Non-Functional</h5>    
    <iframe border="0" width="100%" height="560px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS_rsfCriaUg3WWzfO5CGMizD-MIUF6GM46ZNGy-jxSYz1dIH6plLQBy7R0S3IE_9sqyhUN8sgYZBZ6/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    <span style="color:aliceblue;">Found a discrepancy, missing or out-dated information? Please <a href="https://docs.google.com/spreadsheets/d/1U4aVahptdQaaxAhLt5kqMEx7FX5_wxfl3ZPj8r9S0AI/edit?usp=sharing">submit a comment</a>.</span>
  </div>
</div>

<div class="row">
<div class="col s12">
    <div>
      <div id="contact" class="section scrollspy" style="width:100%;">
        <h3 style="text-align:center;color:aliceblue;">Mailing List</h3>
        {% include contact.html %}
      </div>
  </div>
</div>