<div class="row">
  <div class="col s12"><h5 style="color:aliceblue;">Categories</h5>
    <div class="card col s12" style="background-color: white;">
      <style> ul {font-weight:bold;} li {margin-left:5px; font-weight: normal;}</style>

        <!-- {% include service-mesh-categories.html %} -->
        <div class="card-content " style="float:left; display: inline; background-color: white; 
        border-right-width: 1px; border-right-style: dashed;
        border-right-color:var(--main-bg-color);">
          <ul>Service Mesh
            {% for meshes in site.data.cat.meshes %}
                <li><a href="{{meshes.link}}" class="orange-text">{{meshes.name}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="card-content " style="float:left; display: inline; background-color: white;
        border-right-width: 1px; border-right-style: dashed;
        border-right-color:var(--main-bg-color);">
          <ul>Client Library
            {% for clients in site.data.cat.clients %}
                <li><a href="{{clients.link}}" class="orange-text">{{clients.name}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="card-content " style="float:left; display: inline; background-color: white;
        border-right-width: 1px; border-right-style: dashed;
        border-right-color:var(--main-bg-color);">
            <ul>API Gateway
              {% for gw in site.data.cat.gw %}
                  <li><a href="{{gw.link}}" class="orange-text">{{gw.name}}</a></li>
              {% endfor %}
            </ul>
        </div>
        
        <div class="card-content " style="float:left; display: inline; background-color: white;
        border-right-width: 1px; border-right-style: dashed;
        border-right-color:var(--main-bg-color);">
            <ul>Service or Edge Proxy
              {% for proxies in site.data.cat.proxies %}
                  <li><a href="{{proxies.link}}" class="orange-text">{{proxies.name}}</a></li>
              {% endfor %}
            </ul>
        </div>

      </div><span style="color:aliceblue;">Found a discrepancy, missing or out-dated information? Please <a href="https://github.com/leecalcote/layer5/issues" style="color: #ff9800;">submit an issue</a>.</span>
      </div>
    </div>
    <!-- <a id="home" class="waves-effect waves-light btn white-text darken-2 orange z-depth-4" style="height: 20px; width: 20px;font-size: 2em;" href="{{site.baseurl}}/#home"><i class="material-icons">comment</i></a> -->



<div class="row">
  <div class="col s12"><h5 style="color:aliceblue;">Non-Functional</h5>    
    <iframe border="0" width="100%" height="560px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS_rsfCriaUg3WWzfO5CGMizD-MIUF6GM46ZNGy-jxSYz1dIH6plLQBy7R0S3IE_9sqyhUN8sgYZBZ6/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    <span style="color:aliceblue;">Found a discrepancy, missing or out-dated information? Please <a href="https://docs.google.com/spreadsheets/d/1U4aVahptdQaaxAhLt5kqMEx7FX5_wxfl3ZPj8r9S0AI/edit?usp=sharing" style="color: #ff9800;">submit a comment</a>.</span>
  </div>
</div>

<div class="row">
    <div class="col s12"><h5 style="color:aliceblue;">Functional</h5>    
      {% include service-mesh-functionality.html %}
    </div>
</div>
<div class="row">
    <div class="col s12"><h5 style="color:aliceblue;" id="tools">Tools</h5>    
      {% include service-mesh-tools.html %}
      <!-- <iframe border="0" width="100%" height="200px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS_rsfCriaUg3WWzfO5CGMizD-MIUF6GM46ZNGy-jxSYz1dIH6plLQBy7R0S3IE_9sqyhUN8sgYZBZ6/pubhtml?gid=1277883243&amp;single=true&amp;widget=true&amp;headers=false"></iframe> -->
      <span style="color:aliceblue;">Found a discrepancy, missing or out-dated information? Please <a href="https://docs.google.com/spreadsheets/d/1U4aVahptdQaaxAhLt5kqMEx7FX5_wxfl3ZPj8r9S0AI/edit?usp=sharing" style="color: #ff9800;">submit a comment</a>.</span>
    </div>
  </div>

<div class="row">
<div class="col s12">
    <div>
      <div id="contact" class="section scrollspy" style="width:100%;">
        <h3 style="text-align:center;color:aliceblue;">Mailing List</h3>
        {% include contact.html %}
      </div>
  </div>
</div>