      <table class="responsive-table highlight" style="color:var(--main-bg-color);">
            <thead style="background-color: #a6b7be;color:black; text-align:center; word-wrap: none;">
                    <tr>
              <th>Service Mesh</th>
              <th>Auto Proxy Injection</th>
              <th>TCP + WebSockets</th>
              <th>HTTP, HTTP/2, gRPC</th>
              <th>Capability XX</th>
              <th>Capability XX</th>
              <th>Capability XX</th>
          </tr>
        </thead>

        <tbody>
          <tr>
              <td>Conduit (Linkerd 2.x)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td>Linkerd 1.x</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td>Istio</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td>Mesh XX</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td>Mesh XX</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          </tbody>
        </table>