      <table class="responsive-table highlight" style="color:var(--main-bg-color);">
            <thead style="background-color: #a6b7be;color:black; text-align:center; word-wrap: none;">
                    <tr>
              <th>Service Mesh</th>
              <th>Auto Proxy Injection</th>
              <th>TCP + WebSockets</th>
              <th>HTTP, HTTP/2</th>
              <th>gRPC</th>
              <th>Multi-Cluster</th>
              <th>Multi-Tenant</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
            {% for meshes in site.data.categories.meshes %}
            <tr style="border: 1px dashed #a6b7be; text-align:center;">
                <td><a href="{{meshes.link}}" title="{{meshes.desc}}" class="orange-text">{{meshes.name}}</a></td>
                <td style="text-align:center;"> {{meshes.autoinject}} </td>
                <td style="text-align:center;"> {{meshes.tcp-web}} </td>
                <td style="text-align:center;"> {{meshes.h2}} </td>
                <td style="text-align:center;"> {{meshes.grpc}} </td>
                <td style="text-align:center;"> {{meshes.multi-cluster}} </td>
                <td style="text-align:center;"> {{meshes.multi-tenant}} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>