<table class="responsive-table highlight" style="color:var(--main-bg-color);">
    <thead style="background-color: #a6b7be;color:black; text-align:center; word-wrap: none;">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Open Source</th>
        <th>Governance</th>
        <th>Primary Language</th>
        <th>Project Announce Date</th>
        <th>GA / 1.0 Date</th>
        <th>Commercial Offerings</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for nonfunc in site.data.categories.non-functional %}
    <tr style="border: 1px dashed #a6b7be; text-align:center;">
        <td><a href="{{nonfunc.link}}" title="{{nonfunc.link}}" class="orange-text">{{nonfunc.name}}</a></td>
        <td style="text-align:center;"> {{nonfunc.category}} </td>
        <td style="text-align:center;"> {{nonfunc.opensource}} </td>
        <td style="text-align:center;"> {{nonfunc.governance}} </td>
        <td style="text-align:center;"> {{nonfunc.primary-lang}} </td>
        <td style="text-align:center;"> {{nonfunc.announce-date}} </td>
        <td style="text-align:center;"> {{nonfunc.ga-1-date}} </td>
        <td style="text-align:center;"> {{nonfunc.commerical}} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

