{% assign localVar = include.COL | downcase %} {% if include.GREAT contains
localVar %}
<td id="1" style="--alpha: 1; text-align: center;">
  {% elsif include.GOOD contains localVar %}
</td>

<td id="2" style="--alpha: 0.5; text-align: center;">
  {% elsif include.BAD contains localVar %}
</td>

<td id="3" style="--alpha: 0; text-align: center;">
  {% else %}
</td>

<td id="4" style="--alpha: 0; text-align: center;">
  {% endif %}
  {% if include.COL=="Yes" %}
    <i class="fa fa-check-circle" style="font-size:20px;color:green"></i>
  {% elsif include.COL=="No" %}
    <i class="fa fa-times-circle" style="font-size:18px;color:red"></i>
  {% elsif include.COL=="?" %}
    <i class="fa fa-question-circle" style="font-size:18px;color:gray"></i>
  {% else %}
    {{include.COL}}
  {% endif %}
</td>
