<ul>
  {% for topic in site.topics %}
  <li>
    <a href="{{ topic.url }}">{{ topic.title }}</a>
    - {{ topic.excerpt }}

    <div
      id="landscape"
      class="card-content"
      style="position: relative; float: center;"
    >
      <h5 style="text-align: left; color: aliceblue;">
        <a
          style="font-size: 0.7em; padding-bottom: 40px; padding-top: 10px;"
          class="waves-effect waves-dark btn white-text darken-2 l5-light-blue z-depth-4"
          href="topic.url"
          >{{ topic.title }}</a
        >
      </h5>
    </div>
    <h5 style="text-align: center; color: aliceblue; font-size: 1.25em;">
      {{ topic.excerpt }}
    </h5>
  </li>
  {% endfor %}
</ul>
