  <div style="position:relative; float:right; vertical-align: middle;">
    <div style="vertical-align: middle;">
        <ul>
          <li><a class="white-text" href="mailto:community@layer5.io">
            <img class="small-on-med-and-down" width="40px" src="/assets/images/email.svg" /></a></li>
          <li><a href="{{site.slack}}">
            <img class="small-on-med-and-down" width="40px" src="/assets/images/slack.svg" /></a></li>
          <li><a href="{{site.twitter}}">
            <img class="small-on-med-and-down" width="40px" src="/assets/images/twitter.svg" /></a></li>
          <li><a href="{{site.github}}">
            <img class="small-on-med-and-down" width="40px" src="/assets/images/github.svg" /></a></li>
        </ul>
    </div>
  </div>