---
layout: default
#title: "Community | Layer5"
permalink: /community
redirect_from: community/
excerpt: "The Service Mesh Community at Layer5 - Learn, Share, Engage"
description: "The Service Mesh Community at Layer5 - Learn, Share, Engage.
  Join the largest collection of service mesh projects and their maintainers in the world."
image: /assets/images/layer5/layer5-tag-community-white-bg.png
---

<div class="container">
  <div id="community" class="section scrollspy">
    <h3 style="text-align: center; color: aliceblue;">
      <a href="/news" class="white-text">The Layer5 Community</a>
    </h3>
    <div class="row white-bg row-view">
      <div class="col s12 m12 col-view">
        {% include community/community.html %}
      </div>
    </div>
    <div class="row white-bg row-view">
      <div class="col s12 m6" >
        {% include community/community-members-meshmates.html %}
      </div>
      <div class="col s12 m6">
        {% include community/community-meetings-table.html %}
      </div>
    </div>
  </div>
</div>
