---
layout: default
#title:  "MeshMates | Layer5"
permalink: /community/meshmates
redirect_from:
  - /community/meshmate
excerpt: "MeshMates - the Layer5 contributor onboarding program. 
    MeshMates is a collection of service mesh mentors."
image: /assets/images/Layer5-MeshMates.png
---

<div class="container">
  <div class="row white-bg row-view">
    <div class="col s12">
      {% include community/meshmates-people.html %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row white-bg row-view">
    <div class="col s12">
      <h3>Program Overview</h3>
      {% include community/meshmates-program-details.html %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row white-bg row-view">
    <div class="col s12">
      {% include community/meshmates-emeritus.html %}
    </div>
  </div>
</div>

