---
layout: default
title:  "Meshery - the multi-service mesh manager"
description: "Lifecycle and performance management for Istio, Linkerd, Envoy, App Mesh, Consul Connect, Network Service Mesh, Citrix CPX, VMware NSX-M, Octarine, Maesh and Kuma. 
Service mesh comparison and performance benchmarking applications across different service meshes and compare"
author: Lee Calcote
twitter: layer5
lang: en
image:
  path: /assets/images/meshery/meshery-logo-dark-text.png
  width: 1059
  height: 807
redirect_from:
  - /Meshery
permalink: /meshery
accordion: 
  - title: Does Meshery manage service meshes?
    content: Yes, Meshery acts as a management plane to provision and manage the lifecycle of service meshes.
  - title: Does Meshery manage service meshes?
    content: Yes, Meshery acts as a management plane to provision and manage the lifecycle of service meshes.
  - title: Does Meshery manage service meshes?
    content: Yes, Meshery acts as a management plane to provision and manage the lifecycle of service meshes.
---
<div class="container" style="position:relative;z-index: 1;">
    <div class="col s10">
    <div style="text-align:center;padding:0;margin:0;">
      <img src="/assets/images/meshery/meshery-logo-shadow-light-white-text-side.svg" width="50%" />
    </div>
        <!-- <h1 style="text-align:center;color:aliceblue;">Meshery</h1> -->
        {% include meshery.html %}
    </div>
  </div>

  {% include newsletter-signup.html %}
