@import url(//db.onlinewebfonts.com/c/5173256ffa3e08c4cbed8986369258a6?family=Qanelas+Soft);

@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url('Qanelas-Soft.eot'); /* IE9 Compat Modes */
  src: url('Qanelas-Soft?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Qanelas-Soft.woff2') format('woff2'), /* Super Modern Browsers */
       url('Qanelas-Soft.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-display: swap;
}

body {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    --heading-font-family: "Qanelas Soft", "Open Sans", sans-serif; 
}

/* Header Styles */

.d-header {
    height: 6rem;
    background-color: rgb(243, 255, 253);
}

.custom-header-links .headerLink {
    a {
        --font-up-1: 15px;
        margin: 0 10px;
        color: var(--header-primary);
    }
    a:hover {
        color: var(--layer5_green);
    }
} 

@media only screen and (max-width: 1150px) {
  .headerLink {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .headerLink {
    display: none;
  }
  .header-buttons{
    display: none;
  }
  .d-header #site-logo {
   width: auto;
   height: 2em;
  }
}

/* Hero Styles */

.search-widget {
    display: none;
}

.custom-search-banner {
    margin: -1em 0 2em 0;
    background-color: var(--layer5_green);
    .custom-search-banner-wrap{
        max-height: 250px;
        padding-top: 4em;
        h1{
            color: white;
            font-size: 50px;
        }
        p{
            color: white;
            font-size: 28px;
            margin: 1rem 0 3rem 0;
        }
    }
}

/* Category Section Styles */

.list-controls .combo-box .combo-box-header {
    border: none;
    font-size: 1.25em;
    text-transform: capitalize;
}

.select-kit.combo-box .select-kit-header {
    border: none;
    font-size: 1.25em;
}

.categories-and-latest div.column.categories {
    flex: 1 1 55%;
}
.categories-and-latest div.column {
    flex: 0 1 40%;
}

.category-list{
    border-collapse: separate;
    border-spacing: 0 1em;
    thead{
        display: none;
    }
    tr {
        display: flex;
        box-sizing: border-box;
        padding: 1em;
        margin-bottom: 2.5em;
        border: none;
        background: #fbfbfd;
    }
    tbody {
        .category {
            border: none;
            .category-logo.aspect-image {
                --max-height: 75px;
                max-width: 90px;
                height: auto;
            }
        }
    }
} 

/* Latest Section styles */

.latest-topic-list-item {
    border-bottom: none;
    margin-bottom: 20px;
}

.table-heading {
    border-bottom: none;
}

.latest-topic-list-item.visited a.title:not(.badge-notification) {
    color: black;
}

.latest-topic-list .table-heading {
    margin-left: 10px;
    color: black;
    font-size: 20px;
}

.twiiter-sidebar {
    margin-top: 20px;
}

.container {
    max-width: 1110px;
    margin: auto;
}