/* Font Styles */
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftBlack.otf")
    format("opentype");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftBold.otf")
    format("opentype");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftBlackItalic.otf")
    format("opentype");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftBoldItalic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftExtraBold.otf")
    format("opentype");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftExtraBoldItalic.otf")
    format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftHeavy.otf")
    format("opentype");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftHeavyItalic.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftLight.otf")
    format("opentype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftLightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftMedium.otf")
    format("opentype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftMediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftRegular.otf")
    format("opentype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftRegularItalic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftSemiBold.otf")
    format("opentype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftSemiBoldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftThin.otf")
    format("opentype");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftThinItalic.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftUltraLight.otf")
    format("opentype");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  src: url("https://layer5.io/fonts/qanelas-soft/QanelasSoftUltraLightItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  --heading-font-family: "Qanelas Soft", "Open Sans", sans-serif;
}
/* Header Styles */
.d-header {
  height: 6rem;
  background-color: #f3fffd;
}
.custom-header-links .headerLink a {
  --font-up-1: 15px;
  margin: 0 10px;
  color: var(--header-primary);
}
.custom-header-links .headerLink a:hover {
  color: var(--layer5_green);
}
@media only screen and (max-width: 1150px) {
  .headerLink {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .headerLink {
    display: none;
  }
  .header-buttons {
    display: none;
  }
  .d-header #site-logo {
    width: auto;
    height: 2em;
  }
}
/* Hero Styles */
.search-widget {
  display: none;
}
.custom-search-banner {
  margin: -1em 0 2em 0;
  background-color: var(--layer5_green);
}
.custom-search-banner .custom-search-banner-wrap {
  max-height: 250px;
  padding-top: 4em;
}
.custom-search-banner .custom-search-banner-wrap h1 {
  color: white;
  font-size: 50px;
}
.custom-search-banner .custom-search-banner-wrap p {
  color: white;
  font-size: 28px;
  margin: 1rem 0 3rem 0;
}
/* Category Section Styles */
.list-controls .combo-box .combo-box-header {
  border: none;
  font-size: 1.25em;
  text-transform: capitalize;
}
.select-kit.combo-box .select-kit-header {
  border: none;
  font-size: 1.25em;
}
.categories-and-latest div.column.categories {
  flex: 1 1 55%;
}
.categories-and-latest div.column {
  flex: 0 1 40%;
}
.category-list {
  border-collapse: separate;
  border-spacing: 0 1em;
}
.category-list thead {
  display: none;
}
.category-list tr {
  display: flex;
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 2.5em;
  border: none;
  background: #fbfbfd;
}
.category-list tbody .category {
  border: none;
}
.category-list tbody .category .category-logo.aspect-image {
  --max-height: 75px;
  max-width: 90px;
  height: auto;
}
/* Latest Section styles */
.latest-topic-list-item {
  border-bottom: none;
  margin-bottom: 20px;
}
.table-heading {
  border-bottom: none;
}
.latest-topic-list-item.visited a.title:not(.badge-notification) {
  color: black;
}
.latest-topic-list .table-heading {
  margin-left: 10px;
  color: black;
  font-size: 20px;
}
.twiiter-sidebar {
  margin-top: 20px;
}
.container {
  max-width: 1110px;
  margin: auto;
}
/* Footer Section Styles */
.footer {
  background-color: black;
  color: white;
  line-height: 28px;
  padding: 2.5rem 0px 1.5rem;
}
.footer h5 {
  font-weight: 300;
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
}
.row {
  width: 100%;
}
.footer-top {
  display: flex;
  margin-bottom: 1rem;
}
.footer-info {
  display: flex;
}
.col-lg-6 {
  width: 50%;
}
.footer-logo {
  margin-left: -10px;
  max-width: 200px;
  height: auto;
}
.col-lg-3 {
  width: 22%;
}
.col-lg-9 {
  width: 78%;
}
.footer-desc {
  padding-right: 1rem;
  font-style: italic;
  font-weight: 100;
  font-size: 16px;
  color: #ccc;
}
.section-title {
  font-size: 1.25rem;
  font-weight: 400px;
  color: rgba(255, 255, 255, 0.8);
  --heading-font-family: "Qanelas Soft", "Open Sans", sans-serif;
}
.footer-h5 {
  padding: 0px;
  margin: 0px;
  font-size: 1.063rem;
  font-weight: 400 !important;
  color: #ccc;
}
.footer-sections {
  flex: auto;
  padding: 0 1rem;
  margin-top: 15px;
}
.footer-sections a {
  color: inherit;
}
.footer-sections a:hover {
  color: var(--layer5_green);
}
.footer-icons {
  justify-content: flex-end;
}
.footer-icons img {
  padding: 0.1rem;
  height: 30px;
  width: 32px;
}
.footer-icons a {
  padding-right: 15px;
  filter: grayscale(1) invert(0.25);
}
.footer-icons a:hover {
  filter: grayscale(0) invert(0);
}
.footer-resources {
  margin-left: 60px;
}
.subscribe {
  justify-content: flex-end;
  margin: 0px 0px 2rem 0px;
}
.subscribe p {
  margin-bottom: 0;
}
.subscribe form {
  margin: 0;
}
input.footer-input {
  padding: 1rem;
  margin-right: 0.25rem;
  width: 20rem;
  height: 3.5rem;
  border: 0.5px solid white;
  background: transparent;
  border-radius: 0.5rem;
  outline: none;
  color: white;
}
input.footer-input:focus {
  padding: 1rem;
  margin-right: 0.25rem;
  width: 24rem;
  height: 3.5rem;
  border: 0.5px solid white;
  background: transparent;
  border-radius: 0.5rem;
  outline-width: 0;
  color: white;
}
.footer-button {
  height: 3.5rem;
  background: var(--layer5_green);
  width: 160px;
  border-radius: 0.25rem;
  border: none;
  /* margin-right: 2.5rem;
    */
}
.footer-hr {
  color: white;
  margin: 0;
}
.footer-bottom p {
  margin: 0 0 1rem;
  font-size: 0.8rem;
}
.footer-bottom a {
  color: white;
}
.footer-bottom-left {
  float: left;
}
.footer-bottom-right {
  float: right;
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .footer-info {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  .footer-resources {
    margin: 0 !important;
  }
  .footer-sections {
    padding: 20px !important;
  }
  .col-lg-3 {
    width: 100% !important;
  }
  .footer-desc {
    padding: 0px 10px 0px 10px !important;
    text-align: center !important;
  }
  .col-lg-9 {
    width: 100% !important;
  }
  .footer-top {
    flex-direction: column-reverse !important;
  }
  .col-lg-6 {
    width: 100% !important;
    text-align: center !important;
  }
  .footer-icons {
    justify-content: center !important;
  }
  .footer-logo {
    padding: 10px 10px 0px 10px !important;
  }
  .subscribe {
    justify-content: center !important;
  }
  input.footer-input {
    width: 13rem !important;
  }
  .footer-button {
    width: 120px !important;
  }
  .footer-bottom-right {
    margin: 1.5% !important;
  }
  .footer-bottom-left {
    padding: 2% !important;
  }
}
/* Media Query for low resolution Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .footer-info {
    flex-wrap: wrap !important;
  }
  .footer-resources {
    margin: 0 !important;
  }
  .footer-sections {
    padding: 20px !important;
  }
  .col-lg-3 {
    width: 100% !important;
  }
  .footer-desc {
    padding: 0px 10px 0px 10px !important;
    text-align: center !important;
  }
  .col-lg-9 {
    width: 100% !important;
  }
  .footer-top {
    flex-direction: column-reverse !important;
  }
  .col-lg-6 {
    width: 100% !important;
    text-align: center !important;
  }
  .footer-icons {
    justify-content: center !important;
  }
  .footer-logo {
    padding: 10px 10px 0px 10px !important;
  }
  .subscribe {
    justify-content: center !important;
  }
  input.footer-input {
    width: 13rem !important;
  }
  .footer-button {
    width: 120px !important;
  }
  .footer-bottom-right {
    margin: 1.5% !important;
  }
  .footer-bottom-left {
    padding: 2% !important;
  }
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .footer-info {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  .footer-resources {
    margin: 0 !important;
  }
  .footer-sections {
    padding: 20px !important;
  }
  .footer-sections a {
    font-weight: 400;
  }
  .col-lg-3 {
    width: 100% !important;
  }
  .footer-desc {
    padding: 0px 10px 0px 10px !important;
    text-align: center !important;
  }
  .footer-top {
    flex-direction: column-reverse !important;
  }
  .col-lg-6 {
    width: 100% !important;
    text-align: center !important;
  }
  .footer-icons {
    justify-content: center !important;
  }
  .footer-logo {
    padding: 10px 10px 0px 10px !important;
  }
  .subscribe {
    justify-content: center !important;
  }
  .footer-button {
    width: 120px !important;
  }
  .footer-bottom-right {
    margin: 1.5% !important;
  }
  .footer-bottom-left {
    padding: 2% !important;
  }
}

/* 
/* Media Query for Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px) {
}
*/
/* Media Query for Large screens */
/* @media (min-width: 1281px) {
}
*/
