---
layout: page
type: internship
title: Digital Marketing Internship
image: /assets/careers/internships/digital-marketing.svg
excerpt: "Learn and exercise modern marketing strategies and automation as a Layer5 Digital Marketing Intern."
---
{% include careers/position-title.html %}

<h5 class="black-text">About Layer5</h5>
We are a fun, talented and driven team dedicated to providing our customers with easy-to-use software and a world-class, open source community experience. While small, the Layer5 community represents the largest collection of service mesh projects and their maintainers in the world. Advanced and emerging technology, and empowering engineers are at the core of our company, and though we move at a very fast pace, we are committed to maintaining a work environment of continual learning and giving back to our community. A passion for great design, dedication to innovation and a strong social media presence are our building blocks for creating a unique and engaging brand across the cloud native landscape. Our headquarters are located in the hill country of Austin, Texas, and we embrace the unique vibe and energy of our hometown as an inspiration for our brand and company culture.

<div style="float:right; width:30%; text-align:center;" ><img src="/assets/careers/internships/digital-marketing.svg" />
Digital Marketing Internship</div>

<h5 class="black-text">Internship Overview</h5>
The Layer5 Internship Program offers students and graduates an opportunity to gain exposure to the inner workings of the fast-moving world of cloud native. We value all of our interns and commit to providing a comprehensive learning experience that aligns with individual interests and career goals.

<h6>Basics</h6>
<ul>
    <li>12-week, experience fully online or in Austin, TX. Relocation is not necessary.</li>
    <li>Applicants should be fluent with popular digital marketing tools.</li>
    <li>Internships are ongoing and may start anytime.</li>
</ul>
<h6 style="display: inline;">Start Date:</h6> ASAP
<br />
<h6 style="display: inline;">Compensation:</h6> Monthly stipend. Amount depends on experience.

<h5 class="black-text">What You Will Learn</h5>
In this position, you will collaborate with our core team in each stage of marketing campaigns. Your work will include developing, growing, and expanding our marketing channels through social media outreach, blogging, event planning, and speaker engagement.

We have multiple internships for the Spring and Summer. This is an extremely dynamic position and a great opportunity for an entry level marketing person to build their skills and their career. The Digital Marketing Intern will work closely with the open source community and broad set of Layer5 academic and technology partners. The ideal candidate is analytical and good with numbers and is driven to succeed with little supervision. You are someone who works well in a team and takes pride in helping a company succeed and grow and are willing to put in the work needed to become a valued member of an evolving marketing team.

<h5 class="black-text">Responsibilities</h5>
As a Layer5 digital marketing intern, you will put into practice marketing strategy that includes brand building, content strategy, and competitive research. Put your digital advertising skills to use with data organization, and marketing automation. 

Interns will enhance their search engine optimization (SEO) techniques, including link building and backlinks and content optimization. You will understand how to develop domain authority, create conversion funnels and do conversion tracking. You will engage in influencer marketing through social media channels, leveraging email automation and remarketing techniques.

<p>
Competency with some or all of the following is ideal:
<ul>
        <li>Google Analytics</li>
        <li>Jekyll, HTML/CSS</li>
        <li>MailChimp, SendInBlue</li>
        <li>Twitter, YouTube</li>
        <li>GSuite Apps (Docs, Slides,...)</li>
        <li>Git (GitHub), Markdown</li>
        <li>Slack, IFTTT</li>
</ul>
</p>

<h5 class="black-text">Qualifications</h5>
<ul>
    <li>Currently pursuing a bachelor's or master's degree: All majors welcome, rising final year (seniors) preferred but not mandatory.</li>
    <li>Strong organizational and communication skills.</li>
    <li>Self-motivated.</li>
    <li>Results-oriented with keen ability to problem solve.</li>
    <li>Desire to learn and take initiative.</li>
</ul>

<h5 class="black-text">Ideal Candidate</h5>
<ul>
    <li>Availability to work at least 20 hours a week (40 hours a week internships also available).</li>
    <li>The ability to embody Layer5’s cultural values among peers and across the community.</li>
    <li>A high level of accountability, reliability and initiative.</li>
    <li>Exceptional organizational skills and attention to detail.</li>
    <li>Excellent written and verbal communication skills.</li>
    <li>A strong ability to build relationships with community members and keep others informed.</li>
    <li>A growth mindset: desire to learn, grow and embrace new ideas.</li>
    <li>A shared appreciation for our core values of continual learning, making strategic decisions with fast execution, and creating a platform for shared success.</li>
</ul>

{% include careers/position-apply.html %}

<hr class="grey" />
<p class="grey-text card-panel">
Code: MARCOM12<br />
Division: United States<br />
Location: Headquarters<br />
City: Austin<br />
State: Texas<br />
Zip Code: 78756<br />
</p>
