/* Spectrum banner arrow design adapted from https://stackoverflow.com/a/49615868 */
.spectrum-arrow {
  position: relative;
  display: inline-block;
  color: aliceblue;
  height: 2em;
  width: inherit;
  min-width: max-content;
  line-height: 2em;
  font-size: 2em;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    var(--spectrum-color),
    rgba(255, 255, 255, 0.2)
  );
  z-index: 1;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 100%;
}

.spectrum-arrow::before,
.spectrum-arrow::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  margin-top: -0.5em;
}

.spectrum-arrow:not(.spectrum-dual)::before {
  left: -1em;
  border-right: 1em solid rgba(255, 255, 255, 0.2);
}
.spectrum-dual::before {
  left: -1em;
  border-right: 1em solid var(--lcolor);
}

.spectrum-arrow:not(.spectrum-dual)::after {
  right: -1em;
  border-left: 1em solid rgba(255, 255, 255, 0.2);
}
.spectrum-dual::after {
  right: -1em;
  border-left: 1em solid var(--rcolor);
}

.spectrum-dual {
  background: linear-gradient(to right, var(--lcolor), var(--rcolor));
}

.spectrum-grid {
  width: inherit;
  min-width: 50vw;
  display: grid;
  grid-gap: 2px;
  grid-auto-flow: column dense;
  grid-template-rows: auto;
  font-size: 0.8em;
  background-color: transparent;
}

// .spectrum-grid > div {
//   background-color: transparent !important;
//   box-shadow: unset !important;
// }

// .spectrum-grid > img {
//   width: 100%;
//   object-fit: contain;
// }

.spectrum-grid-header {
  color: var(--main-dark-blue);
  font-weight: bold;
  font-size: 1.5em;
  padding: 0 5px 0 5px;
}

.spectrum-card-content {
  border-radius: 15px;
  height: max-content;
  padding-bottom: 1em;
}

.spectrum-card-image {
  border-radius: 12px;
  padding-bottom: 1em;
}

.spectrum-card-image img {
  // max-height: 75px;
}

.spectrum-card-image a {
  color: aliceblue;
  font-weight: bold;
}

.spectrum-grid-cell {
  grid-column-start: var(--col);
}

.spectrum-card-centered {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* TABLE */
.spectrum-table th {
  text-align: center;
  // background-color: var(--main-dark-blue);
  // color: aliceblue !important;
  padding: 10px !important;
  margin: 0 !important;
}

.spectrum-table th a {
  color: aliceblue !important;
}

.spectrum-table th:first-child,
.spectrum-table td:first-child {
  // background-color: aliceblue !important;
  // color: var(--main-dark-blue);
  // font-size: 1.5em;
  // font-weight: bold;
  width: max-content !important;
  // border-left: 2px var(--main-dark-blue) solid;
}

.spectrum-table th:first-child {
  // background-color: var(--main-dark-blue) !important;
  // color: aliceblue;
}

.spectrum-table th:not(:last-child) {
  // border-right: 2px aliceblue solid;
}

.spectrum-table th:last-child,
.spectrum-table td:last-child {
  // border-right: 2px var(--main-dark-blue) solid;
}

.spectrum-table td {
  text-align: center;
  // border-top: 2px var(--main-dark-blue) solid;
  // border-bottom: 2px var(--main-dark-blue) solid;
  // border-right: 2px var(--main-dark-blue) solid;
  line-height: 1 !important;
  font-size: 0.8rem;
}

.spectrum-table td:not(:first-child) {
  background-color: rgba(3, 210, 168, var(--alpha)) !important;
}

.spectrum-table img {
  max-height: 75px;
  max-width: 150px;
  padding-left: 5px;
}

.landscape-category {
  margin: 55px 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 5px;
  font-size: 30px;
}

.row {
  position: inherit;
}

.smi-logo-sizing {
  height: 25vw;
  margin-top: 150px;
}

@media screen and (max-width: 900px) {
  
  .smi-logo-sizing {
    height: 25vw;
    margin-top: 30px;
  }
}