
<div>
    <ul>
      <div class="tooltip">
      <a class="white-text swap" href="mailto:community@layer5.io">
        <img width="40px" src="/assets/images/email.svg"  />
        <img width="40px" src="/assets/images/email1.png" />
      </a>
      <span class="tooltiptext">Get connected with the Layer5 community</span>
      </div>
      
      <div class="tooltip">
      <a class="swap" href="{{site.slack}}">
        <img class="small-on-med-and-down" width="40px" src="/assets/images/slack.svg" />
        <img class="small-on-med-and-down" width="40px" src="/assets/images/slack1.png" />
      </a>
      <span class="tooltiptext">Join the Layer5 Slack</span>
      </div>
        
      <div class="tooltip">
      <a class="swap" href="{{site.twitter.url}}">
       <img class="small-on-med-and-down" width="40px" src="/assets/images/twitter.svg" />
       <img class="small-on-med-and-down" width="40px" src="/assets/images/twitter1.png" />
      </a>
      <span class="tooltiptext">Follow Layer5 on Twitter</span>
      </div>
          
      <div class="tooltip">
      <a class="swap" href="{{site.github}}">
        <img class="small-on-med-and-down" width="40px" src="/assets/images/github.svg" />
        <img class="small-on-med-and-down" width="40px" src="/assets/images/github1.png" />
      </a>
      <span class="tooltiptext">Contribute to Layer5 projects</span>
      </div >
      
      <div class="tooltip">
      <a class="swap" href="{{site.youtube}}">
        <img class="small-on-med-and-down" width="40px" src="/assets/images/youtube.svg" />
        <img class="small-on-med-and-down" width="40px" src="/assets/images/youtube1.png" />
      </a>
      <span class="tooltiptext">Watch community meeting recordings</span>
      </div>
      
      <div class="tooltip">
      <a class="swap" href="{{site.docker}}">
        <img class="small-on-med-and-down devicon-docker-plain" width="40px" src="/assets/images/docker.svg" />
        <img class="small-on-med-and-down devicon-docker-plain" width="40px" src="/assets/images/docker1.png" />
      </a>
      <span class="tooltiptext">Access Docker images for Layer5 projects</span>
      </div>
          
    </ul>
  </div>