
	<div class="4u 12u(mobile)">
		<div class="row">

			<div class="col s6 offset-s5">

				<span class="white-text" style="font-weight: bold;font-size:1.2em;">Community Resources</span>
				<ul style="list-style-type:disc;">
					<li style="list-style-type:square;"><a class="white-text" href="/landscape#categories">Service Mesh Ecosystem</a></li>
					<ul>
					<li style="list-style-type:square;"><a class="white-text" href="/landscape#non-functional">List of Service Meshes</a></li>
					<li style="list-style-type:square;"><a class="white-text" href="/landscape#functional">Service Mesh Functionality</a></li>
					<li style="list-style-type:square;"><a class="white-text" href="/landscape#tools">Service Mesh Utilities</a></li>
					</ul>
				</ul>
				<span class="white-text" style="font-weight: bold;font-size:1.2em;">Projects</span>
				<ul style="list-style-type:disc;">
					<li style="list-style-type:square;"><a class="white-text" href="/meshery">Meshery</a></li>
					<li style="list-style-type:square;"><a class="white-text" href="/gsoc/2019">Google Summer of Code</a></li>
				</ul>
				<span class="white-text" style="font-weight: bold;font-size:1.2em;">Collections</span>
				<ul style="list-style-type:circle;">
					<li style="list-style-type:square;"><a class="white-text" href="/#books">Service Mesh Books</a></li>
					<li style="list-style-type:square;"><a class="white-text" href="/#workshops">Service Mesh Workshop</a></li>
				</ul>
			</div>

		</div>
	</div>


