
	<div class="4u 12u(mobile) nav-sidebar">
		<div class="row">

			<div class="col s6 offset-s5">

				<span class="white-text nav-sidebar">Service Mesh Ecosystem</span>
				<ul class="nav-sidebar">
					<li><a class="white-text" href="/landscape/#categories" alt="Service Mesh Landscape" title="Compare Service Meshes">Service Mesh Landscape</a></li>
					<li><a class="white-text" href="/landscape/#non-functional" alt="Service Mesh List" title="Compare Service Mesh Capabilities">List of Service Meshes</a></li>
					<li><a class="white-text" href="/landscape/#functional" alt="Service Mesh Functionality" title="Compare Service Mesh Functionality">Functionality</a></li>
					<li><a class="white-text" href="/landscape/#tools" alt="Service Mesh Tools" title="Compare Service Mesh Utilities">Utilities</a></li>
					
				</ul>
				<br />
				<span class="white-text nav-sidebar">Projects</span>
				<ul class="nav-sidebar">
					<li><a class="white-text" alt="Service Mesh Performance Benchmark" title="Compare Service Mesh Performance" href="/meshery">Meshery</a></li>
					<li><a class="white-text" href="/gsoc/2019" title="Service Mesh Google Summer of Code Projects">Google Summer of Code</a></li>
				</ul>
				<span class="white-text nav-sidebar">Service Mesh Resources</span>
				<ul>
					<li><a class="white-text" alt="Service Mesh Books" title="Service Mesh Books" href="/books">Books</a></li>
					<li><a class="white-text" alt="Service Mesh Workshops" title="Service Mesh Workshops" href="/workshops">Workshops</a></li>
					<li><a class="white-text" alt="Blogs" title="Service Mesh Blog" href="/blog">Blog</a></li>
				</ul>
			</div>

		</div>
	</div>


