<div style="vertical-align: middle;padding-left:5%; display: inline;">
  <div style="vertical-align: middle;position:relative;float:left;display: inline;">
      <ul>
        <li><div class="tooltip"><a class="white-text" href="mailto:community@layer5.io">
          <img class="small-on-med-and-down" width="40px" src="/assets/images/email.svg" />
          <span class="tooltiptext">Get connected with the Layer5 community</span></a></div></li>
        <li><div class="tooltip"><a href="{{site.slack}}">
          <img class="small-on-med-and-down" width="40px" src="/assets/images/slack.svg" />
          <span class="tooltiptext">Join the Layer5 Slack</span></a></div></li>
        <li><div class="tooltip"><a href="{{site.twitter.url}}">
          <img class="small-on-med-and-down" width="40px" src="/assets/images/twitter.svg" />
          <span class="tooltiptext">Follow Layer5 on Twitter</span></a></div></li>
      </ul>
    </div>
    <div style="vertical-align: middle; position:relative;float: left;  display: inline;">
      <ul>
        <li><div class="tooltip"><a href="{{site.github}}">
          <img class="small-on-med-and-down" width="40px" src="/assets/images/github.svg" />
          <span class="tooltiptext">Contribute to Layer5 projects</span></a></div></li>
        <li><div class="tooltip"><a href="{{site.youtube}}">
              <img class="small-on-med-and-down"width="40px" src="/assets/images/youtube.svg" />
              <span class="tooltiptext">Watch community meeting recordings</span></a></div></li>
        <li><div class="tooltip"><a href="{{site.docker}}">
            <img class="small-on-med-and-down devicon-docker-plain" width="40px" 
              src="/assets/images/docker.svg" />
              <span class="tooltiptext">Access Docker images for Layer5 projects</span></a></div></li>
      </ul>
    </div>
</div>