.card{
    box-shadow: rgb(38, 57, 77, 0.5) 0px 20px 30px -10px;
 
  background: linear-gradient(
    266.65deg,
    #00b39f 40.19%,
    #477e96 74.31%,
    #3c494f 92.89%
  );
  height:40vh;
  padding:1rem;
  border-radius: 20px;
}


@media (max-width:570px){
  .card{
     height:47vh;

  }
  h2{
      font-size: 1.4rem;
  }
  p{
      font-size: 1rem;
  }

}
@media (max-width:520px){
    .card{
       height:45vh;
  
    }
    h2{
        font-size: 1.2rem;
    }
    p{
        font-size: 0.8rem;
    }
  
  }
  @media (max-width:470px){
    .card{
       height:40vh;
  
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 0.6rem;
    }
  
  }