.swiper-slide{
  border-radius: 20px;
}


.card{
    /* box-shadow: rgb(38, 57, 77, 0.5) 0px 20px 30px -10px; */
    box-shadow: none;
 
  background: linear-gradient(
    266.65deg,
    #00b39f 40.19%,
    #477e96 74.31%,
    #3c494f 92.89%
   
  );
  height:60vh;
  padding:2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card img{
  height:200px;
  width:300px;
  margin-left: 1.5rem;
}
.card h2{
  text-align: center;
  color:white;
}
.card p{
  text-align: center;
  color:white;
}
.card a{
  margin-top: 1rem;
  color: white;
}
@media (max-width:670px){
.card img{
  height:150px;
  width:250px;
}
}

@media (max-width:570px){
  
  h2{
      font-size: 1.4rem;
     
  }
  p{
      font-size: 1rem;
  }

}

@media (max-width:520px){
   
    h2{
        font-size: 1.2rem;
    }
    p{
        font-size: 0.8rem;
    }
  
  }
  @media (max-width:470px){
    .card{
      height:47vh;
      padding: 1rem;
    }
    .card img{
      height:80px;
      width:150px;
      margin-left: 0.5rem;
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 0.6rem;
    }
  
  }