---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Syntax highlighting sass properties and inclusion
$base-font-size: 1em;
$spacing-unit:     30px !default;

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

@import "../_sass/utility";
@import "../_sass/sidebar-left";
@import "../_sass/sidebar";
@import "../_sass/syntax-highlighting";
@import "../_sass/hori-social";
@import "../_sass/top-nav";
@import "../_sass/spectrum-comparison.scss";
@import "../_sass/adapters";
@import "../_sass/blogs";
