@font-face {
    font-family: 'qanelas_softultralight_italic';
    src: url('../assets/fonts/qanelassoft/qanelassoftultralightitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/qanelassoft/qanelassoftultralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas_softultralight';
    src: url('../assets/fonts/qanelassoft/qanelassoftthinitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/qanelassoft/qanelassoftultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas_softthin_italic';
    src: url('../assets/fonts/qanelassoft/qanelassoftthinitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/qanelassoft/qanelassoftthinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas_softthin';
    src: url('../assets/fonts/qanelassoft/qanelassoftthin-webfont.woff2') format('woff2'),
         url('../assets/fonts/qanelassoft/qanelassoftthin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas_softsemibold_italic';
    src: url('../assets/fonts/qanelassoft/qanelassoftsemibolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/qanelassoft/qanelassoftsemibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas_softsemibold';
    src: url('../assets/fonts/qanelassoft/qanelassoftsemibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/qanelassoft/qanelassoftsemibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas_softregular';
    src: url('../assets/fonts/qanelassoft/qanelassoftregular-webfont.woff2') format('woff2'),
         url('../assets/fonts/qanelassoft/qanelassoftregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas_softmedium_italic';
    src: url('../assets/fonts/qanelassoft/qanelassoftmediumitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/qanelassoft/qanelassoftmediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas_softmedium';
    src: url('../assets/fonts/qanelassoft/qanelassoftmedium-webfont.woff2') format('woff2'),
         url('../assets/fonts/qanelassoft/qanelassoftmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas_softlight_italic';
    src: url('../assets/fonts/qanelassoft/qanelassoftlightitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/qanelassoft/qanelassoftlightitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas_softlight';
    src: url('../assets/fonts/qanelassoft/qanelassoftlight-webfont.woff2') format('woff2'),
         url('../assets/fonts/qanelassoft/qanelassoftlight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

h1 {
    font-family: 'qanelas_softsemibold';
}
h2 {
    font-family: 'qanelas_softmedium';
}
h3 {
    font-family: 'qanelas_softregular';
}
h4 {   
      font-family: 'qanelas_softregular';
 }
h5 {
    font-family: 'qanelas_softregular';
}
h6 {
    font-family: 'qanelas_softultralight';
}