<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $(".collapse-head").click(function () {
    $(".collapse-" + $(this).attr("id")).find(".collapse-body").slideToggle();
  });
});
</script>

<div class="col-sm-12">
  <div class="panel panel-default">
    <table
    class="table highlighted table-responsive table-hover"
    style="color: var(--main-bg-color); background-color: #ffffff;">
      <thead
        style="
          background-color: #a6b7be;
          color: #222;
          word-wrap: none;
          width: 100%;
        "
      >
        <tr>
          <th>Service Mesh</th>
          <th>Mesh Version</th>
          <th>Traffic Access</th>
          <th>Traffic Split</th>
          <th>Traffic Spec</th>
          <th>% Passed</th>
        </tr>
      </thead>
      <tbody>
        {% assign smi = site.data.landscape.smi %} {% for result in smi %}
        <tr class="collapse-head" style="border: 1px dashed #a6b7be;" id="{{result.id}}" data-toggle="tooltip" data-target=".{{result.id}}">
          <td>
            {% if result.mesh_name == "Open Service Mesh" %}
            <img
              src="assets/images/service-mesh-icons/osm.svg"
              height="30px"
              alt="{{result.mesh_name}}"
              data-toggle="tooltip"
              title="{{result.mesh_name}}"
            />
            {% elsif result.mesh_name == "Traefik" %}
            <img
              src="assets/images/service-mesh-icons/traefik-mesh.svg"
              height="30px"
              alt="{{result.mesh_name}}"
              data-toggle="tooltip"
              title="{{result.mesh_name}}"
            />
            {% elsif result.mesh_name == "Istio" %}
            <img
              src="assets/images/service-mesh-icons/istio.svg"
              height="30px"
              alt="{{result.mesh_name}}"
              data-toggle="tooltip"
              title="{{result.mesh_name}}"
            />
            {% elsif result.mesh_name == "Linkerd" %}
            <img
              src="assets/images/service-mesh-icons/linkerd.svg"
              height="30px"
              alt="{{result.mesh_name}}"
              data-toggle="tooltip"
              title="{{result.mesh_name}}"
            />
            {% elsif result.mesh_name == "Kuma" %}
            <img
              src="assets/images/service-mesh-icons/kuma.svg"
              height="30px"
              alt="{{result.mesh_name}}"
              data-toggle="tooltip"
              title="{{result.mesh_name}}"
            />
            {% elsif result.mesh_name == "Consul" %}
            <img
              src="assets/images/service-mesh-icons/consul.svg"
              width="30px"
              alt="{{result.mesh_name}}"
              data-toggle="tooltip"
              title="{{result.mesh_name}}"
            />
            {% elsif result.mesh_name == "App Mesh" %}
            <img
              src="assets/images/service-mesh-icons/aws-app-mesh.svg"
              height="30px"
              alt="{{result.mesh_name}}"
              data-toggle="tooltip"
              title="{{result.mesh_name}}"
            />
            {% endif %}
          </td>

          <td>
            <p>{{result.mesh_version}}</p>
            </td>

          {% for spec in result.more_details %}
            
          <td data-toggle="tooltip" title="{{spec.reason}}">
            {% if spec.capability == "None" %}
            <i class="fa fa-times-circle" style="font-size:18px;color:red"></i>
            {% elsif spec.capability == "Full" %}
            <i class="fa fa-check-circle" style="font-size:20px;color:green"></i>
            {% elsif result.capability == "Half" %}
            <i class="fa fa-check-circle" style="font-size:20px;color:yellow"></i>
            {% endif %}
          </td>
          {% endfor %}

          <td>{{result.passing_percentage}}</td>
        </tr>

        {% for prev_result in result.previous_versions %}
          <tr class = "collapse-{{result.id}}" style="background-color: #f2f2f2;padding: 0;border: 1px dashed #a6b7be;">
            <td style="padding: 0"><div class="collapse-body" style="display: none;padding: 10px"></div></td>
            <td style="padding: 0"><div class="collapse-body" style="display: none;padding: 10px"> {{prev_result.mesh_version}} </div></td>
            
            {% for spec in result.more_details %}
              <td style="padding: 0" scope="row" data-toggle="tooltip" title="{{spec.reason}}">
                <div class="collapse-body" style="display: none;padding: 10px">
                {% if spec.capability == "None" %}
                <i class="fa fa-times-circle" style="font-size:18px;color:red"></i>
                {% elsif spec.capability == "Full" %}
                <i class="fa fa-check-circle" style="font-size:20px;color:green"></i>
                {% elsif result.capability == "Half" %}
                <i class="fa fa-check-circle" style="font-size:20px;color:yellow"></i>
                {% endif %}
                </div>
              </td>
            {% endfor %}

            <td style="padding: 0;"><div class="collapse-body" style="display: none;padding: 10px">{{prev_result.passing_percentage}}</div></td>
          </tr>
        {% endfor %}

      {% endfor %}
      </tbody>
    </table>
  </div>
</div>