<table
  id="nonfunc-table"
  class="responsive-table highlight striped"
  style="color: var(--main-bg-color);"
>
  <thead
    style="
      background-color: #a6b7be;
      color: #222;
      text-align: center;
      word-wrap: none;
    "
  >
    <tr style="cursor: pointer;">
      <th onclick="sortTable('nonfunc-table',0)">Category</th>
      <th onclick="sortTable('nonfunc-table',1)">Name</th>
      <th onclick="sortTable('nonfunc-table',2)">Open Source</th>
      <th onclick="sortTable('nonfunc-table',3)">Governance</th>
      <th onclick="sortTable('nonfunc-table',4)">Primary Language</th>
      <th onclick="sortTable('nonfunc-table',5)">Project Announce</th>
      <th onclick="sortTable('nonfunc-table',6)">GA / 1.0</th>
      <th onclick="sortTable('nonfunc-table',7)">Commercial Offerings</th>
    </tr>
  </thead>

  <tbody>
    {% assign nonfunc_by_category = site.data.landscape.non-functional | sort:
    "category" | reverse %} {% for nonfunc in nonfunc_by_category %}
    <tr style="border: 1px dashed #a6b7be; text-align: center;">
      <td style="text-align: center;">{{nonfunc.category}}</td>
      <td>
        <a href="{{nonfunc.link}}" title="{{nonfunc.link}}">{{nonfunc.name}}</a>
      </td>
      <td style="text-align: center;">
        {% if nonfunc.opensource=="Yes" %}
          <i class="fa fa-check-circle" style="font-size:20px;color:green"></i>
        {% elsif nonfunc.opensource=="No" %}
          <i class="fa fa-times-circle" style="font-size:18px;color:red"></i>
        {% elsif nonfunc.opensource=="?" %}
          <i class="fa fa-question-circle" style="font-size:18px;color:gray"></i>
        {% else %}
          {{nonfunc.opensource}}
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if nonfunc.governance=="?" %}
          <i class="fa fa-question-circle" style="font-size:18px;color:gray"></i>
        {% else %}
          {{nonfunc.governance}}
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if nonfunc.primary-lang=="?" %}
          <i class="fa fa-question-circle" style="font-size:18px;color:gray"></i>
        {% else %}
          {{nonfunc.primary-lang}}
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if nonfunc.announce-date=="?" %}
          <i class="fa fa-question-circle" style="font-size:18px;color:gray"></i>
        {% else %}
          {{nonfunc.announce-date}}
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if nonfunc.ga-1-date=="?" %}
          <i class="fa fa-question-circle" style="font-size:18px;color:gray"></i>
        {% else %}
          {{nonfunc.ga-1-date}}
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if nonfunc.commercial=="?" %}
          <i class="fa fa-question-circle" style="font-size:18px;color:gray"></i>
        {% else %}
          {{nonfunc.commercial}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- tablesorter plugin -->
<script src="/assets/js/table-colors-category.js"></script>
<script src="/assets/js/table-sort.js"></script>
