<div class="row">

  <style> 
    .card-content>ul {font-weight:bold;} 
    .card-content>ul>li {
      margin-left: 5px;
      font-weight: normal;
      float: right;
      width: 200px;
    }
    
    .card-content {
      padding: 0 0 5px 0 !important;
      border-right: none;
    }

    .card-content:not(:last-child) {
      border-bottom-width: 1px;
      border-bottom-style: dashed;
      border-bottom-color: var(--main-dark-grey);
    }
  </style>

  <h5 style="color:aliceblue;">Categories</h5>
  
  <div class="card-content comparison">
    <ul>Service Mesh
      {% assign sorted = (site.data.landscape.meshes | sort: 'name')  %}
      {% for meshes in sorted %}
          <li><div class="tooltip"><a href="{{meshes.link}}">{{meshes.name}}</a>
            <span class="tooltiptext">{{meshes.desc}}</span></div>
          </li>
      {% endfor %}
    </ul>
  </div>

  <div class="card-content comparison">
    <ul>Client Library
      {% for clients in site.data.landscape.clients %}
          <li><div class="tooltip"><a href="{{clients.link}}">{{clients.name}}</a>
          <span class="tooltiptext">{{clients.desc}}</span></div>
        </li>
        
      {% endfor %}
    </ul>
  </div>

  <div class="card-content comparison">
      <ul>API Gateway
        {% for gw in site.data.landscape.gw %}
            <li><div class="tooltip"><a href="{{gw.link}}">{{gw.name}}</a>
              <span class="tooltiptext">{{gw.desc}}</span></div>
            </li>

        {% endfor %}
      </ul>
  </div>
  
  <div class="card-content comparison">
      <ul>Service Proxy
        {% for proxies in site.data.landscape.proxies %}
            <li><div class="tooltip"><a href="{{proxies.link}}">{{proxies.name}}</a>
              <span class="tooltiptext">{{proxies.desc}}</span>
            </div></li>
        {% endfor %}
      </ul>
  </div>

  <div class="card-content comparison">
    <ul>Load Balancer
      {% for lbs in site.data.landscape.lb %}
          <li><div class="tooltip"><a href="{{lbs.link}}">{{lbs.name}}</a>
            <span class="tooltiptext">{{lbs.desc}}</span>
          </div></li>
      {% endfor %}
    </ul>
  </div>
    
  <span style="color:aliceblue;">Found a discrepancy, missing or out-dated information? Please <a href="https://github.com/layer5io/layer5/issues" style="color:aliceblue;">submit an issue</a>.</span>
</div>

<div class="row">
    <div class="col s12"><h5 style="color:aliceblue;">Non-Functional</h5>
        {% include landscape/service-mesh-non-functional.html %}
        <span style="color:aliceblue;">Found a discrepancy, missing or out-dated information? Please <a href="https://github.com/layer5io/layer5/issues" style="color:aliceblue;">submit an issue</a>.</span>
    </div>
</div>

<div class="row">
    <div class="col s12"><h5 style="color:aliceblue;">Functional</h5>    
      {% include landscape/service-mesh-functionality.html %}
      <span style="color:aliceblue;">Found a discrepancy, missing or out-dated information? Please <a href="https://github.com/layer5io/layer5/issues" style="color:aliceblue;">submit an issue</a>.</span>
    </div>
</div>

<div class="row">
    <div class="col s12"><h5 style="color:aliceblue;" id="tools">Tools</h5>    
      {% include landscape/service-mesh-tools.html %}
      <!-- <iframe border="0" width="100%" height="200px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS_rsfCriaUg3WWzfO5CGMizD-MIUF6GM46ZNGy-jxSYz1dIH6plLQBy7R0S3IE_9sqyhUN8sgYZBZ6/pubhtml?gid=1277883243&amp;single=true&amp;widget=true&amp;headers=false"></iframe> -->
      <span style="color:aliceblue;">Found a discrepancy, missing or out-dated information? Please <a href="https://github.com/layer5io/layer5/issues" style="color:aliceblue;">submit an issue</a>.</span>
    </div>
</div>

{% include newsletter-signup.html %}