<table
  id="meshes-table"
  class="responsive-table highlight striped"
  style="color: var(--main-bg-color);"
>
  <thead
    style="
      background-color: #a6b7be;
      color: #222;
      text-align: center;
      word-wrap: none;
    "
  >
    <tr style="cursor: pointer;">
      <th onclick="sortTable('meshes-table',0)">Service Mesh</th>
      <th onclick="sortTable('meshes-table',1)">Auto Proxy Injection</th>
      <th onclick="sortTable('meshes-table',2)">TCP + WebSockets</th>
      <th onclick="sortTable('meshes-table',3)">HTTP, HTTP/2</th>
      <th onclick="sortTable('meshes-table',4)">gRPC</th>
      <th onclick="sortTable('meshes-table',5)">Multi-Cluster</th>
      <th onclick="sortTable('meshes-table',6)">Multi-Tenant</th>
      <th onclick="sortTable('meshes-table',7)">Prometheus Integration</th>
      <th onclick="sortTable('meshes-table',8)">Tracing Integration</th>
      <th onclick="sortTable('meshes-table',9)">Encryption</th>
    </tr>
  </thead>

  <tbody>
    {% assign meshes_by_category = site.data.landscape.meshes | sort: "category"
    | reverse %} {% for meshes in meshes_by_category %}
    <tr style="border: 1px dashed #a6b7be; text-align: center;">
      <td>
        <a href="{{meshes.link}}" title="{{meshes.desc}}">{{meshes.name}}</a>
      </td>
      {% include service-mesh-functionality-column.html GREAT=GREAT GOOD=GOOD
      BAD=BAD COL=meshes.autoinject %} {% include
      service-mesh-functionality-column.html GREAT=GREAT GOOD=GOOD BAD=BAD
      COL=meshes.tcp-web %} {% include service-mesh-functionality-column.html
      GREAT=GREAT GOOD=GOOD BAD=BAD COL=meshes.h2 %} {% include
      service-mesh-functionality-column.html GREAT=GREAT GOOD=GOOD BAD=BAD
      COL=meshes.grpc %} {% include service-mesh-functionality-column.html
      GREAT=GREAT GOOD=GOOD BAD=BAD COL=meshes.multi-cluster %} {% include
      service-mesh-functionality-column.html GREAT=GREAT GOOD=GOOD BAD=BAD
      COL=meshes.multi-tenant %} {% include
      service-mesh-functionality-column.html GREAT=GREAT GOOD=GOOD BAD=BAD
      COL=meshes.prometheus %} {% include service-mesh-functionality-column.html
      GREAT=GREAT GOOD=GOOD BAD=BAD COL=meshes.tracing %} {% include
      service-mesh-functionality-column.html GREAT=GREAT GOOD=GOOD BAD=BAD
      COL=meshes.encryption %}
    </tr>
    {% endfor %}
  </tbody>
</table>
