<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="col-sm-12">
  <div class="panel panel-default">
    <table class="table table-responsive table-hover">
      <thead
        style="
          background-color: #a6b7be;
          color: #222;
          word-wrap: none;
          width: 100%;
        "
      >
        <tr>
          <th>Service Mesh</th>
          <th>Mesh Version</th>
          <th>Traffic Access</th>
          <th>Traffic Split</th>
          <th>Traffic Spec</th>
          <th>% Passed</th>
        </tr>
      </thead>
      <tbody>
        {% assign smi = site.data.landscape.smi %} {% for result in smi %}
        <tr data-toggle="collapse" id="row1" data-target=".row1">
          <td>
            <img
              src="{{result.logo}}"
              width="50px"
              alt="{{result.mesh_name}}"
              data-toggle="tooltip"
              title="{{result.more_details[0].mesh_name}}"
            />
          </td>
          <td>{{result.mesh_version}}</td>
          <td data-toggle="tooltip" title="{{result.reason}}">
            {% if result.traffic_access == "None" %}
            <span class="material-icons"> highlight_off </span>
            {% elsif result.traffic_access == "Full" %}
            <span class="material-icons"> check_circle_outline </span>
            {% elsif result.traffic_access == "Half" %}
            <span class="material-icons"> unpublished </span>
            {% endif %}
          </td>
          <td data-toggle="tooltip" title="{{result.reason}}">
            {% if result.traffic_split == "None" %}
            <span class="material-icons"> highlight_off </span>
            {% elsif result.traffic_split == "Full" %}
            <span class="material-icons"> check_circle_outline </span>
            {% elsif result.traffic_split == "Half" %}
            <span class="material-icons"> unpublished </span>
            {% endif %}
          </td>
          <td data-toggle="tooltip" title="{{result.reason}}">
            {% if result.traffic_spec == "None" %}
            <span class="material-icons"> highlight_off </span>
            {% elsif result.traffic_spec == "Full" %}
            <span class="material-icons"> check_circle_outline </span>
            {% elsif result.traffic_spec == "Half" %}
            <span class="material-icons"> unpublished </span>
            {% endif %}
          </td>
          <td>{{result.passing_percentage}}</td>
        </tr>
        <tr class="collapse row1">
          <td></td>
          <td>{{result.more_details[0].mesh_version}}</td>
          <td
            scope="row"
            data-toggle="tooltip"
            title="{{result.more_details[0].reason}}"
          >
            {% if result.more_details[0].traffic_access == "None" %}
            <span class="material-icons"> highlight_off </span>
            {% elsif result.more_details[0].traffic_access == "Full" %}
            <span class="material-icons"> check_circle_outline </span>
            {% elsif result.more_details[0].traffic_access == "Half" %}
            <span class="material-icons"> unpublished </span>
            {% endif %}
          </td>
          <td
            scope="row"
            data-toggle="tooltip"
            title="{{result.more_details[0].reason}}"
          >
            {% if result.more_details[0].traffic_split == "None" %}
            <span class="material-icons"> highlight_off </span>
            {% elsif result.more_details[0].traffic_split == "Full" %}
            <span class="material-icons"> check_circle_outline </span>
            {% elsif result.more_details[0].traffic_split == "Half" %}
            <span class="material-icons"> unpublished </span>
            {% endif %}
          </td>
          <td
            scope="row"
            data-toggle="tooltip"
            title="{{result.more_details[0].reason}}"
          >
            {% if result.more_details[0].traffic_spec == "None" %}
            <span class="material-icons"> highlight_off </span>
            {% elsif result.more_details[0].traffic_spec == "Full" %}
            <span class="material-icons"> check_circle_outline </span>
            {% elsif result.more_details[0].traffic_spec == "Half" %}
            <span class="material-icons"> unpublished </span>
            {% endif %}
          </td>
          <td>{{result.more_details[1].passing_percentage}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
