<div class="row">
    <div class="col s12">
  
      <!-- Comparative Spectrum Arrow -->
      <h2 class="white-text center landscape-category">Service Meshes</h2>
  
      <!-- Comparative Spectrum Table -->
      {% assign
        PROJECTS = 'A10, Aspen, grey, cilium' | downcase | split: ', ' %}
      {% assign
        KEYS = 'multi-cluster, autoinject, tracing, prometheus' | downcase | split: ', ' %}
      {% assign
        GREAT = 'Jaeger' | downcase %}
      {% assign
        GOOD = 'Yes, Replaced' | downcase %}
      {% assign
        BAD = 'No, ?' | downcase %}
      {% include partials/spectrum/table.html PROJECTS=PROJECTS KEYS=KEYS GREAT=GREAT GOOD=GOOD BAD=BAD %}
  
      {% comment %}
  
      <!-- Comparative Spectrum Arrow -->
      {% include partials/spectrum/arrow.html
        NAME = 'Istio-compliant'
        COLOR = 'grey'
      %}
      <!-- TODO: add Istio Compliant cards -->
      {% endcomment %}
  
  
      <!-- Multi-Tenancy Arrow -->
      <h2 class="white-text center landscape-category">Multi-Tenancy</h2>
      <!-- Multi-Tenancy Cards -->
      {% include partials/spectrum/cards.html
        KEY = 'multi-tenant'
        VALUE = 'Yes'
      %}
  
      <!-- Open Source Arrow -->
      <h2 class="white-text center landscape-category">Open Source</h2>
      <!-- Support for CNI Cards -->
      {% include partials/spectrum/cards.html
        KEY = 'open-source'
        VALUE = 'Yes'
      %}
  
      <!-- Support for CNI Arrow -->
      <h2 class="white-text center landscape-category">Support for CNI</h2>
      <!-- Support for CNI Cards -->
      {% include partials/spectrum/cards.html
        KEY = 'cni-support'
        VALUE = 'Yes'
      %}
  
  
      <!-- Arrow and Network Engineers grid -->
      {% 
        include partials/spectrum/arrow.html
        LVALUE = 'Network Engineers'
        
        RVALUE = 'Developers'
        
        %}
      {% include partials/spectrum/cards-ordered.html
        KEY = 'network-engineer'
        VALUE = 'Yes'
        orderKey = 'engineer-order'
        %}
      <!-- Cloud grid -->
      {% 
        include partials/spectrum/arrow.html
        LVALUE = 'Cloud'
        
        RVALUE = 'Cloud'
      %}
      {% include partials/spectrum/cards-ordered.html
        KEY = 'cloud'
        VALUE = 'Yes'
        orderKey = 'cloud-order'
      %}
  
      <!-- Underlay - Overlay grid -->
      {% 
        include partials/spectrum/arrow.html
        LVALUE = 'Underlay'
        
        RVALUE = 'Overlay'
        
      %}
      {% include partials/spectrum/cards-ordered.html
        KEY = 'underlay'
        VALUE = 'Yes'
        orderKey = 'underlay-order'
      %}
  
      <!-- Convenience grid -->
      {% 
        include partials/spectrum/arrow.html
        LVALUE = 'Convenience'
        
        RVALUE = 'Convenience'
        
      %}
      {% include partials/spectrum/cards-ordered.html
        KEY = 'convenience'
        VALUE = 'Yes'
        orderKey = 'convenience-order'
      %}
  
      <!-- Arrow scale grid -->
      {% 
        include partials/spectrum/arrow.html
        LVALUE = 'Scale'
        
        RVALUE = 'Scale'
        
      %}
      {% include partials/spectrum/cards-ordered.html
        KEY = 'scale'
        VALUE = 'Yes'
        orderKey = 'scale-order'
      %}
  
    </div>
  </div>