---
layout: default
---
<div class="container no-pad-top">
  <div id="ecosystem" class="section scrollspy">
    <h3 style="text-align:center;color:aliceblue;">The Service Mesh Community</h3>
    {% include ecosystem.html %}
  </div>
</div>

<!-- <div class="container no-pad-top" >
  <div id="books" class="section scrollspy">
    <h3 style="text-align:center;color:aliceblue;">Books</h3>
      {% include books.html %}
  </div>
</div> -->

<!-- <div class="container" style="padding:20px;">
  <div id="skills" class="section scrollspy">
   <h3 style="text-align:center;">Characterizations and Contrasts</h3>
   {% include skills.html %}
 </div>
</div> -->

  <!-- <div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">

      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.parallax_image_two}}" alt="Unsplashed background img 3"></div>
</div>  -->

<!-- <div class="container no-pad-top" >
  <div id="workshops" class="section scrollspy">
    <h3 style="text-align:center;color:aliceblue;"><a href="/workshops" alt="Service Mesh Training" style="color:aliceblue;">Workshops</a></h3>
    {% include collections/workshops.html %}
  </div>
</div> -->