{% include head.html %}

  <div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container" style="height: 280px;">
    <div class="container">

    <div style="padding-right: 5%; padding-left:5%;">
        <img src="/assets/images/cube.png" align="left" height="270px" style="padding-right:20px;" />
        <h1  style="  font-family:  'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', Helvetica, sans-serif; padding-top:20px; 
          color: #ffff !important; text-shadow: 1px 2px #000000;">Layer5.io</h1>
         <p style=" font-size: 2em;color:#cfd8dc;line-height:15px;" class="light text-lighten-2">A collection of meshy things. <br />
         <p style=" font-size: 1.5em;color:#cfd8dc;" class="light text-lighten-2"><i>Characterizing and contrasting service meshes and related technologies.</i></p>
          <!-- <h5 class="header light" style="float:left;">{{ site.description }}</h5> -->
        
        <!-- <br><br> -->

      </div>
    </div>
    <div></div>
    <!-- <div class="parallax"><img src="{{site.parallax_image_one}}" alt="Layer 5 Service Mesh"></div> -->
  </div>
</div>

<div id="cookies" style="display:{{site.cookies_banner}}">
  <p style="text-align:left; padding-left:8px"><a value="hide/show" id="check" class="waves-effect waves-light green lighten-1 btn btn-floating pulse" onclick="Materialize.toast('{{site.cookie_accept_message}}', 2000)" ><i class="material-icons">check</i></a></p>
  {% include cookies.html %}
</div>

<div class="container" style="padding:20px;">
  <div id="portfolio" class="section scrollspy">
  <h3 style="text-align:center;color:aliceblue;">{{site.portfolio_heading}}</h3>

{% include portfolio_{{site.portfolio_type}}.html %}

</div>


</div>

<!--<div class="container" style="padding:20px;">
  <div id="skills" class="section scrollspy">
   <h3 style="text-align:center;">Characterizations and Contrasts</h3>
   {% include skills.html %}
 </div>
</div>

   <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{site.parallax_image_two}}" alt="Unsplashed background img 3"></div>
  </div> -->


<div class="container no-pad-top" >
  <div id="blog" class="section scrollspy">
  <h3 style="text-align:center;color:aliceblue;">Upcoming Books</h3>
  {% include blog-feed.html %}
</div>
</div>

<div class="container">
  <div id="contact" class="section scrollspy">
  <h3 style="text-align:center;color:aliceblue;">Contact / Subscribe</h3>
  {% include contact.html %}
</div>
</div>






{% include footer.html %}
