{% include head.html %}

{% include banner.html %}

<div class="container"  style="z-index:1;">
    <div class="col s10">
        <div class="row" style="padding:10px;">
         <!--   <a id="projects" class="waves-effect waves-dark btn white-text darken-2 l5-light-blue
 z-depth-4" href="{{site.baseurl}}/projects"><i class="material-icons">projects</i></a> -->
        </div>
        <h3 class="post-title" itemprop="name headline" style="text-align:center;color:aliceblue">{{ page.title | escape }}</h3>

        <div class="post-content" style="padding:2em;" itemprop="articleBody">
            {{ content }}
        </div>

    </div>
</div>

{% include newsletter-signup.html %}

{% include footer-plain.html %}