{% include head.html %} {% include banner.html %}

<div class="container" style="z-index: 1;">
  <h3 class="post-title"
    itemprop="name headline"
    style="text-align: center; color:#fff;">
    {{ page.title | escape }}
  </h3>

  <div class="post-content" style="padding: 2em;" itemprop="articleBody">
    {{ content }}
  </div>
{% if page.title == "Service Mesh Performance" %}

{% include performance.html %}

{% endif %}
  <h3 style="text-align:center;">
    <a href="/projects" alt="Service Mesh Tools" class="white-text">Other Projects</a></h3>
  {% include collections/projects.html %}
</div>

{% include newsletter-signup.html %} {% include footer-plain.html %}
