{% include head.html %}

  <div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container" style="height: 280px;">
    <div class="container">

    <div style="padding-right: 5%; padding-left:5%;">
        <img src="/assets/images/cube.png" align="left" height="270px" style="padding-right:20px;" />
        <h1  style="  font-family:  'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', Helvetica, sans-serif; padding-top:20px; 
          color: #ffff !important; text-shadow: 1px 2px #000000;">Layer5.io</h1>  
         <p style=" font-size: 2em;color:#cfd8dc;line-height:15px;" class="light text-lighten-2"Your subscription to our list has been confirmed.
         <br />
         Thank you for subscribing! 
         <div class="row" style="padding:10px;">
            <a id="home" class="waves-effect waves-light btn white-text darken-2 orange z-depth-4" href="{{site.baseurl}}/#home"><i class="material-icons">arrow_back</i></a>
          </div>
                   <!-- <p>&nbsp;&nbsp;<a style="font-weight:bold; color: rgba(255, 152, 0, 0.7);" href="/">back to site</a></p> -->
          <!-- <h5 class="header light" style="float:left;">{{ site.description }}</h5> -->
        
        <!-- <br><br> -->

      </div>
    </div>
    <div></div>
    <!-- <div class="parallax"><img src="{{site.parallax_image_one}}" alt="Layer 5 Service Mesh"></div> -->
  </div>
</div>


{% include footer.html %}
