{% include head.html %}

  <div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container" >
    <div class="container">

    <div style="padding-right: 5%; padding-left:5%;">
      <img class="hide-on-med-and-down " src="/assets/images/cube.png" align="left" height="270px" style="padding-right:20px;" />
      <img class="show-on-med-and-down" src="/assets/images/cube-sh-small.png" align="left"  style="padding-right:20px;" />
      <h1  style="  font-family:  'Open Sans', sans-serif; padding-top:20px; 
        color: #ffff !important; text-shadow: 1px 2px #000000; line-height: 100%;">Layer5.io</h1>
         <p style=" font-size: 2em;color:#EEEEEE;line-height:30px;" 
         class="light text-lighten-2">Your subscription to our list is confirmed.</p>
         <p style=" font-size: 1.25em;color:#cfd8dc;line-height:15px;" 
         class="light text-lighten-2">
         Thank you for <a class="white-text" href="/subscribe">subscribing</a>! </p>
         <div class="row" style="padding:10px;">
            <a id="home" class="waves-effect waves-light btn white-text darken-2 l5-light-blue z-depth-4" 
            href="{{site.baseurl}}/#home"><i class="material-icons">arrow_back</i></a>
          </div>

      </div>
    </div>
    <div>
    </div>
  </div>
</div>
<!-- <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" 
  data-dojo-config="usePlainJson: true, isDebug: false">
</script>
<script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], 
  function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"6b50be5aea3dfe1fd4c041d80","lid":"6bb65defeb","uniqueMethods":true}) })
</script> -->

{% include footer-plain.html %}
