<div class="container no-pad-top" >
  <div id="events" class="section scrollspy">
    <h3 style="text-align:center;color:aliceblue;">
      <a href="/events/meetups" alt="Service Mesh Community Events" style="color:aliceblue;">Meetups</a></h3>
      <div class="row" style="display: flex; align-items: center;
      justify-content: center;
      height: auto; flex-direction: row; flex-flow: row;">
        <div class="col s12 m6">
          <div class="card">
            <a href="https://www.meetup.com/Cloud-Native-Austin/" class="waves-effect z-depth-0 
               waves-light darken-3" style="background-color:{{ site.layer5.gray }}; width: 100%;" >
              <div class="card-image">  
                <img class="light-shadow" src="/assets/images/events/meetup_white.svg" 
                style="max-width:90%; max-height: 180px; 
                width: auto; height: auto; text-align: center; padding:5%; 
                margin-left: auto; margin-right: auto;" />
                <!-- <span class="card-title"><a style="color:white">{{ book.title | escape }}</a></span> -->
                <a id="cloud-native-austin-meetup" class="btn-floating halfway-fab waves-effect z-depth-4 
                l5-light-green waves-dark darken-3"
                href="https://www.meetup.com/Cloud-Native-Austin/">
                <img src="/assets/images/buttons/external-link_white.svg" 
                    style="position:absolute; max-width:100%;  max-height: 20px; width: auto;
                    height: auto; text-align: center; top: 10px;
                    margin-left: auto;
                    margin-right: auto;" /></a>
              </div>
              <div class="card-content center">
                <h5 class="black-text">Cloud Native Austin</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <a href="https://www.meetup.com/Docker-Austin/" class="waves-effect z-depth-4 
               waves-light darken-3" style="background-color:{{ site.layer5.gray }}; width: 100%;" >
              <div class="card-image">  
                <img class="light-shadow" src="/assets/images/events/meetup_white.svg" 
                style="max-width:90%; max-height: 180px; 
                width: auto; height: auto; text-align: center; padding:5%; 
                margin-left: auto; margin-right: auto;" />
                <!-- <span class="card-title"><a style="color:white">{{ book.title | escape }}</a></span> -->
                <a id="cloud-native-austin-meetup" class="btn-floating halfway-fab waves-effect z-depth-4 
                l5-light-green waves-dark darken-3"
                href="https://www.meetup.com/Docker-Austin/">
                <img src="/assets/images/buttons/external-link_white.svg" 
                    style="position:absolute; max-width:100%;  max-height: 20px; width: auto;
                    height: auto; text-align: center; top: 10px;
                    margin-left: auto;
                    margin-right: auto;" /></a>
              </div>
              <div class="card-content center">
                <h5 class="black-text">Docker Austin</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
  </div>
    <div id="events" class="section scrollspy">
      <h3 style="text-align:center;color:aliceblue;">
        <a href="/events" alt="Service Mesh Community Events" style="color:aliceblue;">Events</a></h3>
      {% include collections/events.html %}
    </div>
</div>