<div class="container no-pad-top post" >
  <div id="events" class="section scrollspy">
    <h3 style="text-align:center;color:aliceblue;">
      <a href="/events/meetups" alt="Service Mesh Community Events" style="color:aliceblue;">Meetups</a></h3>
      <div class="card">
        <div class="post-content"  style="display: flex; align-items: center; justify-content: center;
        height: auto; width: auto; flex-flow: row;" itemprop="articleBody">
          <p>Meet Layer5 at events, conferences, workshops, or in-person meetups we organize and speak at around the world. 
          You can connect with us at any of the events below.</p>
            </div>
      <div class="row" style="margin:auto;">
        <div class="col s6 m6">

            <a href="https://www.meetup.com/Cloud-Native-Austin/" class="waves-effect z-depth-0 
               waves-light darken-3" style="background-color:{{ site.layer5.gray }}; width: 100%;" >
              <div class="card-image">  
                <img class="light-shadow" src="/assets/images/workshops/cloud-native-austin-meetup.png" 
                style="max-width:90%; max-height: 180px; 
                width: auto; height: auto; text-align: center; padding:5%; 
                margin-left: auto; margin-right: auto;" />
                <!-- <span class="card-title"><a style="color:white">{{ book.title | escape }}</a></span> -->
                <a id="cloud-native-austin-meetup" class="btn-floating halfway-fab waves-effect z-depth-4 
                l5-light-blue
 waves-dark darken-3"
                href="https://www.meetup.com/Cloud-Native-Austin/">
                <img src="/assets/images/buttons/external-link_white.svg" 
                    style="position:absolute; max-width:100%;  max-height: 20px; width: auto;
                    height: auto; text-align: center; top: 10px;
                    margin-left: auto;
                    margin-right: auto;" /></a>
              </div>
              <div class="card-content center">
                <h5 class="black-text">Cloud Native Austin</h5>
              </div>
            </a>
        </div>

        <div class="col s6 m6">
            <a href="https://www.meetup.com/Docker-Austin/" class="waves-effect z-depth-0
               waves-light darken-3" style="background-color:{{ site.layer5.gray }}; width: 100%;" >
              <div class="card-image">  
                <img class="light-shadow" src="/assets/images/events/docker_white.svg" 
                style="max-width:90%; max-height: 180px; 
                width: auto; height: auto; text-align: center; 
                margin-left: auto; margin-right: auto;" />
                <!-- <img class="light-shadow" src="/assets/images/events/meetup_white.svg" 
                style="max-width:90%; max-height: 180px; float:left;" /> -->
                <!-- <span class="card-title"><a style="color:white">{{ book.title | escape }}</a></span> -->
                <a id="cloud-native-austin-meetup" class="btn-floating halfway-fab waves-effect z-depth-4 
                l5-light-blue
 waves-dark darken-3"
                href="https://www.meetup.com/Docker-Austin/">
                <img src="/assets/images/buttons/external-link_white.svg" 
                    style="position:absolute; max-width:100%;  max-height: 20px; width: auto;
                    height: auto; text-align: center; top: 10px;
                    margin-left: auto;
                    margin-right: auto;" /></a>
              </div>
              <div class="card-content center">
                <h5 class="black-text">Docker Austin</h5>
              </div>
            </a>
        </div>

      </div>
  </div>
</div>
<h3 style="text-align:center;padding-top:2vh;" style="color:aliceblue;" class="l5-dark-grey-text">
  <a href="/events" class="white-text" alt="Service Mesh Community Events">Events</a></h3>
    <div id="events" class="section scrollspy" >
      <div class="card" style="padding-right: 1vw;padding-left: 1vw;">

        <h5 class="black-text" style="padding: 1rem;">Upcoming Industry Events</h5>
        <p style="padding-left: 1rem; padding-right: 1rem;"> Want to learn more about our projects? Find out which events 
          the Layer5 team is speaking at in your area.</p>
      {% include collections/events.html %}
    </div>
    </div>
</div>