<div class="row flex">
  {% assign sorted = (site.programs | sort: 'date') | reverse %} {% for program
  in sorted %} {% if program.visibility != "hide" %}

  <div class="col s12 m3" style="margin-top: 20px">
    <style scoped>
      .program-card {
        display: block;
        height: 100%;
        background-color: {{ site.layer5.gray }}; 
      }

    </style>
    <div class="card hoverable program-card waves-effect z-depth-4 waves-light darken-3">
      <a href="{{site.url}}{{ program.link }}" style="width: 100%;height: 300px;" >
        <div class="card-image">  
          <img class="light-shadow" src="{{program.thumbnail}}" style="max-width:90%; height: 180px; width: auto; text-align: center; padding:5%; 
          margin-left: auto; margin-right: auto;" />
        </div>
        <div class="card-content center">
          <h5 class="white-text" style="word-wrap: break-word;">{{program.title}}</h5>
        </div>
      </a>
    </div>
  </div>

  {% endif %} {% endfor %}
</div>
