<!-- <ul>
    {% for project in site.projects %}
    <li>
        <a href="{{site.baseurl}}/{{ project.link }}">{{ project.title }}</a>
        - {{ project.excerpt }}
    </li>
    {% endfor %}
</ul> -->

<div class="container no-pad-top">
  <div id="projects" class="section scrollspy">
    {% if include.title %}
    <h3 style="text-align: center;">
      <a href="/projects" alt="{{include.title}}" class="white-text">{{include.title}}</a>
    </h3>
    {% elsif include.title != "no" %}
    <h3 style="text-align: center;">
      <a href="/projects" alt="Service Mesh Tools" class="white-text">Projects</a>
    </h3>
    {% endif %} 
    {% include collections/projects.html %}
  </div>
</div>