<div class="row flex">
  {% assign sorted = (site.projects | sort: 'title') %} 
  {% for project in sorted %} 
    {% if project.visibility != "hide" %}
    
  <style scoped>
    .project-card {
      display: block;
      height: 100%;
      background-color: {{site.layer5.gray}};
    }
  </style>

  <div class="col s12 m4" style="margin-top: 20px">
    <div class="card project-card hoverable waves-effect z-depth-4 waves-light darken-3">
      <a href="{{site.url}}{{ project.link }}" style="width: 100%;">
        <div class="card-image">
          <img class="light-shadow" src="{{project.thumbnail}}" style="
              max-width: 90%;
              max-height: 180px;
              width: auto;
              height: auto;
              text-align: center;
              padding: 5%;
              margin-left: auto;
              margin-right: auto;
            " />
        </div>
        <div class="card-content center">
          <h5 class="white-text">{{project.title}}</h5>
        </div>
      </a>
    </div>
  </div>

  {% endif %} {% endfor %}
</div>