<div class="row">
  {% assign sorted = (site.projects | sort: 'date') | reverse %}
  
  {% for project in sorted %}
  
  {% if project.visibility != "hide" and project.type != "news" %}

  <div class="col s12 m3"><a href="{{site.url}}{{ project.link }}">
    <div class="card" style="z-index: 1; height:280px; background-color:{{ site.layer5.gray }};">
      <div class="card-image">
        
        <a href="{{site.url}}{{ project.link }}">
          <img src="{{project.image}}" style="max-width:100%;  max-height: 180px; width: auto;
          height: auto; text-align: center; padding:5%;
          margin-left: auto;
          margin-right: auto;"></a>
        <!-- <span class="card-title"><a style="color:white">{{ book.title | escape }}</a></span> -->
      <a id="{{site.url}}{{ project.link }}" class="btn-floating halfway-fab waves-effect z-depth-4 
        l5-light-blue waves-dark darken-3"
        href="{{site.url}}{{ project.link }}">
        <i class="material-icons">more_horiz</i></a>
      </div>
      <div class="card-content center">
        <h5 class="white-text">{{project.title}}</h5>
      </div>
    </div></a>
  </div>
  {% endif %}

  {% endfor %}
</div>