<div class="row">
    {% for workshop in site.workshops %}

    <div class="col s12 m4">
        <div class="card medium sticky-action">
            <div class="card-image waves-effect waves-block waves-light" style="{{workshop.style}}">
                <img class="activator " src="{{workshop.img}}" style="display: block; width:100%;   vertical-align: middle;

                margin: auto;" />
            </div>
            <style>
            .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
                color: #039be5;
            }
            </style>
            <div class="card-action">
                <span class="card-title activator grey-text text-darken-4">{{workshop.name}}<i class="material-icons right">more_vert</i></span>
                <p>
                    {% if workshop.labs %}<a href="{{workshop.labs}}">LABS</a> {% endif %}
                    {% if workshop.rurl %} | &nbsp;&nbsp;&nbsp;<a href="{{workshop.rurl}}">LAB RESOURCES</a> {% endif %}
                    {% if workshop.slides %} | &nbsp;&nbsp;&nbsp;<a href="{{workshop.slides}}">SLIDES</a> {% endif %}
                    {% if workshop.slack %} | &nbsp;&nbsp;&nbsp;<a href="{{workshop.slack}}">SLACK</a> {% endif %}
                    {% if workshop.video %} | &nbsp;&nbsp;&nbsp;<a href="{{workshop.video}}">VIDEO</a> {% endif %}
                    {% if workshop.status == "upcoming" %} <span class="l5-light-grey-text"><i>Upcoming...</i></span> {% endif %}
                </p>

            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                <p><a href="{{workshop.eurl}}">Session:</a> {{workshop.desc}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
